CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_COST_ACH_TRANS]
(
@PERIOADA CHAR(9),
@ERROR_ACH_TRAN BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE COST ACHIZITIE SI TARIF TRANSPORT PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM fn_AFC_EE_VF_COST_ACH_TRANS (@PERIOADA) WHERE MESAJ_EROARE IS NOT NULL ;

						DELETE FROM  dbo.AFC_EE_VF_COST_ACH_TRANS;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_COST_ACH_TRANS
										SELECT * FROM fn_AFC_EE_VF_COST_ACH_TRANS (@PERIOADA) WHERE MESAJ_EROARE IS NOT NULL

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_ACH_TRAN=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_COST_ACH_TRANS (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- DATE COST ACHIZITIE SUNT COMPLETE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_ACH_TRAN=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE DATE COST ACHIZITIE PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;
GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_DATE_CURBA]
(
@PERIOADA CHAR(9) = '999999999',
@ERROR_D_CURBA BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE CURBA ! ';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;
			BEGIN TRAN ;

				TRUNCATE TABLE dbo.AFC_EE_VF_DATE_CURBA ;


-- TEMP TABLE

				CREATE TABLE #Temp_Coef (   COD CHAR(50)NOT NULL,
											INDEX #Temp_Coef NONCLUSTERED ( COD)
										) ;

				INSERT INTO #Temp_Coef ( COD )
				SELECT dbo.fn_REPLACE_SPECIAL_CHAR(CURBA) COD FROM dbo.AFC_MD_DIM_COEF WHERE MOD_ID=1 GROUP BY CURBA 
					UNION
				SELECT dbo.fn_REPLACE_SPECIAL_CHAR(COD) FROM dbo.AFC_EE_INT_COEF_CURBA GROUP BY COD


				DECLARE @EROR_1 NVARCHAR(100)='CURBA NU ARE COEFICIENT DEFINIT'
				DECLARE @SIR_CONT_1 NVARCHAR(MAX);

				WITH a AS (
							SELECT dbo.fn_REPLACE_SPECIAL_CHAR(COD) COD FROM AFC_EE_INT_MAPARE_CURBA GROUP BY COD
								EXCEPT
							SELECT COD FROM #Temp_Coef GROUP BY COD
							)

					SELECT @SIR_CONT_1=CONCAT_WS(',',@SIR_CONT_1,a.COD) FROM a ;

					INSERT INTO dbo.AFC_EE_VF_DATE_CURBA ( MESAJ_EROARE ) 
					SELECT @EROR_1+' : '+@SIR_CONT_1 


					DECLARE @EROR_3 NVARCHAR(100)='SUM VALOARE COEFICIENT PE LUNA TREBUIE SA FIE 1 !'
					DECLARE @SIR_CONT_3 NVARCHAR(MAX);

					WITH c AS (
								SELECT		AN, LUNA, dbo.fn_REPLACE_SPECIAL_CHAR(COD) COD, SUM(COEF) COEF ,
											('AN : ' + CAST(AN AS VARCHAR) + ' LUNA : ' + CAST(LUNA AS VARCHAR) + ' ID CURBA : ' + COD ) AN_LUNA_COD
								FROM		dbo.vw_AFC_EE_VAL_COEF 
								GROUP BY	AN, LUNA, COD
								HAVING		SUM(COEF) NOT BETWEEN 0.96 AND 1.04
								)

						SELECT @SIR_CONT_3=CONCAT_WS(',',@SIR_CONT_3,c.AN_LUNA_COD) FROM c ;

						INSERT INTO dbo.AFC_EE_VF_DATE_CURBA ( MESAJ_EROARE )  
						SELECT @EROR_3+' : '+@SIR_CONT_3


					DECLARE @EROR_4 NVARCHAR(100)='EROARE INTERVAL ORAR!'
					DECLARE @SIR_CONT_4 NVARCHAR(MAX);

					DELETE FROM AFC_EE_CALC_INTRV_COEF ;
					DELETE FROM AFC_EE_CALC_INTRV_MACHETA ;

					INSERT INTO dbo.AFC_EE_CALC_INTRV_MACHETA ( AN, INTRV )
					SELECT LEFT(DATA_CONS,4) , CONCAT_WS('__',DATA_CONS,ORA_CONS,INTERVAL_CONS) INTRV
					FROM dbo.AFC_EE_INT_COEF_CURBA
					GROUP BY DATA_CONS, ORA_CONS, INTERVAL_CONS ;

					INSERT INTO dbo.AFC_EE_CALC_INTRV_COEF ( AN, INTRV )
					SELECT AN, CONCAT_WS('__',DATA_CONS,ORA_CONS,INTERVAL_CONS) INTRV
					FROM AFC_EE_INT_INTERV_ORA
					GROUP BY AN, DATA_CONS, ORA_CONS, INTERVAL_CONS;

						WITH d AS (
									SELECT INTRV FROM dbo.AFC_EE_CALC_INTRV_MACHETA WHERE AN IN ( SELECT DISTINCT AN FROM dbo.AFC_EE_CALC_INTRV_COEF ) GROUP BY INTRV
										EXCEPT
									SELECT INTRV FROM dbo.AFC_EE_CALC_INTRV_COEF GROUP BY INTRV
								  )

						SELECT @SIR_CONT_4=CONCAT_WS(',',@SIR_CONT_4,d.INTRV) FROM d ;

						INSERT INTO dbo.AFC_EE_VF_DATE_CURBA ( MESAJ_EROARE )  
						SELECT @EROR_4+' : '+@SIR_CONT_4

					DECLARE @EROR_5 NVARCHAR(100)='VALOARE COEFICIENT TREBUIE SA FIE >= 0!'
					DECLARE @SIR_CONT_5 NVARCHAR(MAX);

					WITH e AS (
								SELECT		COD
								FROM		dbo.AFC_EE_INT_COEF_CURBA
								WHERE       COEF<0
								GROUP BY	COD
								)

						SELECT @SIR_CONT_5=CONCAT_WS(',',@SIR_CONT_5,e.COD) FROM e ;

						INSERT INTO dbo.AFC_EE_VF_DATE_CURBA ( MESAJ_EROARE )  
						SELECT @EROR_5+' : '+@SIR_CONT_5

-- HOUSEKEEPING

					DELETE FROM dbo.AFC_EE_VF_DATE_CURBA WHERE MESAJ_EROARE IS NULL ;

			COMMIT TRAN;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.AFC_EE_VF_DATE_CURBA WHERE MESAJ_EROARE IS NOT NULL ;

						IF @COUNT>0
								BEGIN
										
										DECLARE @NR_1 CHAR(10); 
										DECLARE @MSG_2 VARCHAR(100);
										SET		@NR_1=TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET     @MSG_2='01-  '+@NR_1 + ' DE ERORI AU FOST IDENTIFICATE ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_D_CURBA=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_DATE_CURBA  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- DATELE SUNT VALIDE !';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_D_CURBA=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE DATE CURBA ! ';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;

GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_DATE_SUBPOR]
(
@PERIOADA CHAR(9) ='999999999',
@ERROR_SUBPOR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE SUBPORTOFOLIU !';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;
	
			BEGIN TRAN ;
		
			EXEC dbo.sp_AFC_EE_P_CALC_VALABILITATE ;

-- DELETE

			TRUNCATE TABLE dbo.AFC_EE_VF_DATE_SUBPOR;


				DECLARE @EROR_1 NVARCHAR(100)='PARTENERDEAFACERI ARE BANDA DAR NU ESTE ALOCAT IN SUBPORTOFOLIU P2 SAU P3 ';
				DECLARE @SIR_CONT_1 NVARCHAR(MAX);
      
					WITH src AS  (	
								SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA GROUP BY PARTENERDEAFACERI
									EXCEPT
								SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_MAPARE_SUBPOR WHERE COD IN ('P2','P3') GROUP BY PARTENERDEAFACERI
								) 

				SELECT @SIR_CONT_1=CONCAT_WS(',',@SIR_CONT_1,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_1+' : '+@SIR_CONT_1 ;

				DECLARE @EROR_2 NVARCHAR(100)='CANTITATE BANDA TREBUIE SA FIE INTRE 0 SI 100';
				DECLARE @SIR_CONT_2 NVARCHAR(MAX);
      
					WITH src AS  (	
								SELECT DISTINCT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE CANT_BANDA_ORA NOT BETWEEN 0 AND 100
								) 
				SELECT @SIR_CONT_2=CONCAT_WS(',',@SIR_CONT_2,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_2+' : '+@SIR_CONT_2 ;


				DECLARE @EROR_3 NVARCHAR(100)= 'PARTENERDEAFACERI : NU ARE ALOCAT CANTITATE BANDA SI PRET BANDA ';
				DECLARE @SIR_CONT_3 NVARCHAR(MAX);

					WITH src AS  (	
								SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_MAPARE_SUBPOR WHERE COD IN ('P2','P3') GROUP BY PARTENERDEAFACERI
									EXCEPT
								SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA GROUP BY PARTENERDEAFACERI
								) 

				SELECT @SIR_CONT_3=CONCAT_WS(',',@SIR_CONT_3,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_3+' : '+@SIR_CONT_3 ;


				DECLARE @EROR_4 NVARCHAR(100)='PRET BANDA TREBUIE SA FIE INTRE 0 SI 400';
				DECLARE @SIR_CONT_4 NVARCHAR(MAX);
      
					WITH src AS  (	
								SELECT DISTINCT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PRET_BANDA_ORA NOT BETWEEN 0 AND 400
								) 
				SELECT @SIR_CONT_4=CONCAT_WS(',',@SIR_CONT_4,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_4+' : '+@SIR_CONT_4 ;


				DECLARE @EROR_10 NVARCHAR(100)= 'INCEPUTUL OFERTEI TREBUIE SA FIE > SFARSITUL OFERTEI :';
				DECLARE @SIR_CONT_10 NVARCHAR(MAX);

					WITH src AS (	
								SELECT DISTINCT PARTENERDEAFACERI 
								FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA
								WHERE VALABIL_PANALA<= VALABIL_DELA
								) 

				SELECT @SIR_CONT_10 = CONCAT_WS(',',@SIR_CONT_10,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_10+' : '+@SIR_CONT_10 ;

				DECLARE @EROR_11 NVARCHAR(100)= 'OFERTE DIFERITE PENTRU ACELAS INTERVAL :';
				DECLARE @SIR_CONT_11 NVARCHAR(MAX);

				TRUNCATE TABLE AFC_EE_CALC_CHECK_INTERV_BANDA ;

				WITH src AS ( 
							  SELECT PARTENERDEAFACERI, COUNT(*) NR
							  FROM   AFC_EE_INT_ACH_SUBPOR_BANDA
							  GROUP BY PARTENERDEAFACERI
							  HAVING COUNT(*)>1
							  )
				INSERT INTO dbo.AFC_EE_CALC_CHECK_INTERV_BANDA ( PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, MOD_TIMP, MOD_ID ) 
				SELECT    PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA,  MOD_TIMP, 
							ROW_NUMBER() OVER(PARTITION BY PARTENERDEAFACERI   ORDER BY PARTENERDEAFACERI ASC, VALABIL_DELA ASC, VALABIL_PANALA ASC ) AS MOD_ID
				FROM	  dbo.AFC_EE_INT_ACH_SUBPOR_BANDA 
				WHERE	  PARTENERDEAFACERI IN ( SELECT DISTINCT PARTENERDEAFACERI FROM src )
				GROUP  BY PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA,  MOD_TIMP

				DECLARE @PARTENERDEAFACERI CHAR(10);
				DECLARE crs CURSOR FOR
								SELECT		PARTENERDEAFACERI
								FROM		dbo.AFC_EE_CALC_CHECK_INTERV_BANDA 
								GROUP BY    PARTENERDEAFACERI
								ORDER BY	PARTENERDEAFACERI;
				OPEN crs ;
				FETCH NEXT FROM crs INTO @PARTENERDEAFACERI ;
				WHILE @@FETCH_STATUS=0
					BEGIN				
							WITH src AS (
										SELECT PARTENERDEAFACERI,VALABIL_DELA, VALABIL_PANALA, MOD_ID, SUM(ID_EROARE) NR_ERORI 
										FROM   dbo.fn_AFC_EE_ERORI_BANDA (@PARTENERDEAFACERI)
										GROUP BY PARTENERDEAFACERI,VALABIL_DELA, VALABIL_PANALA, MOD_ID
										)

							UPDATE  tgt
							SET     NR_ERORI= src.NR_ERORI
							FROM    dbo.AFC_EE_CALC_CHECK_INTERV_BANDA tgt, src
							WHERE   tgt.PARTENERDEAFACERI=src.PARTENERDEAFACERI	AND 
									tgt.VALABIL_DELA=src.VALABIL_DELA			AND 
									tgt.VALABIL_PANALA=src.VALABIL_PANALA		AND 
									tgt.MOD_ID=src.MOD_ID 
				   
							UPDATE  dbo.AFC_EE_CALC_CHECK_INTERV_BANDA
							SET     NR_ERORI=0
							WHERE   PARTENERDEAFACERI=@PARTENERDEAFACERI	    AND 
									MOD_ID=1

						FETCH NEXT FROM crs INTO @PARTENERDEAFACERI ;
					END
				CLOSE crs;
				DEALLOCATE crs;


					WITH src AS (	
								SELECT DISTINCT PARTENERDEAFACERI 
								FROM dbo.AFC_EE_CALC_CHECK_INTERV_BANDA
								WHERE NR_ERORI!=0
								) 

				SELECT @SIR_CONT_11 = CONCAT_WS(',',@SIR_CONT_11,src.PARTENERDEAFACERI) FROM src ;

				INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR ( MESAJ_EROARE )
				SELECT  @EROR_11+' : '+@SIR_CONT_11 ;


			COMMIT TRAN;	

			BEGIN TRAN;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= COUNT(*) FROM dbo.AFC_EE_VF_DATE_SUBPOR WHERE MESAJ_EROARE IS NOT NULL ;

						IF @COUNT>0
								BEGIN

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@COUNT as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE !';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_SUBPOR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_DATE_SUBPOR  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- DATELE SUNT VALIDE !'; 

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_SUBPOR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE DATE SUBPORTOFOLIU !';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;
GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_GM_TARGET]
(
@PERIOADA CHAR(9),
@ERROR_GM_TARGET BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE MARJA TARGET PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_GM_TARGET (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_GM_TARGET ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_GM_TARGET
										SELECT * FROM dbo.fn_AFC_EE_VF_GM_TARGET (@PERIOADA)

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_GM_TARGET=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_GM_TARGET (  MESAJ_EROARE   )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- MARJA TARGET ESTE VALIDA PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_GM_TARGET=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE MARJA TARGET PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;
GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_ID_SUBPOR]
(
@PERIOADA CHAR(9),
@ERROR_ID_SUBPOR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE ID SUBPORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_ID_SUBPOR (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_ID_SUBPOR ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_ID_SUBPOR
										SELECT * FROM dbo.fn_AFC_EE_VF_ID_SUBPOR (@PERIOADA) 

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_ID_SUBPOR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_ID_SUBPOR  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- TOTI CLIENTII SUNT ALOCATI IN SUBPORTOFOLII PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_ID_SUBPOR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET           @MSG_4 ='FINISH VERIFICARE ID SUBPORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;
GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_MAPARE_CURBA]
(
@PERIOADA CHAR(9),
@ERROR_M_CURBA BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE MAPARE CURBA PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


			BEGIN TRAN ;

-- DELETE

						TRUNCATE TABLE dbo.AFC_EE_VF_MAPARE_CURBA ;

-- CHECK ID
	
						CREATE TABLE #Temp_ID_Curba ( INSTALATIE CHAR(10)NOT NULL,
												      CURBA VARCHAR(50)NOT NULL, 
												      INDEX #Temp_Curba NONCLUSTERED ( INSTALATIE )
												    ) ;

						INSERT INTO #Temp_ID_Curba ( INSTALATIE, CURBA )
						SELECT INSTALATIE, CURBA FROM dbo.AFC_MD_DIM_CURBA WHERE MOD_ID=1 GROUP BY INSTALATIE, CURBA

						INSERT INTO #Temp_ID_Curba ( INSTALATIE, CURBA )
						SELECT INSTALATIE, UPPER(dbo.fn_REPLACE_SPECIAL_CHAR(COD)) CURBA FROM dbo.AFC_EE_INT_MAPARE_CURBA WHERE NOT EXISTS ( SELECT INSTALATIE, CURBA FROM #Temp_ID_Curba GROUP BY INSTALATIE, CURBA) GROUP BY INSTALATIE, COD 

						INSERT INTO #Temp_ID_Curba ( INSTALATIE, CURBA )
						SELECT ID_INST, UPPER(dbo.fn_REPLACE_SPECIAL_CHAR(CURBA)) CURBA FROM dbo.AFC_EE_INT_MM_CANT 
						WHERE ID_INST NOT IN ( SELECT INSTALATIE FROM #Temp_ID_Curba GROUP BY INSTALATIE ) 
						GROUP BY ID_INST, CURBA 

						INSERT INTO dbo.AFC_EE_VF_MAPARE_CURBA
						SELECT      'INSTALATIE : NU ARE ID CURBA ALOCATA !' AS MESAJ_EROARE, src.INSTALATIE , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
						FROM           
									(	
									SELECT INSTALATIE FROM dbo.AFC_MD_FACT WHERE STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)) GROUP BY INSTALATIE
										EXCEPT
									SELECT INSTALATIE FROM #Temp_ID_Curba GROUP BY INSTALATIE
									) src

						INSERT INTO dbo.AFC_EE_VF_MAPARE_CURBA
						SELECT      'INSTALATIE : NU ARE ID CURBA ALOCATA !' AS MESAJ_EROARE, mm.INSTALATIE , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
						FROM           
									(	
									SELECT ID_INST INSTALATIE FROM dbo.AFC_EE_INT_MM_CANT WHERE STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND PERIOADA=@PERIOADA GROUP BY ID_INST 
										EXCEPT
									SELECT INSTALATIE FROM #Temp_ID_Curba GROUP BY INSTALATIE
									) mm

-- CHECK COEF
					
						CREATE TABLE #Temp_Coef ( AN SMALLINT NOT NULL,
												  CURBA VARCHAR(50)NOT NULL,
												  INDEX #Temp_Coef NONCLUSTERED ( AN,CURBA )
												) ;
						INSERT INTO #Temp_Coef ( AN, CURBA )
						SELECT AN, CURBA 
						FROM AFC_MD_DIM_COEF 
						WHERE MOD_ID=1 
						GROUP BY AN, CURBA

						INSERT INTO #Temp_Coef ( AN, CURBA )
						SELECT YEAR(DATA_CONS) AN, UPPER(dbo.fn_REPLACE_SPECIAL_CHAR(COD)) CURBA
						FROM AFC_EE_INT_COEF_CURBA 
						WHERE NOT EXISTS ( SELECT AN, CURBA FROM #Temp_Coef GROUP BY AN, CURBA)
						GROUP BY DATA_CONS, COD

						CREATE TABLE #Temp_Curba ( INSTALATIE CHAR(10) NOT NULL,
												   CURBA VARCHAR(50)NOT NULL,
												   INDEX #Temp_Coef NONCLUSTERED ( INSTALATIE,CURBA )
												) ;
						INSERT INTO #Temp_Curba ( INSTALATIE, CURBA )
						SELECT INSTALATIE, CURBA 
						FROM AFC_MD_DIM_CURBA 
						WHERE MOD_ID=1 
						GROUP BY INSTALATIE, CURBA

						INSERT INTO #Temp_Curba ( INSTALATIE, CURBA )
						SELECT INSTALATIE, UPPER(dbo.fn_REPLACE_SPECIAL_CHAR(COD)) 
						FROM   AFC_EE_INT_MAPARE_CURBA 
						WHERE  INSTALATIE NOT IN ( SELECT DISTINCT INSTALATIE FROM #Temp_Curba )
						GROUP BY INSTALATIE, COD

						INSERT INTO dbo.AFC_EE_VF_MAPARE_CURBA 
						SELECT 'CURBA : NU ARE COEF ALOCAT PENTRU ANUL ' + tgt.AN +' !' AS MESAJ_EROARE, tgt.INSTALATIE , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
						FROM	(								
									SELECT CAST(src.AN AS VARCHAR) AN, src.INSTALATIE
									FROM   (
											  SELECT AN,INSTALATIE 
											  FROM   dbo.AFC_MD_FACT
											  WHERE  STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)) 
											  GROUP BY AN, INSTALATIE
											) src
									LEFT JOIN	
											(
											  SELECT cu.INSTALATIE, co.AN, co.CURBA
											  FROM  #Temp_Curba cu, #Temp_Coef co
											  WHERE   cu.CURBA=co.CURBA AND co.AN IN ( SELECT DISTINCT AN FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA))
											  GROUP BY cu.INSTALATIE,  co.AN, cO.CURBA
											) a
									ON		src.AN=a.AN AND src.INSTALATIE=a.INSTALATIE
									WHERE   a.CURBA IS NULL
									GROUP BY src.AN, src.INSTALATIE
								 ) tgt

						UPDATE  tgt
						SET     COD=curba.CURBA
						FROM    AFC_EE_VF_MAPARE_CURBA tgt, #Temp_ID_Curba curba
						WHERE   tgt.INSTALATIE=curba.INSTALATIE

-- CHECK MM

						INSERT INTO dbo.AFC_EE_VF_MAPARE_CURBA 
						SELECT 'CURBA : NU ARE COEF ALOCAT  ' AS MESAJ_EROARE, NULL AS INSTALATIE , tgt.CURBA AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
						FROM	(								
									SELECT src.CURBA
									FROM   (
												SELECT CURBA
												FROM   dbo.AFC_EE_INT_MM_CANT
												WHERE  PERIOADA=@PERIOADA
												GROUP BY CURBA
											) src
									LEFT JOIN	
											(
												SELECT CURBA
												FROM  AFC_MD_DIM_COEF
												WHERE   MOD_ID=1 AND AN IN ( SELECT DISTINCT AN FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA))
												GROUP BY CURBA
											) a
									ON		src.CURBA=a.CURBA
									WHERE   a.CURBA IS NULL
									GROUP BY src.CURBA
									) tgt


			COMMIT TRAN;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.AFC_EE_VF_MAPARE_CURBA ;

						IF @COUNT>0
								BEGIN
										
										DECLARE @NR_1 CHAR(10); 
										DECLARE @MSG_2 VARCHAR(100);
										SET		@NR_1=TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET     @MSG_2='01-  '+@NR_1 + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_M_CURBA=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_MAPARE_CURBA  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TOTI CLIENTII SUNT MAPATI CU CURBA DE CONSUM PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_M_CURBA=1

										DECLARE @MSG_4 VARCHAR(100);
										SET      @MSG_4 ='FINISH VERIFICARE MAPARE CURBA PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;

GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_MAPARE_SUBPOR]
(
@PERIOADA CHAR(9),
@ERROR_SUBPOR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE MAPARE SUBPORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_MAPARE_SUBPOR (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_MAPARE_SUBPOR ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_MAPARE_SUBPOR
										SELECT * FROM dbo.fn_AFC_EE_VF_MAPARE_SUBPOR (@PERIOADA) 

										DECLARE @MSG_2 VARCHAR(100);
										SET           @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_SUBPOR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_MAPARE_SUBPOR  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- TOTI CLIENTII SUNT ALOCATI IN SUBPORTOFOLII PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_SUBPOR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET           @MSG_4 ='FINISH VERIFICARE MAPARE SUBPORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;
GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_POR_CANT]
(
@PERIOADA CHAR(9),
@ERROR_POR_CANT BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE CANTITATE ESTIMATA CLIENTI PORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo. fn_AFC_EE_VF_POR_CANT (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_POR_CANT ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_POR_CANT
										SELECT * FROM dbo.fn_AFC_EE_VF_POR_CANT (@PERIOADA)

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_POR_CANT=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_POR_CANT  (  MESAJ_EROARE   )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- CANTITATEA ESTIMATA ESTE VALIDA PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_POR_CANT=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE CANTITATE ESTIMATA CLIENTI PORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;

GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_POR_CONTR]
(
@PERIOADA CHAR(9),
@ERROR_POR_CONTR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE CONTRACTELE CLIENTILOR DIN PORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+' !';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;
						SELECT    @COUNT= ISNULL(COUNT(*),0) FROM dbo. fn_AFC_EE_VF_POR_CONTR (@PERIOADA) ;

						TRUNCATE TABLE dbo.AFC_EE_VF_POR_CONTR 

						IF @COUNT>0
							BEGIN					
									INSERT INTO dbo.AFC_EE_VF_POR_CONTR
									SELECT * FROM dbo. fn_AFC_EE_VF_POR_CONTR (@PERIOADA) 

									DECLARE @MSG_2 VARCHAR(100);
									SET           @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

									EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
									PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
									SET @ERROR_POR_CONTR=0								
							END;

						ELSE IF @COUNT=0
							BEGIN
									INSERT INTO dbo.AFC_EE_VF_POR_CONTR  (  MESAJ_EROARE )
									VALUES (	'NU SUNT ERORI!' )

									DECLARE @MSG_3 VARCHAR(100);
									SET           @MSG_3='01- CONTRACTELE PENTRU CLIENTII DIN PORTOFOLIU SUNT VALIDE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

									EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
									PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
									SET @ERROR_POR_CONTR=1

									DECLARE @MSG_4 VARCHAR(100);
									SET           @MSG_4 ='FINISH VERIFICARE CONTRACTELE CLIENTILOR DIN PORTOFOLIU PENTRU PERIOADA'+' '+@PERIOADA+'!';

									EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
									PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

							END;

			COMMIT TRAN;										

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;


GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_POT_BM]
(
@PERIOADA CHAR(9),
@ERROR_POT_BM BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE POTENTIALI BM PENTRU PERIOADA'+' '+@PERIOADA+' !';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;

						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_POT_BM (@PERIOADA) ;

						DELETE FROM dbo.AFC_EE_VF_POT_BM ;

						IF @COUNT>0
								BEGIN
						
										INSERT INTO dbo.AFC_EE_VF_POT_BM
										SELECT * FROM dbo. fn_AFC_EE_VF_POT_BM (@PERIOADA) 

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_POT_BM=0

								END;

						ELSE IF @COUNT=0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_POT_BM (  MESAJ_EROARE )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- DATELE DE POTENTIALI BM SUNT VALIDE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_POT_BM=1

										DECLARE @MSG_4 VARCHAR(100);
										SET           @MSG_4 ='FINISH VERIFICARE POTENTIALI BM PENTRU PERIOADA'+' '+@PERIOADA+'!';
										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_POT_KA]
(
@PERIOADA CHAR(9),
@ERROR_POT_KA BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE POTENTIALI KA PENTRU PERIOADA'+' '+@PERIOADA+' !';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;
			
						DECLARE @COUNT FLOAT ;

						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_POT_KA (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_POT_KA ;

						IF @COUNT>0
								BEGIN
						
										INSERT INTO dbo.AFC_EE_VF_POT_KA
										SELECT * FROM dbo. fn_AFC_EE_VF_POT_KA (@PERIOADA) 

										DECLARE @MSG_2 VARCHAR(100);
										SET           @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_POT_KA=0

								END;

						ELSE IF @COUNT=0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_POT_KA (  MESAJ_EROARE )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- DATELE DE POTENTIALI KA SUNT VALIDE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_POT_KA=1

										DECLARE @MSG_4 VARCHAR(100);
										SET           @MSG_4 ='FINISH VERIFICARE POTENTIALI KA PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;										

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_PRET_FURN]
(
@PERIOADA CHAR(9),
@ERROR_PRET_FURN BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE PRET FURNIZARE PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_PRET_FURN (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_PRET_FURN ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_PRET_FURN
										SELECT * FROM dbo.fn_AFC_EE_VF_PRET_FURN (@PERIOADA)

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_PRET_FURN=0
								END;
						ELSE IF @COUNT=0
								BEGIN										
										INSERT INTO dbo.AFC_EE_VF_PRET_FURN  (  MESAJ_EROARE)
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- PRETUL DE FURNIZARE ESTE VALIDA PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_PRET_FURN=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE PRET FURNIZARE PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;

END;


GO
/


CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_PRET_FURN_AD_HOC]
(
@PERIOADA CHAR(9),
@ERROR_PRET_FURN_AD_HOC BIT OUTPUT
)
AS
BEGIN ;
				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG VARCHAR(100);
				DECLARE @START INT;
				DECLARE @END INT;
				DECLARE @NR CHAR(10); 

				SET     @MSG ='START VERIFICARE PRET FURNIZARE AD HOC PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

	BEGIN TRY ;

			BEGIN TRAN ;
						
						SELECT @START = MIN(LUNA) FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA);
						SELECT @END= MAX(LUNA) FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA);

						WHILE @START <= @END
							
							BEGIN

								DELETE FROM dbo.AFC_EE_CALC_PRET_FURN_AD_HOC WHERE PERIOADA=@PERIOADA AND LUNA=@START ;

								INSERT INTO dbo.AFC_EE_CALC_PRET_FURN_AD_HOC ( PERIOADA, LUNA, INSTALATIE, CANT_TOTAL ) 

								SELECT   PERIOADA, LUNA, INSTALATIE, SUM(CANT_TOTAL)
								FROM     dbo.AFC_MD_FACT
								WHERE    PERIOADA=@PERIOADA AND LUNA=@START
								GROUP BY PERIOADA, LUNA, INSTALATIE

								SET @START = @START + 1 ;	 
							END

						SET @NR = TRIM(CONVERT(CHAR(10),(SELECT COUNT(*) FROM dbo.AFC_EE_CALC_PRET_FURN_AD_HOC WHERE PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)))));
						SET @MSG = '01-  '+@NR + ' DE INREGISTRARI AU FOST INSERATE IN TABELA DE CALC PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

						EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
						PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			COMMIT TRAN;	

			BEGIN TRAN ;
						
						SELECT @START = MIN(LUNA) FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA);
						SELECT @END = MAX(LUNA) FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA);

						WHILE @START <= @END
							
							BEGIN

								WITH src AS 
										(
										SELECT PERIOADA, LUNA, INSTALATIE, PRET_FURN_AD_HOC  
										FROM 
											(
											SELECT   PERIOADA, INSTALATIE, 
												     L_01 AS [1], L_02 AS [2], L_03 AS [3], L_04 AS [4], L_05 AS [5], L_06 AS [6], 
												     L_07 AS [7], L_08 AS [8], L_09 AS [9], L_10 AS [10], L_11 AS [11], L_12 AS [12]
											FROM     dbo.AFC_EE_INT_PRET_FURN_AD_HOC
											where    PERIOADA=@PERIOADA
											GROUP BY PERIOADA, INSTALATIE,
											         L_01, L_02 , L_03 , L_04 , L_05 , L_06 , 
												     L_07 , L_08 , L_09 , L_10 , L_11 , L_12 
										        ) AS t
										UNPIVOT ( PRET_FURN_AD_HOC FOR LUNA IN ( [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12] )) AS PRET_FURN_AD_HOC
										WHERE LUNA = @START
										)

								UPDATE  tgt
								SET     PRET_FURN_AD_HOC=src.PRET_FURN_AD_HOC,
								        LIPSA_PRET='0'
								FROM	dbo.AFC_EE_CALC_PRET_FURN_AD_HOC tgt , src
								WHERE   tgt.PERIOADA=src.PERIOADA      AND
										tgt.LUNA=src.LUNA		       AND
										tgt.INSTALATIE=src.INSTALATIE ;

								SET @START = @START + 1 ;	 
							END

						SET @NR = TRIM(CONVERT(CHAR(10),(SELECT COUNT(*) FROM dbo.AFC_EE_CALC_PRET_FURN_AD_HOC WHERE PERIOADA=@PERIOADA AND PRET_FURN_AD_HOC IS NOT NULL AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)))));
						SET @MSG = '02-  '+@NR + ' DE INREGISTRARI PRET FURN AU FOST INSERATE IN TABELA DE CALC PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

						EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
						PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			COMMIT TRAN;	

			BEGIN TRAN ;
						
						UPDATE AFC_EE_CALC_PRET_FURN_AD_HOC
						SET    LIPSA_PRET='1'
						WHERE  PERIOADA=@PERIOADA AND PRET_FURN_AD_HOC IS NULL ;

						SET     @MSG = '03-  '+cast(@@rowcount as varchar(255)) + ' DE INREGISTRARI FARA PRET FURNIZARE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

						EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
						PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

			COMMIT TRAN;	

			BEGIN TRAN ;

-- DELETE
						
						TRUNCATE TABLE AFC_EE_VF_PRET_FURN_AD_HOC ;

-- INSERT

						DECLARE @INST CHAR(10);
						DECLARE c1 CURSOR FOR
											(
											  SELECT INSTALATIE
											  FROM AFC_EE_CALC_PRET_FURN_AD_HOC 
											  WHERE PERIOADA=@PERIOADA AND PRET_FURN_AD_HOC IS NULL 
											  GROUP BY INSTALATIE 
											) ;
						OPEN c1;
						FETCH NEXT FROM c1 INTO @INST ;
						WHILE @@FETCH_STATUS=0
							BEGIN
	
								DECLARE @EROR NVARCHAR(100)='LIPSA PRET FURNIZARE PENTRU LUNA : '

								INSERT INTO AFC_EE_VF_PRET_FURN_AD_HOC ( PERIOADA, INSTALATIE, MESAJ_EROARE )
								SELECT @PERIOADA, @INST, @EROR + dbo.fn_AFC_EE_ROW_TO_COLUMN( @PERIOADA, @INST ) 
		
								FETCH NEXT FROM c1 INTO @INST ;
							END
						CLOSE c1;
						DEALLOCATE c1;

-- CHECK

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.AFC_EE_VF_PRET_FURN_AD_HOC WHERE PERIOADA=@PERIOADA ;

						IF @COUNT>0
								BEGIN
								        SET @NR = TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET @MSG = '04-  '+cast(@COUNT as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG
										SET @ERROR_PRET_FURN_AD_HOC=0
								END;
						ELSE IF @COUNT=0
								BEGIN										
										INSERT INTO dbo.AFC_EE_VF_PRET_FURN_AD_HOC  (  MESAJ_EROARE)
										VALUES (	'NU SUNT ERORI!' )

										SET     @MSG = '04- PRETUL DE FURNIZARE ESTE VALIDA PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG
										SET @ERROR_PRET_FURN_AD_HOC=1

										SET  @MSG = 'FINISH VERIFICARE PRET FURNIZARE AD HOC PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG

								END;

			COMMIT TRAN;	

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_SEM_CANT]
(
@PERIOADA CHAR(9),
@ERROR_SEM_CANT BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET          @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET           @MSG_1 ='START VERIFICARE CANTITATE CONTRACTE SEMNATE PENTRU PERIOADA'+' '+@PERIOADA+' !';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;
			
						DECLARE @COUNT FLOAT ;

						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo. fn_AFC_EE_VF_SEM_CANT (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_SEM_CANT ;

						IF @COUNT>0
								BEGIN
						
										INSERT INTO dbo.AFC_EE_VF_SEM_CANT
										SELECT * FROM dbo. fn_AFC_EE_VF_SEM_CANT (@PERIOADA) 

										DECLARE @MSG_2 VARCHAR(100);
										SET           @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_SEM_CANT=0
								END;

						ELSE IF @COUNT=0 
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_SEM_CANT (  MESAJ_EROARE )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET           @MSG_3='01- DATELE CANTITATE CONTRACTE SEMNATE SUNT VALIDE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_SEM_CANT=1

										DECLARE @MSG_4 VARCHAR(100);
										SET           @MSG_4 ='FINISH VERIFICARE CANTITATE CONTRACTE SEMNATE PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;
GO
/

CREATE PROCEDURE [dbo].[sp_AFC_EE_VF_TARIF_DISTR]
(
@PERIOADA CHAR(9),
@ERROR_TARIF_DISTR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE TARIF DISTRIBUTIE PENTRU PERIOADA'+' '+@PERIOADA+'!';

				EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_AFC_EE_VF_TARIF_DISTR (@PERIOADA) ;

						DELETE FROM  dbo.AFC_EE_VF_TARIF_DISTR ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.AFC_EE_VF_TARIF_DISTR
										SELECT * FROM dbo.fn_AFC_EE_VF_TARIF_DISTR (@PERIOADA)

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_TARIF_DISTR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.AFC_EE_VF_TARIF_DISTR  (  MESAJ_EROARE   )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TARIFUL DE DISTRIBUTIE ESTE VALIDA PENTRU PERIOADA ' +@PERIOADA+' ! ' ;

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_TARIF_DISTR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE TARIF DISTRIBUTIE PENTRU PERIOADA'+' '+@PERIOADA+'!';

										EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @PERIOADA +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC sp_AFC_RECORD_LOG @PERIOADA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @PERIOADA +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE ;
		END CATCH ;

END;





GO
