CREATE TABLE [dbo].[AFC_LOG](
	[PERIOADA] [char](9) NULL,
	[OBJECT_NAME] [char](100) NULL,
	[DATA_RUN] [datetime] NULL,
	[USER_RUN] [varchar](100) NULL,
	[MESAGE_TYPE] [varchar](30) NULL,
	[MESAGE_TEXT] [varchar](2000) NULL,
	[ORDINE] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_AFC_LOG] PRIMARY KEY CLUSTERED 
(
	[ORDINE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFC_LOG] ADD  CONSTRAINT [DF_AFC_LOG_DATA_RUN]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [DATA_RUN]
GO
ALTER TABLE [dbo].[AFC_LOG] ADD  CONSTRAINT [DF_AFC_LOG_USER_RUN]  DEFAULT (user_name()) FOR [USER_RUN]
GO
/

CREATE TRIGGER  [dbo].[AFC_LOG_T1]  ON [dbo].[AFC_LOG]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

			INSERT INTO dbo.AFC_LOG ( PERIOADA,OBJECT_NAME,DATA_RUN,USER_RUN,
									    MESAGE_TYPE,MESAGE_TEXT,ORDINE)
			SELECT 
					PERIOADA,OBJECT_NAME,switchoffset(getdate(),'+02:00') AS DATA_RUN,CURRENT_USER AS USER_RUN,
					MESAGE_TYPE,MESAGE_TEXT,next value for dbo.AFC_LOG_SQ1  as ORDINE
			FROM     INSERTED i
			WHERE  NOT EXISTS ( SELECT * FROM DELETED WHERE DELETED.ORDINE=i.ORDINE ) ;

-- for update

			UPDATE a
			SET		  PERIOADA=i.PERIOADA,
					  OBJECT_NAME=i.OBJECT_NAME,
					  DATA_RUN=switchoffset(getdate(),'+02:00'),
					  USER_RUN=CURRENT_USER,
					  MESAGE_TYPE=i.MESAGE_TYPE,
					  MESAGE_TEXT=i.MESAGE_TEXT
			FROM dbo.AFC_LOG  a INNER JOIN INSERTED i ON a.ORDINE=i.ORDINE
			WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ORDINE=i.ORDINE )

END;
GO
ALTER TABLE [dbo].[AFC_LOG] ENABLE TRIGGER [AFC_LOG_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_LOG_T2] ON [dbo].[AFC_LOG]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_LOG] ENABLE TRIGGER [AFC_LOG_T2]
GO
