CREATE TABLE [dbo].[AFC_EE_CALC_ALOC_POT](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[CANT_ACH_CONTR_TOTAL] [float] NULL,
	[COST_ACH_CONTR_TOTAL] [float] NULL,
	[COST_MED_ACH_CONTR_TOTAL] [float] NULL,
	[CANT_ACH_PZU_TOTAL] [float] NULL,
	[COST_ACH_PZU_TOTAL] [float] NULL,
	[COST_MED_ACH_PZU_TOTAL] [float] NULL,
	[PROCENT_CONTR] [float] NULL,
	[PROCENT_PZU] [float] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_ALOC_POT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_ALOC_REST](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[CANT_ACH_CONTR_TOTAL] [float] NULL,
	[COST_ACH_CONTR_TOTAL] [float] NULL,
	[CANT_ACH_PZU_TOTAL] [float] NULL,
	[COST_ACH_PZU_TOTAL] [float] NULL,
	[CANT_ACH_CONTR_ALOCAT] [float] NULL,
	[COST_ACH_CONTR_ALOCAT] [float] NULL,
	[CANT_ACH_PZU_ALOCAT] [float] NULL,
	[COST_ACH_PZU_ALOCAT] [float] NULL,
	[CANT_ACH_CONTR_REST] [float] NULL,
	[COST_ACH_CONTR_REST] [float] NULL,
	[COST_MED_ACH_CONTR_REST] [float] NULL,
	[CANT_ACH_PZU_REST] [float] NULL,
	[COST_ACH_PZU_REST] [float] NULL,
	[COST_MED_ACH_PZU_REST] [float] NULL,
	[PROCENT_CONTR] [float] NULL,
	[PROCENT_PZU] [float] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_ALOC_REST] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_CANT_LUNA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[AN] [smallint] NULL,
	[LUNA] [smallint] NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[CANT_OFERTA] [float] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_CANT_LUNA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC,
	[CURBA] ASC,
	[LUNA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_CHECK_INTERV_BANDA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[NR_ERORI] [float] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_CHECK_INTERV_BANDA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_COEF_CURBA](
	[DATA_CONS] [datetime] NOT NULL,
	[INTERVAL_CONS] [char](4) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[LUNA_NUME] [varchar](50) NOT NULL,
	[ZI] [smallint] NOT NULL,
	[ZI_NUME] [varchar](50) NOT NULL,
	[ORA] [float] NOT NULL,
	[COD] [varchar](50) NOT NULL,
	[COEF] [float] NOT NULL,
	[MOD_DE] [varchar](20) NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_COEF_CURBA] PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_INST_AN](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DATA_MIN] [date] NOT NULL,
	[DATA_MAX] [date] NOT NULL,
	[LUNA_DIF] [int] NOT NULL,
	[LUNA_START] [int] NOT NULL,
	[LUNA_FINISH] [int] NOT NULL,
	[DATA_START] [date] NOT NULL,
	[DATA_FINISH] [date] NOT NULL,
	[DATA_DIF] [int] NULL,
	[CANT_AN] [float] NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_INST_AN] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_INST_LUNA](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[DELA_DATA] [date] NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[CANT_TOTAL] [float] NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_INST_LUNA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_INTRV_COEF](
	[AN] [smallint] NOT NULL,
	[INTRV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INTRV] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_INTRV_MACHETA](
	[AN] [char](4) NOT NULL,
	[INTRV] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INTRV] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_POR_CANT](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_POR_CANT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_POR_CONTR](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](10) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NOT NULL,
	[NUME_GROUP] [char](50) NULL,
	[IDMANAGER] [varchar](50) NOT NULL,
	[CUI] [char](20) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[CAEN] [char](4) NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[NIVELDETENSIUNE] [varchar](2) NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](3) NOT NULL,
	[SEGM_COM] [varchar](3) NOT NULL,
	[SUBSEGMENT] [varchar](10) NULL,
	[POD] [char](50) NOT NULL,
	[DATAINCEPUTCONTRACT] [date] NOT NULL,
	[DATASFARSITCONTRACT] [date] NOT NULL,
	[DATA_REZ] [date] NULL,
	[ID] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[ENERGOINTENSIV] [char](2) NULL,
 CONSTRAINT [PK_AFC_EE_CALC_POR_CONTR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_POT](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](10) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[CUI] [char](20) NULL,
	[TIPCLIENT] [char](6) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[NIVELDETENSIUNE] [varchar](2) NOT NULL,
	[SEGMENTCLIENT] [varchar](3) NOT NULL,
	[SEGM_COM] [varchar](3) NOT NULL,
	[ENERGOINTENSIV] [char](2) NOT NULL,
	[IDMANAGER] [char](10) NULL,
	[MOTIV_MOV_IN] [char](50) NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[MOD_DE] [varchar](20) NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_POT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_PRET_FURN](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NULL,
	[PRET_FURN] [float] NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[ID_VALABIL] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_PRET_FURN] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC,
	[VALABIL_DELA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_PRET_FURN_AD_HOC](
	[PERIOADA] [char](9) NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[CANT_TOTAL] [float] NULL,
	[PRET_FURN_AD_HOC] [float] NULL,
	[LIPSA_PRET] [int] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_PRET_FURN_AD_HOC] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_REALIZ](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[CANT_TOTAL] [decimal](38, 5) NULL,
	[VENIT] [decimal](38, 5) NULL,
	[COST_DISTR] [decimal](38, 5) NULL,
	[COST_TRANS] [decimal](38, 5) NULL,
	[COST_ACH] [decimal](38, 5) NULL,
	[GROSS_MARGIN] [decimal](38, 5) NULL,
	[DENUMIREPARTENER] [varchar](255) NOT NULL,
	[CUI] [char](22) NULL,
	[SUBSEGMENT] [char](10) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[REGIUNE_PORTOFOLIU] [char](10) NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[CODINDUSTRIE] [char](4) NULL,
	[DESCRIERECODINDUSTRIE] [varchar](255) NULL,
	[TIPCLIENT] [char](6) NULL,
	[CURBA_ACTUAL] [char](50) NULL,
	[SUBPOR_ACTUAL] [char](2) NULL,
	[SEGM_COM] [varchar](3) NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
	[ENERGOINTENSIV] [char](2) NULL,
 CONSTRAINT [PK_AFC_EE_CALC_REALIZ] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[CATEGORIETARIF] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[NIVELDETENSIUNE] ASC,
	[SEGMENTCLIENT] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SEGM_CUI](
	[PERIOADA] [char](9) NOT NULL,
	[CUI] [varchar](50) NOT NULL,
	[CANT_AN] [float] NOT NULL,
	[SEGM_PRICE] [char](3) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SEGM_CUI] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[CUI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SEGM_PA](
	[PERIOADA] [char](9) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CANT_AN] [float] NOT NULL,
	[SEGM_PRICE] [char](3) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SEGM_PA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SEM_CANT](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](10) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[CUI] [char](20) NULL,
	[TIPCLIENT] [char](6) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[NIVELDETENSIUNE] [varchar](2) NOT NULL,
	[SEGMENTCLIENT] [varchar](3) NOT NULL,
	[SEGM_COM] [varchar](3) NOT NULL,
	[ENERGOINTENSIV] [char](2) NOT NULL,
	[IDMANAGER] [varchar](50) NULL,
	[MOTIV_MOV_IN] [char](50) NOT NULL,
	[DATAINCEPUTCONTRACT] [date] NOT NULL,
	[DATASFARSITCONTRACT] [date] NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SEM_CANT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SEM_PRET_FURN](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SEM_PRET_FURN] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SIM_PRET_FURN](
	[GROUP_COD] [varchar](12) NOT NULL,
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SEGM_PRICE] [char](3) NULL,
	[DATASFARSITCONTRACT] [date] NOT NULL,
	[CANT_TOTAL] [decimal](38, 5) NOT NULL,
	[COST_MED_ACH] [decimal](38, 5) NOT NULL,
	[MRJ_AVG_SEGM_ACTUAL] [decimal](38, 5) NULL,
	[MRJ_AVG_SEGM_PRICE] [decimal](38, 5) NULL,
	[FINAL_CONTR] [int] NULL,
	[DATA_ACTUAL]  AS (datefromparts([AN],[LUNA],(1))) PERSISTED NOT NULL,
	[FW] [int] NULL,
	[DATA_MIN] [date] NULL,
	[DATA_MAX] [date] NULL,
	[PF_SIM_SEGM_ACTUAL] [float] NULL,
	[PF_SIM_SEGM_PRICING] [float] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SIM_PRET_FURN] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SIM_SEGM_CUI](
	[PERIOADA] [char](9) NOT NULL,
	[CUI] [char](20) NOT NULL,
	[CANT_AN] [float] NULL,
	[SEGMENT_PRICE] [char](3) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SIM_SEGM_CUI] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[CUI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SIM_SEGM_GROUP](
	[PERIOADA] [char](9) NOT NULL,
	[NUME_GROUP] [char](50) NOT NULL,
	[CANT_AN] [float] NULL,
	[SEGMENT_PRICE] [char](3) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SIM_SEGM_GROUP] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[NUME_GROUP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_SIM_SEGM_PA](
	[PERIOADA] [char](9) NOT NULL,
	[PARTENEREDEAFACERI] [char](10) NOT NULL,
	[CANT_AN] [float] NULL,
	[SEGMENT_PRICE] [char](3) NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_SIM_SEGM_PA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[PARTENEREDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_TARIF_DISTR](
	[PERIOADA] [char](9) NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[TARIF_DISTR] [decimal](38, 5) NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[ID_VALABIL] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_CALC_TARIF_DISTR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DENUMIREDISTRIBUITOR] ASC,
	[NIVELDETENSIUNE] ASC,
	[VALABIL_DELA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_CALC_VALABILITATE](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_CALC_VALABILITATE] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC,
	[AN] ASC,
	[LUNA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/
CREATE NONCLUSTERED INDEX [AFC_EE_CALC_SIM_PRET_FURN_IND1] ON [dbo].[AFC_EE_CALC_SIM_PRET_FURN]
(
	[FINAL_CONTR] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/
CREATE NONCLUSTERED INDEX [AFC_EE_CALC_SIM_PRET_FURN_IND2] ON [dbo].[AFC_EE_CALC_SIM_PRET_FURN]
(
	[PERIOADA] ASC,
	[SEGMENTCLIENT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/
CREATE NONCLUSTERED INDEX [AFC_EE_CALC_SIM_PRET_FURN_IND3] ON [dbo].[AFC_EE_CALC_SIM_PRET_FURN]
(
	[PARTENERDEAFACERI] ASC,
	[FW] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_INST_LUNA] ADD  CONSTRAINT [DF_AFC_EE_CALC_INST_LUNA_MOD_TIMP]  DEFAULT (getdate()) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_REALIZ] ADD  CONSTRAINT [DF_AFC_EE_CALC_REALIZ_MOD_DE]  DEFAULT (user_name()) FOR [MOD_DE]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_REALIZ] ADD  CONSTRAINT [DF_AFC_EE_CALC_REALIZ_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK1] FOREIGN KEY([SEGMENTCLIENT])
REFERENCES [dbo].[AFC_INT_SEGMENT] ([COD])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK1]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK2] FOREIGN KEY([IDMANAGER])
REFERENCES [dbo].[AFC_INT_MANAGER] ([IDMANAGER])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK2]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK3] FOREIGN KEY([REGIUNE_PORTOFOLIU])
REFERENCES [dbo].[AFC_INT_REG_PORTOF] ([COD])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK3]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK4] FOREIGN KEY([SUBSEGMENT])
REFERENCES [dbo].[AFC_INT_SUBSEGMENT] ([COD])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK4]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK5] FOREIGN KEY([DIVIZIE])
REFERENCES [dbo].[AFC_INT_DIVIZIE] ([COD])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK5]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK6] FOREIGN KEY([NIVELDETENSIUNE])
REFERENCES [dbo].[AFC_INT_NT] ([COD])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_POR_CONTR] CHECK CONSTRAINT [AFC_EE_CALC_POR_CONTR_FK6]
GO
ALTER TABLE [dbo].[AFC_EE_CALC_SEM_PRET_FURN]  WITH NOCHECK ADD  CONSTRAINT [AFC_EE_CALC_SEM_PRET_FURN_FK1] FOREIGN KEY([PERIOADA], [INSTALATIE])
REFERENCES [dbo].[AFC_EE_CALC_SEM_CANT] ([PERIOADA], [INSTALATIE])
GO
ALTER TABLE [dbo].[AFC_EE_CALC_SEM_PRET_FURN] CHECK CONSTRAINT [AFC_EE_CALC_SEM_PRET_FURN_FK1]
GO
