CREATE TABLE [dbo].[AFC_MD_ACH_ORA](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[TIP_ACH] [char](3) NOT NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[COST_MED_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_PZU] [float] NULL,
	[COST_ACH_ECH] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[COST_ACH] [float] NULL,
	[COST_MED_ACH] [float] NULL,
	[PROCENT_CONTR] [float] NULL,
	[PROCENT_PZU] [float] NULL,
	[AN]  AS (datepart(year,[DATA_CONS])),
	[LUNA]  AS (datepart(month,[DATA_CONS])),
 CONSTRAINT [PK_AFC_MD_ACH_ORA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC,
	[TIP_ACH] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_ACH_SUBPOR](
	[DATA_CONS] [datetime] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[ZI_NUME_OFERTA] [varchar](20) NOT NULL,
	[ZI_SAPT_OFERTA] [smallint] NOT NULL,
	[DATA_ANTERIOR] [date] NOT NULL,
	[ZI_NUME_ANTERIOR] [varchar](20) NOT NULL,
	[ZI_SAPT_ANTERIOR] [smallint] NOT NULL,
	[CANT_OFERTA] [float] NULL,
	[CANT_BANDA_ORA] [float] NOT NULL,
	[PRET_BANDA_ORA] [float] NOT NULL,
	[DATA_PZU] [date] NOT NULL,
	[PRET_PZU] [float] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_ACH_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[PARTENERDEAFACERI] ASC,
	[CURBA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_ACH_SUBPOR_NOU](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SUBPOR] [char](2) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[CANT_BANDA_ORA] [float] NULL,
	[PRET_BANDA_ORA] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_ACH_SUBPOR_NOU] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC,
	[AN] ASC,
	[LUNA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_ALOC](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[INTERVAL_CONS] [char](4) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[LUNA_NUME] [char](20) NOT NULL,
	[ZI] [smallint] NOT NULL,
	[ZI_NUME] [char](20) NOT NULL,
	[ORA] [smallint] NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA_ACTUAL] [char](50) NOT NULL,
	[CANT_LUNA] [float] NOT NULL,
	[COEF] [float] NOT NULL,
	[CANT_ALOC] [float] NULL,
	[CANT_OFERTA] [float] NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[COST_MED_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_PZU] [float] NULL,
	[COST_ACH_ECH] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[COST_ACH] [float] NULL,
	[COST_MED_ACH] [float] NULL,
	[CANT_BANDA] [float] NULL,
	[PRET_BANDA] [float] NULL,
	[PZU_HFC] [float] NULL,
	[VALABIL_OFERTA] [char](2) NULL,
	[SEGMENTCLIENT] [char](3) NULL,
 CONSTRAINT [PK_AFC_MD_ALOC] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC,
	[SUBPOR_ACTUAL] ASC,
	[PARTENERDEAFACERI] ASC,
	[CURBA_ACTUAL] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_BANDA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[CANT_BANDA_ORA] [float] NOT NULL,
	[PRET_BANDA_ORA] [float] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_BANDA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DATE_ORA](
	[PERIOADA] [char](9) NOT NULL,
	[PER_DESC] [varchar](255) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[ORA] [smallint] NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[SEGM_GROUP] [char](3) NOT NULL,
	[CANT_ALOC] [float] NULL,
	[CANT_BANDA] [float] NULL,
	[COST_BANDA] [float] NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_ACH_ECH] [float] NULL,
	[COST_ACH] [float] NULL,
 CONSTRAINT [PK_AFC_MD_DATE_ORA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC,
	[SUBPOR_ACTUAL] ASC,
	[SEGM_GROUP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DEV_CANT](
	[PER_T1] [char](9) NOT NULL,
	[DESCRIERE_T1] [varchar](100) NOT NULL,
	[PER_T0] [char](9) NOT NULL,
	[DESCRIERE_T0] [varchar](100) NOT NULL,
	[COMPARATIE] [varchar](100) NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[GROUP_SEGM] [char](10) NOT NULL,
	[GROUP_SEGM_T1] [char](10) NULL,
	[GROUP_SEGM_T0] [char](10) NULL,
	[TIPCLIENT] [char](6) NOT NULL,
	[NUME_ACTUAL] [varchar](255) NOT NULL,
	[MOTIV] [varchar](20) NOT NULL,
	[CANT_T1] [decimal](38, 5) NULL,
	[CANT_T0] [decimal](38, 5) NULL,
	[CANT_DIF] [decimal](38, 5) NULL,
	[PER_DESC_T1]  AS (([PER_T1]+'_')+[DESCRIERE_T1]),
	[PA_NUME]  AS (([PARTENERDEAFACERI]+'  ')+[NUME_ACTUAL]),
	[MOTIV_GROUP]  AS (case when [MOTIV]='GAINED' OR [MOTIV]='CONTR_SEM' then 'CLIENT CASTIGAT' when [MOTIV]='LOST' then 'CLIENT PIERDUT' when [MOTIV]='DIF_CONS' then 'DIFERENTA CONSUM' when [MOTIV]='POTENTIAL' then 'CLIENT POTENTIAL' when [MOTIV]='SWITCH_KA_BM' then 'TRANSFER SEGMENT'  end),
 CONSTRAINT [PK_AFC_MD_DEV_CANT] PRIMARY KEY CLUSTERED 
(
	[PER_T1] ASC,
	[COMPARATIE] ASC,
	[LUNA] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[NIVELDETENSIUNE] ASC,
	[MOTIV] ASC,
	[TIPCLIENT] ASC,
	[GROUP_SEGM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_COEF](
	[DATA_CONS] [datetime] NOT NULL,
	[INTERVAL_CONS] [varchar](50) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[LUNA_NUME] [varchar](50) NOT NULL,
	[ZI] [smallint] NOT NULL,
	[ZI_NUME] [varchar](50) NOT NULL,
	[ORA] [float] NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[COEF] [float] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_COEF_1] PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[CURBA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_CURBA](
	[INSTALATIE] [char](10) NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_CURBA_1] PRIMARY KEY CLUSTERED 
(
	[INSTALATIE] ASC,
	[CURBA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_INST](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[CODINDUSTRIE] [char](4) NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NULL,
	[POD] [char](50) NULL,
	[DATAINCEPUTCONTRACT] [date] NULL,
	[DATASFARSITCONTRACT] [date] NULL,
	[DATA_REZ] [date] NOT NULL,
	[SURSA_DATE] [char](50) NOT NULL,
	[CURBA_ACTUAL] [char](50) NULL,
	[PK_INST] [char](42) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_INST] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_MANAGER](
	[IDMANAGER] [char](10) NOT NULL,
	[DENUMIREMANAGER] [char](50) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_MANAGER] PRIMARY KEY CLUSTERED 
(
	[IDMANAGER] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_PA_ACTUAL](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[NUME_ACTUAL] [varchar](255) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_PA_ACTUAL] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_PA_ISTORIC](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[NUME_ISTORIC] [varchar](255) NOT NULL,
	[CUI] [char](20) NULL,
	[SUBSEGMENT] [char](10) NULL,
	[IDMANAGER] [char](10) NOT NULL,
	[REGIUNE_PORTOFOLIU] [char](10) NULL,
	[NUME_GROUP] [char](50) NULL,
	[SUBPOR_ACTUAL] [char](2) NULL,
	[PK_PA] [char](42) NOT NULL,
	[SEGM_COM] [varchar](3) NULL,
	[ENERGOINTENSIV] [char](2) NULL,
 CONSTRAINT [PK_AFC_MD_DIM_PA_ISTORIC] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC,
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_PER](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[TRIMESTRU] [char](2) NOT NULL,
	[LUNA_NUME] [char](20) NOT NULL,
	[VERSIUNE_PLAN] [varchar](5) NOT NULL,
	[DESCRIERE] [varchar](100) NOT NULL,
	[BLOCAT] [float] NOT NULL,
	[NUME_SURSA] [char](10) NOT NULL,
	[PK_PER] [char](11) NOT NULL,
	[GROUP_COD] [varchar](12) NOT NULL,
	[PER_DESC]  AS (([PERIOADA]+'_')+[DESCRIERE]),
 CONSTRAINT [PK_AFC_MD_DIM_PER] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[LUNA] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_SEGM_COM](
	[ID] [int] NOT NULL,
	[COD] [char](3) NOT NULL,
	[NUME] [varchar](100) NULL,
 CONSTRAINT [PK_AFC_MD_DIM_SEGM_COM] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_SEGM_PRICE](
	[PERIOADA] [char](9) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CUI] [char](20) NULL,
	[SEGM_PRICE] [char](3) NULL,
	[DESCR_SURSA] [varchar](10) NULL,
 CONSTRAINT [PK_AFC_MD_DIM_SEGM_PRICE] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_SEGMENT](
	[ID] [int] NOT NULL,
	[COD] [char](3) NOT NULL,
	[NUME] [nvarchar](100) NOT NULL,
	[GROUP_SEGM] [char](10) NULL,
 CONSTRAINT [PK_AFC_MD_DIM_SEGMENT] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_STARE](
	[CATEGORIETARIF] [char](50) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_STARE_1] PRIMARY KEY CLUSTERED 
(
	[CATEGORIETARIF] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_SUBPOR](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SUBPOR] [char](2) NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_SUBPOR_1] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[SUBPOR] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_SURSA_DATE](
	[SURSA_DATE] [char](50) NOT NULL,
	[GROUP_SURSA] [char](50) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_SURSA_DATE] PRIMARY KEY CLUSTERED 
(
	[SURSA_DATE] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_DIM_TIP](
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[TIPCLIENT] [char](6) NOT NULL,
 CONSTRAINT [PK_AFC_MD_DIM_TIP] PRIMARY KEY CLUSTERED 
(
	[DENUMIREDISTRIBUITOR] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_EFECT_SUBPOR](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[ORA] [smallint] NOT NULL,
	[CANT_ALOC] [float] NULL,
	[CANT_BANDA] [float] NULL,
	[COST_BANDA] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[PROCENT_CONTR] [float] NULL,
	[PROCENT_PZU] [float] NULL,
	[CANT_ACH_CONTR_SIM] [float] NULL,
	[COST_ACH_CONTR_SIM] [float] NULL,
	[COST_MED_ACH_CONTR_SIM] [float] NULL,
	[CANT_ACH_PZU_SIM] [float] NULL,
	[COST_ACH_PZU_SIM] [float] NULL,
	[COST_MED_ACH_PZU_SIM] [float] NULL,
 CONSTRAINT [PK_AFC_MD_EFECT_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_FACT](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[CANT_TOTAL] [decimal](38, 5) NULL,
	[VENIT_FURN] [decimal](38, 5) NULL,
	[PRET_FURN] [decimal](38, 5) NULL,
	[COST_ACH] [decimal](38, 5) NULL,
	[COST_MED_ACH] [decimal](38, 5) NULL,
	[GROSS_MARGIN] [decimal](38, 5) NULL,
	[MARJA_SPECIFICA] [decimal](38, 5) NULL,
	[FK_PA] [char](42) NOT NULL,
	[FK_INST] [char](42) NOT NULL,
	[FK_PER] [char](11) NOT NULL,
	[VENIT_FURN_SIM_ACT] [decimal](38, 5) NULL,
	[GROSS_MARGIN_SIM_ACT] [decimal](38, 5) NULL,
	[VENIT_FURN_SIM_PRICE] [decimal](38, 5) NULL,
	[GROSS_MARGIN_SIM_PRICE] [decimal](38, 5) NULL,
	[COST_TRANS] [decimal](38, 5) NULL,
	[COST_DISTR] [decimal](38, 5) NULL,
	[MOD_TARIF_DISTR] [decimal](38, 5) NULL,
	[PRET_CONTR] [decimal](38, 5) NULL,
	[TARIF_DISTR] [decimal](38, 5) NULL,
	[TARIF_TRANS] [decimal](38, 5) NULL,
	[VENIT_TOTAL] [decimal](38, 5) NULL,
	[SEGM_PRICE] [char](3) NULL,
	[PRET_FURN_AD_HOC] [decimal](38, 5) NULL,
	[VENIT_FURN_AD_HOC] [decimal](38, 5) NULL,
	[GROSS_MARGIN_AD_HOC] [decimal](38, 5) NULL,
 CONSTRAINT [PK_AFC_MD_FACT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[CATEGORIETARIF] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[NIVELDETENSIUNE] ASC,
	[SEGMENTCLIENT] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC
)WITH (STATISTICS_NORECOMPUTE = ON, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_HFC](
	[DATA_REF] [date] NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[PRET_PZU] [float] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_HFC] PRIMARY KEY CLUSTERED 
(
	[DATA_REF] ASC,
	[ORA_CONS] ASC,
	[DATA_OFERTA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_KPI](
	[KPI_NUME] [varchar](50) NOT NULL,
	[KPI_COD] [varchar](2) NOT NULL,
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[VALOARE] [float] NULL,
	[NUME_ACTUAL] [varchar](255) NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[DATAINCEPUTCONTRACT] [date] NOT NULL,
	[DATASFARSITCONTRACT] [date] NOT NULL,
	[SURSA_DATE] [char](50) NOT NULL,
	[CURBA_ACTUAL] [char](50) NOT NULL,
	[DESCRIERE] [varchar](100) NOT NULL,
	[NUME_SURSA] [char](10) NOT NULL,
	[GROUP_SURSA] [char](50) NOT NULL,
	[GROUP_SEGM] [char](10) NOT NULL,
	[TIPCLIENT] [char](6) NOT NULL,
	[L_01] [decimal](38, 5) NULL,
	[L_02] [decimal](38, 5) NULL,
	[L_03] [decimal](38, 5) NULL,
	[L_04] [decimal](38, 5) NULL,
	[L_05] [decimal](38, 5) NULL,
	[L_06] [decimal](38, 5) NULL,
	[L_07] [decimal](38, 5) NULL,
	[L_08] [decimal](38, 5) NULL,
	[L_09] [decimal](38, 5) NULL,
	[L_10] [decimal](38, 5) NULL,
	[L_11] [decimal](38, 5) NULL,
	[L_12] [decimal](38, 5) NULL,
 CONSTRAINT [PK_AFC_MD_KPI] PRIMARY KEY CLUSTERED 
(
	[KPI_NUME] ASC,
	[PERIOADA] ASC,
	[AN] ASC,
	[CATEGORIETARIF] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[NIVELDETENSIUNE] ASC,
	[SEGMENTCLIENT] ASC,
	[DENUMIREDISTRIBUITOR] ASC,
	[SUBPOR_ACTUAL] ASC,
	[DATAINCEPUTCONTRACT] ASC,
	[DATASFARSITCONTRACT] ASC,
	[CURBA_ACTUAL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_KPI_EVO](
	[PERIOADA] [char](9) NOT NULL,
	[SCENARIU] [int] NOT NULL,
	[AN] [smallint] NOT NULL,
	[CATEGORIETARIF] [char](50) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[SEGM_PRICE] [char](3) NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[NUME_ACTUAL] [varchar](255) NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[DATAINCEPUTCONTRACT] [date] NOT NULL,
	[DATASFARSITCONTRACT] [date] NOT NULL,
	[SURSA_DATE] [char](50) NOT NULL,
	[CURBA_ACTUAL] [char](50) NOT NULL,
	[DESCRIERE] [varchar](100) NOT NULL,
	[NUME_SURSA] [char](10) NOT NULL,
	[GROUP_SURSA] [char](50) NOT NULL,
	[GROUP_SEGM] [char](10) NOT NULL,
	[TIPCLIENT] [char](6) NULL,
	[PER_DESC] [varchar](100) NOT NULL,
	[SCEN_DESC] [varchar](100) NOT NULL,
	[CANT_01] [decimal](38, 5) NULL,
	[CANT_02] [decimal](38, 5) NULL,
	[CANT_03] [decimal](38, 5) NULL,
	[CANT_04] [decimal](38, 5) NULL,
	[CANT_05] [decimal](38, 5) NULL,
	[CANT_06] [decimal](38, 5) NULL,
	[CANT_07] [decimal](38, 5) NULL,
	[CANT_08] [decimal](38, 5) NULL,
	[CANT_09] [decimal](38, 5) NULL,
	[CANT_10] [decimal](38, 5) NULL,
	[CANT_11] [decimal](38, 5) NULL,
	[CANT_12] [decimal](38, 5) NULL,
	[VENIT_FURN_01] [decimal](38, 5) NULL,
	[VENIT_FURN_02] [decimal](38, 5) NULL,
	[VENIT_FURN_03] [decimal](38, 5) NULL,
	[VENIT_FURN_04] [decimal](38, 5) NULL,
	[VENIT_FURN_05] [decimal](38, 5) NULL,
	[VENIT_FURN_06] [decimal](38, 5) NULL,
	[VENIT_FURN_07] [decimal](38, 5) NULL,
	[VENIT_FURN_08] [decimal](38, 5) NULL,
	[VENIT_FURN_09] [decimal](38, 5) NULL,
	[VENIT_FURN_10] [decimal](38, 5) NULL,
	[VENIT_FURN_11] [decimal](38, 5) NULL,
	[VENIT_FURN_12] [decimal](38, 5) NULL,
	[COST_ACH_01] [decimal](38, 5) NULL,
	[COST_ACH_02] [decimal](38, 5) NULL,
	[COST_ACH_03] [decimal](38, 5) NULL,
	[COST_ACH_04] [decimal](38, 5) NULL,
	[COST_ACH_05] [decimal](38, 5) NULL,
	[COST_ACH_06] [decimal](38, 5) NULL,
	[COST_ACH_07] [decimal](38, 5) NULL,
	[COST_ACH_08] [decimal](38, 5) NULL,
	[COST_ACH_09] [decimal](38, 5) NULL,
	[COST_ACH_10] [decimal](38, 5) NULL,
	[COST_ACH_11] [decimal](38, 5) NULL,
	[COST_ACH_12] [decimal](38, 5) NULL,
	[GM_01] [decimal](38, 5) NULL,
	[GM_02] [decimal](38, 5) NULL,
	[GM_03] [decimal](38, 5) NULL,
	[GM_04] [decimal](38, 5) NULL,
	[GM_05] [decimal](38, 5) NULL,
	[GM_06] [decimal](38, 5) NULL,
	[GM_07] [decimal](38, 5) NULL,
	[GM_08] [decimal](38, 5) NULL,
	[GM_09] [decimal](38, 5) NULL,
	[GM_10] [decimal](38, 5) NULL,
	[GM_11] [decimal](38, 5) NULL,
	[GM_12] [decimal](38, 5) NULL,
	[CANT_TOTAL] [decimal](38, 5) NULL,
	[VENIT_FURN_TOTAL] [decimal](38, 5) NULL,
	[COST_ACH_TOTAL] [decimal](38, 5) NULL,
	[GM_TOTAL] [decimal](38, 5) NULL,
	[CUI] [varchar](20) NULL,
	[CODINDUSTRIE] [char](4) NULL,
	[DATA_REZ] [date] NULL,
	[SEGM_COM] [varchar](100) NOT NULL,
	[ENERGOINTENSIV] [char](2) NULL
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_MATURITATE](
	[PERIOADA] [char](9) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[CANT_TOTAL] [decimal](38, 5) NULL,
	[DATASFARSITCONTRACT] [date] NULL,
	[SFARSIT_CONTRACT] [char](7) NULL,
	[SURSA_DATE] [varchar](50) NOT NULL,
	[GROUP_SURSA] [varchar](50) NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[NUME_ACTUAL] [varchar](255) NOT NULL,
	[DATA_ACTUAL] [date] NOT NULL,
	[FINAL_CONTR] [char](2) NOT NULL,
	[NUME_SURSA] [varchar](10) NOT NULL,
	[PER_DESC] [varchar](100) NOT NULL,
	[PA_NUME] [varchar](255) NOT NULL,
	[SEGM_GROUP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_AFC_MD_MATURITATE] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[LUNA] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[SEGMENTCLIENT] ASC,
	[SUBPOR_ACTUAL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_MD_OFERTA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[MOD_ID] [int] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_MD_OFERTA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[CURBA] ASC,
	[DATA_OFERTA] ASC,
	[MOD_TIMP] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED INDEX [AFC_MD_ACH_ORA_IND1] ON [dbo].[AFC_MD_ACH_ORA]
(
	[PERIOADA] ASC,
	[TIP_ACH] ASC
)
INCLUDE([CANT_ACH_CONTR],[COST_ACH_CONTR],[CANT_ACH_PZU],[COST_ACH_PZU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED INDEX [AFC_MD_ACH_SUBPOR_IND1] ON [dbo].[AFC_MD_ACH_SUBPOR]
(
	[MOD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_ALOC_IND1] ON [dbo].[AFC_MD_ALOC]
(
	[PERIOADA],
	[LUNA],
	[SUBPOR_ACTUAL],
	[PARTENERDEAFACERI],
	[CURBA_ACTUAL]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DATE_ORA_IND1] ON [dbo].[AFC_MD_DATE_ORA]
(
	[PER_DESC],
	[SEGM_GROUP]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DEV_CANT_IND1] ON [dbo].[AFC_MD_DEV_CANT]
(
	[PER_T1],
	[PER_T0],
	[LUNA],
	[PARTENERDEAFACERI],
	[GROUP_SEGM],
	[MOTIV]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DIM_COEF_IND1] ON [dbo].[AFC_MD_DIM_COEF]
(
	[AN],
	[LUNA],
	[MOD_ID]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DIM_CURBA_IND1] ON [dbo].[AFC_MD_DIM_CURBA]
(
	[MOD_ID]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DIM_INST_IND1] ON [dbo].[AFC_MD_DIM_INST]
(
	[PERIOADA],
	[AN],
	[LUNA],
	[INSTALATIE]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_DIM_PA_ISTORIC_IND1] ON [dbo].[AFC_MD_DIM_PA_ISTORIC]
(
	[PK_PA],
	[SUBPOR_ACTUAL],
	[PERIOADA],
	[PARTENERDEAFACERI]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_FACT_IND1] ON [dbo].[AFC_MD_FACT]
(
	[PERIOADA],
	[LUNA],
	[STARECLIENT],
	[AN],
	[PARTENERDEAFACERI]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_KPI_EVO_IND1] ON [dbo].[AFC_MD_KPI_EVO]
(
	[PER_DESC],
	[SCEN_DESC],
	[SCENARIU],
	[NUME_SURSA]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE NONCLUSTERED COLUMNSTORE INDEX [AFC_MD_MATURITATE_IND1] ON [dbo].[AFC_MD_MATURITATE]
(
	[PER_DESC],
	[SEGM_GROUP],
	[FINAL_CONTR],
	[SFARSIT_CONTRACT],
	[AN]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/

CREATE  TRIGGER  [dbo].[AFC_MD_DIM_COEF_T1] ON [dbo].[AFC_MD_DIM_COEF]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_MD_DIM_COEF] DISABLE TRIGGER [AFC_MD_DIM_COEF_T1]
GO
/


CREATE  TRIGGER  [dbo].[AFC_MD_DIM_CURBA_T1] ON [dbo].[AFC_MD_DIM_CURBA]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_MD_DIM_CURBA] DISABLE TRIGGER [AFC_MD_DIM_CURBA_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_MD_DIM_SUBPOR_T1] ON [dbo].[AFC_MD_DIM_SUBPOR]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END

GO
ALTER TABLE [dbo].[AFC_MD_DIM_SUBPOR] DISABLE TRIGGER [AFC_MD_DIM_SUBPOR_T1]
GO
