CREATE TABLE [dbo].[AFC_INT_CODCOMPANIE](
	[COD] [varchar](4) NOT NULL,
	[NUME] [nvarchar](100) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_CODCOMPANIE] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_DIVIZIE](
	[COD] [char](2) NOT NULL,
	[NUME] [nvarchar](20) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_DIVIZIE] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_GROUP_ID](
	[COD] [varchar](7) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [AFC_INT_GROUP_ID_PK] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_INVOICINGPARTY](
	[COD] [varchar](15) NOT NULL,
	[NUME] [nvarchar](100) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_INVOICINGPARTY] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_MANAGER](
	[IDMANAGER] [varchar](50) NOT NULL,
	[DENUMIREMANAGER] [varchar](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_MANAGER] PRIMARY KEY CLUSTERED 
(
	[IDMANAGER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_MOTIVMOVIN](
	[PER] [char](9) NOT NULL,
	[COD] [char](50) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_MOTIVMOVIN] PRIMARY KEY CLUSTERED 
(
	[PER] ASC,
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_NT](
	[COD] [varchar](2) NOT NULL,
	[DESCRIERE] [varchar](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_NT] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_PER_CALC](
	[PER] [char](9) NOT NULL,
	[VERSIUNE_PLAN] [varchar](5) NOT NULL,
	[DESCRIERE] [varchar](100) NOT NULL,
	[BLOCAT] [float] NOT NULL,
	[DATA_START_REALIZ] [date] NULL,
	[DATA_SFARSIT_REALIZ] [date] NULL,
	[DATA_START_ESTIMAT] [date] NULL,
	[DATA_SFARSIT_ESTIMAT] [date] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
	[GROUP_ID] [varchar](7) NULL,
	[GROUP_COD]  AS (([GROUP_ID]+'_')+CONVERT([char](4),datepart(year,[MOD_TIMP]))) PERSISTED,
 CONSTRAINT [PK_AFC_INT_PER_CALC] PRIMARY KEY CLUSTERED 
(
	[PER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_REG_LC](
	[COD] [varchar](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_REG_LC] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_REG_PORTOF](
	[COD] [varchar](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_REG_PORTOF] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_SEGMENT](
	[COD] [varchar](3) NOT NULL,
	[NUME] [nvarchar](100) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
	[GROUP_SEGM] [varchar](10) NULL,
 CONSTRAINT [PK_AFC_INT_SEGMENT] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_SEGMENT_COM](
	[COD] [varchar](3) NOT NULL,
	[NUME] [nvarchar](100) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_SEGMENT_COM] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_STARE](
	[COD] [varchar](50) NOT NULL,
	[NUME] [varchar](20) NULL,
	[DIVIZIE] [varchar](2) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_STARE] PRIMARY KEY CLUSTERED 
(
	[COD] ASC,
	[DIVIZIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_SUBPOR](
	[COD] [varchar](2) NOT NULL,
	[DESCRIERE] [varchar](100) NOT NULL,
	[DIVIZIE] [varchar](2) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[COD] ASC,
	[DIVIZIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_SUBSEGMENT](
	[COD] [varchar](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_SUBSEGMENT] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_TIP](
	[COD] [varchar](255) NOT NULL,
	[NUME] [varchar](255) NULL,
	[TIP] [varchar](6) NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_INT_TIP] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_INT_VERS_PLAN](
	[COD] [varchar](5) NOT NULL,
	[NUME] [varchar](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [AFC_INT_VERS_PLAN_PK] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFC_INT_CODCOMPANIE] ADD  CONSTRAINT [DF_AFC_INT_MOD_DE]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_DIVIZIE] ADD  CONSTRAINT [DF_AFC_INT_DIVIZIE_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_GROUP_ID] ADD  CONSTRAINT [DF_AFC_INT_GROUP_ID_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_INVOICINGPARTY] ADD  CONSTRAINT [DF_AFC_INT_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_MANAGER] ADD  CONSTRAINT [DF__AFC_INT_M__MOD_T__3A228BCB]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_MOTIVMOVIN] ADD  CONSTRAINT [DF_AFC_INT_MOTIVMOVIN_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_NT] ADD  CONSTRAINT [DF__AFC_INT_NT__MOD_T__3FA65AF7]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_PER_CALC] ADD  CONSTRAINT [DF__AFC_INT_P__BLOCA__766C7FFC]  DEFAULT ((0)) FOR [BLOCAT]
GO
ALTER TABLE [dbo].[AFC_INT_PER_CALC] ADD  CONSTRAINT [DF__AFC_INT_P__MOD_T__7854C86E]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_REG_LC] ADD  CONSTRAINT [DF_AFC_INT_LC_MOD_TOMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_REG_PORTOF] ADD  CONSTRAINT [DF__AFC_INT_R__MOD_T__2EB0D91F]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT] ADD  CONSTRAINT [DF__AFC_INT_S__MOD_T__15E52B55]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT_COM] ADD  CONSTRAINT [DF__AFC_INT_SEGMENT_COM_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_STARE] ADD  CONSTRAINT [DF_AFC_INT_STARE_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_SUBPOR] ADD  CONSTRAINT [DF__AFC_INT_SUBPOR__MOD_T__3FA65AF7]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_SUBSEGMENT] ADD  CONSTRAINT [DF__AFC_INT_S__MOD_T__2AE0483B]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_TIP] ADD  CONSTRAINT [DF_AFC_INT_TIP_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_VERS_PLAN] ADD  CONSTRAINT [DF_AFC_INT_VERS_PLAN_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_INT_STARE]  WITH NOCHECK ADD  CONSTRAINT [AFC_INT_STARE_CK1] CHECK  (([NUME]='ATIPIC' OR [NUME]='AGENTSU' OR [NUME]='AGENTFUI' OR [NUME]='ELIGIBIL' OR [NUME] IS NULL))
GO
ALTER TABLE [dbo].[AFC_INT_STARE] CHECK CONSTRAINT [AFC_INT_STARE_CK1]
GO
ALTER TABLE [dbo].[AFC_INT_STARE]  WITH NOCHECK ADD  CONSTRAINT [AFC_INT_STARE_CK2] CHECK  (([DIVIZIE]='01' OR [DIVIZIE]='02'))
GO
ALTER TABLE [dbo].[AFC_INT_STARE] CHECK CONSTRAINT [AFC_INT_STARE_CK2]
GO
ALTER TABLE [dbo].[AFC_INT_SUBPOR]  WITH NOCHECK ADD  CONSTRAINT [AFC_INT_SUBPOR_CK1] CHECK  (([DIVIZIE]='01' OR [DIVIZIE]='02'))
GO
ALTER TABLE [dbo].[AFC_INT_SUBPOR] CHECK CONSTRAINT [AFC_INT_SUBPOR_CK1]
GO
ALTER TABLE [dbo].[AFC_INT_TIP]  WITH NOCHECK ADD  CONSTRAINT [AFC_INT_TIP_CK1] CHECK  (([TIP]='INTERN' OR [TIP]='EXTERN'))
GO
ALTER TABLE [dbo].[AFC_INT_TIP] CHECK CONSTRAINT [AFC_INT_TIP_CK1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_CODCOMPANIE_T1] ON [dbo].[AFC_INT_CODCOMPANIE]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_CODCOMPANIE] ENABLE TRIGGER [AFC_INT_CODCOMPANIE_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_DIVIZIE_T1] ON [dbo].[AFC_INT_DIVIZIE]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_DIVIZIE] ENABLE TRIGGER [AFC_INT_DIVIZIE_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_GROUP_ID_T1]  ON [dbo].[AFC_INT_GROUP_ID]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 
  
			

		     INSERT INTO dbo.AFC_INT_GROUP_ID ( COD,MOD_DE,MOD_TIMP)
		     SELECT          COD,MOD_DE, SWITCHOFFSET(getdate(), '+02:00') AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          COD=I.COD,
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP=SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_GROUP_ID a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_GROUP_ID] ENABLE TRIGGER [AFC_INT_GROUP_ID_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_GROUP_ID_T2] ON [dbo].[AFC_INT_GROUP_ID]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_GROUP_ID] ENABLE TRIGGER [AFC_INT_GROUP_ID_T2]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_INVOICINGPARTY_T1] ON [dbo].[AFC_INT_INVOICINGPARTY]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_INVOICINGPARTY] ENABLE TRIGGER [AFC_INT_INVOICINGPARTY_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_MANAGER_T1]  ON [dbo].[AFC_INT_MANAGER]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_MANAGER ( IDMANAGER,DENUMIREMANAGER,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(IDMANAGER)) AS IDMANAGER,UPPER(TRIM(DENUMIREMANAGER)) AS DENUMIREMANAGER , MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.IDMANAGER=INSERTED.IDMANAGER )

-- for update

		     UPDATE  a
		     SET          DENUMIREMANAGER=UPPER(TRIM(I.DENUMIREMANAGER)),								    
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_MANAGER a INNER JOIN INSERTED I ON a.IDMANAGER=I.IDMANAGER
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.IDMANAGER=I.IDMANAGER )

END;
GO
ALTER TABLE [dbo].[AFC_INT_MANAGER] ENABLE TRIGGER [AFC_INT_MANAGER_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_MANAGER_T2] ON [dbo].[AFC_INT_MANAGER]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_MANAGER] ENABLE TRIGGER [AFC_INT_MANAGER_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_NT_T1]  ON [dbo].[AFC_INT_NT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_NT ( COD,DESCRIERE,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)) AS COD,UPPER(TRIM(DESCRIERE)) AS DESCRIERE, MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          DESCRIERE=UPPER(TRIM(I.DESCRIERE)),							    
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_NT a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_NT] ENABLE TRIGGER [AFC_INT_NT_T1]
GO
/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  TRIGGER  [dbo].[AFC_INT_NT_T2] ON [dbo].[AFC_INT_NT]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_NT] ENABLE TRIGGER [AFC_INT_NT_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_PER_CALC_T1]  ON [dbo].[AFC_INT_PER_CALC]
INSTEAD OF INSERT
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_PER_CALC ( PER,VERSIUNE_PLAN,DESCRIERE,BLOCAT,DATA_START_REALIZ,DATA_SFARSIT_REALIZ,DATA_START_ESTIMAT,DATA_SFARSIT_ESTIMAT,MOD_DE,MOD_TIMP, GROUP_ID)
		     SELECT      'PER'+trim(str(next value for dbo.AFC_INT_PER_CALC_SQ1 )) as PER,				  VERSIUNE_PLAN,DESCRIERE,BLOCAT,DATA_START_REALIZ,DATA_SFARSIT_REALIZ,DATA_START_ESTIMAT,DATA_SFARSIT_ESTIMAT,
				      MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP, GROUP_ID
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.PER=INSERTED.PER )


END;
GO
ALTER TABLE [dbo].[AFC_INT_PER_CALC] ENABLE TRIGGER [AFC_INT_PER_CALC_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_PER_CALC_T2] ON [dbo].[AFC_INT_PER_CALC]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_PER_CALC] ENABLE TRIGGER [AFC_INT_PER_CALC_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_PER_CALC_T3]  ON [dbo].[AFC_INT_PER_CALC]
AFTER INSERT, UPDATE 
AS

BEGIN ;

DECLARE @PER CHAR(9);
DECLARE @COD CHAR(50);
DECLARE c1 CURSOR FOR
(
SELECT PER ,'DA_POTENTIAL_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN NOT LIKE 'REAL%'
UNION ALL
SELECT PER,'NU_POTENTIAL_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN NOT LIKE 'REAL%'
UNION ALL
SELECT PER,'CONTRACT_SEMNAT_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN NOT IN ('MTP1','MTP2','MTP3') AND VERSIUNE_PLAN NOT LIKE 'REAL%'
UNION ALL
SELECT PER,'CONTRACT_ACTIV_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN NOT IN ('MTP1','MTP2','MTP3') AND VERSIUNE_PLAN NOT LIKE 'REAL%'
UNION ALL
SELECT PER,'CONTRACT_ACTIV_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_REALIZ)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN LIKE 'REAL%'
UNION ALL
SELECT PER,'CONTRACT_ACTIV_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN IN ('MTP1','MTP2','MTP3')
UNION ALL
SELECT PER,'CONTRACT_SEMNAT_'+VERSIUNE_PLAN+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN IN ('MTP1','MTP2','MTP3')
UNION ALL
SELECT PER,'NU_POTENTIAL_'+
      REPLACE(GROUP_ID,'GR_','')+'_'+
	  CONVERT(CHAR,DATEPART(YEAR,(
	                               SELECT DATA_SFARSIT_ESTIMAT 
								   FROM AFC_INT_PER_CALC 
								   WHERE PER=( 
								              SELECT MIN(PER)  
											  FROM AFC_INT_PER_CALC 
											  WHERE GROUP_COD IN ( 
																  SELECT DISTINCT GROUP_COD 
																  FROM AFC_INT_PER_CALC WHERE 
																  PER=@PER 
																  ) 
									          )
								  GROUP BY DATA_SFARSIT_ESTIMAT
								  ) 
 						   ) 
			  ) AS COD 
FROM AFC_INT_PER_CALC 
WHERE PER=@PER AND VERSIUNE_PLAN IN ('MTP1','MTP2','MTP3')
UNION ALL
SELECT PER,'NU_POTENTIAL_MTP1'+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)-1) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN IN ('MTP1','MTP2','MTP3')
UNION ALL
SELECT PER,'NU_POTENTIAL_MTP2'+'_'+CONVERT(CHAR,DATEPART(YEAR,DATA_START_ESTIMAT)-2) AS COD FROM AFC_INT_PER_CALC WHERE PER=@PER AND VERSIUNE_PLAN IN ('MTP1','MTP2','MTP3')
) ;
OPEN c1;
FETCH NEXT FROM c1 INTO @PER, @COD ;
WHILE @@FETCH_STATUS=0
	BEGIN
		DELETE FROM dbo.AFC_INT_MOTIVMOVIN WHERE PER=@PER AND COD=@COD
		INSERT dbo.AFC_INT_MOTIVMOVIN ( PER, COD )
		VALUES ( @PER, @COD )
		FETCH NEXT FROM c1 INTO @PER, @COD;
	END
CLOSE c1;
DEALLOCATE c1;

END;
GO
ALTER TABLE [dbo].[AFC_INT_PER_CALC] ENABLE TRIGGER [AFC_INT_PER_CALC_T3]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_REG_LC_T1] ON [dbo].[AFC_INT_REG_LC]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_REG_LC] ENABLE TRIGGER [AFC_INT_REG_LC_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_REG_PORTOF_T1]  ON [dbo].[AFC_INT_REG_PORTOF]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_REG_PORTOF ( COD,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)), MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_REG_PORTOF a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_REG_PORTOF] ENABLE TRIGGER [AFC_INT_REG_PORTOF_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_REG_PORTOF_T2] ON [dbo].[AFC_INT_REG_PORTOF]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_REG_PORTOF] ENABLE TRIGGER [AFC_INT_REG_PORTOF_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_SEGMENT_T1]  ON [dbo].[AFC_INT_SEGMENT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_SEGMENT ( COD,NUME,MOD_DE,MOD_TIMP, GROUP_SEGM )
		     SELECT          UPPER(TRIM(COD)) AS COD, UPPER(TRIM(NUME)) AS NUME , MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP, GROUP_SEGM
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          NUME=UPPER(TRIM(I.NUME)),
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00'),
				     GROUP_SEGM=I.GROUP_SEGM
		FROM dbo.AFC_INT_SEGMENT a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT] ENABLE TRIGGER [AFC_INT_SEGMENT_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_SEGMENT_T2] ON [dbo].[AFC_INT_SEGMENT]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT] ENABLE TRIGGER [AFC_INT_SEGMENT_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_SEGMENT_COM_T1]  ON [dbo].[AFC_INT_SEGMENT_COM]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_SEGMENT_COM ( COD,NUME,MOD_DE,MOD_TIMP )
		     SELECT          UPPER(TRIM(COD)) AS COD, UPPER(TRIM(NUME)) AS NUME , MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET     NUME=UPPER(TRIM(I.NUME)),
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_SEGMENT_COM a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT_COM] ENABLE TRIGGER [AFC_INT_SEGMENT_COM_T1]
GO
/

create  TRIGGER  [dbo].[AFC_INT_SEGMENT_COM_T2] ON [dbo].[AFC_INT_SEGMENT_COM]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_SEGMENT_COM] ENABLE TRIGGER [AFC_INT_SEGMENT_COM_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_STARE_T1]  ON [dbo].[AFC_INT_STARE]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_STARE ( COD, NUME, DIVIZIE, MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)) AS COD, UPPER(TRIM(NUME)) AS NUME , UPPER(TRIM(DIVIZIE)) AS DIVIZIE, MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          NUME=UPPER(TRIM(I.NUME)),
				     DIVIZIE=UPPER(TRIM(I.DIVIZIE)),
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_STARE a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_STARE] ENABLE TRIGGER [AFC_INT_STARE_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_STARE_T2] ON [dbo].[AFC_INT_STARE]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_STARE] ENABLE TRIGGER [AFC_INT_STARE_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_SUBPOR_T1]  ON [dbo].[AFC_INT_SUBPOR]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_SUBPOR ( COD,DESCRIERE,DIVIZIE,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)) AS COD,UPPER(TRIM(DESCRIERE)) AS DESCRIERE, UPPER(TRIM(DIVIZIE)) AS DIVIZIE, MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          DESCRIERE=UPPER(TRIM(I.DESCRIERE)),
				     DIVIZIE=	UPPER(TRIM(I.DIVIZIE)),					    
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_SUBPOR a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_SUBPOR] ENABLE TRIGGER [AFC_INT_SUBPOR_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_SUBPOR_T2] ON [dbo].[AFC_INT_SUBPOR]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_SUBPOR] ENABLE TRIGGER [AFC_INT_SUBPOR_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_SUBSEGMENT_T1]  ON [dbo].[AFC_INT_SUBSEGMENT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_SUBSEGMENT ( COD,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)) AS COD, CURRENT_USER AS MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_SUBSEGMENT a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_SUBSEGMENT] ENABLE TRIGGER [AFC_INT_SUBSEGMENT_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_SUBSEGMENT_T2] ON [dbo].[AFC_INT_SUBSEGMENT]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_SUBSEGMENT] ENABLE TRIGGER [AFC_INT_SUBSEGMENT_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_INT_TIP_T1]  ON [dbo].[AFC_INT_TIP]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_INT_TIP ( COD, NUME, TIP, MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(COD)) AS COD, UPPER(TRIM(NUME)) AS NUME , UPPER(TRIM(TIP)) AS TIP, MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          NUME=UPPER(TRIM(I.NUME)),
				     TIP=UPPER(TRIM(I.TIP)),
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_TIP a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_TIP] ENABLE TRIGGER [AFC_INT_TIP_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_TIP_T2] ON [dbo].[AFC_INT_TIP]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_TIP] ENABLE TRIGGER [AFC_INT_TIP_T2]
GO
/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[AFC_INT_VERS_PLAN_T1]  ON [dbo].[AFC_INT_VERS_PLAN]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 
  
			

		     INSERT INTO dbo.AFC_INT_VERS_PLAN ( COD,NUME,MOD_DE,MOD_TIMP)
		     SELECT          COD,NUME,MOD_DE, SWITCHOFFSET(getdate(), '+02:00') AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET          COD=I.COD,
				     NUME=I.NUME,
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP=SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_INT_VERS_PLAN a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_INT_VERS_PLAN] ENABLE TRIGGER [AFC_INT_VERS_PLAN_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_INT_VERS_PLAN_T2] ON [dbo].[AFC_INT_VERS_PLAN]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_INT_VERS_PLAN] ENABLE TRIGGER [AFC_INT_VERS_PLAN_T2]
GO
