CREATE TABLE [dbo].[AFC_EE_INT_ACH_CANT_OFERTA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_ACH_CANT_OFERTA_1] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[CURBA] ASC,
	[DATA_OFERTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_ACH_POR](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_REF] [date] NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_ACH_POR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_REF] ASC,
	[ORA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_ACH_POT](
	[PERIOADA] [char](9) NOT NULL,
	[DATA_REF] [date] NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_ACH_POT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DATA_REF] ASC,
	[ORA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[CANT_BANDA_ORA] [float] NOT NULL,
	[PRET_BANDA_ORA] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_ACH_SUBPOR_BANDA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DATA_OFERTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU](
	[DATA_REF] [date] NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[PRET_PZU] [float] NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_ACH_SUBPOR_PZU_1] PRIMARY KEY CLUSTERED 
(
	[DATA_REF] ASC,
	[ORA_CONS] ASC,
	[DATA_OFERTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_COEF_CURBA](
	[DATA_CONS] [nvarchar](255) NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[INTERVAL_CONS] [nvarchar](255) NULL,
	[COD] [nvarchar](50) NOT NULL,
	[COEF] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
	[ID] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[ORA_CONS] ASC,
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_COST_MED_ACH](
	[PERIOADA] [char](9) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[ID] [decimal](18, 0) NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [P_AFC_INT_COST_MED_ACH] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[STARECLIENT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_DEF_KPI](
	[COD] [varchar](2) NOT NULL,
	[NUME] [nvarchar](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_DEF_KPI] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_DEF_SCENARII](
	[COD] [varchar](2) NOT NULL,
	[NUME] [nvarchar](50) NOT NULL,
	[DEN_VENIT] [nvarchar](50) NOT NULL,
	[DEN_GM] [nvarchar](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_DEF_SCENARII] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_EXCL_DISTR](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_EXCL_DISTR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_GM_TARGET](
	[PERIOADA] [char](9) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[L_01] [decimal](38, 5) NOT NULL,
	[L_02] [decimal](38, 5) NOT NULL,
	[L_03] [decimal](38, 5) NOT NULL,
	[L_04] [decimal](38, 5) NOT NULL,
	[L_05] [decimal](38, 5) NOT NULL,
	[L_06] [decimal](38, 5) NOT NULL,
	[L_07] [decimal](38, 5) NOT NULL,
	[L_08] [decimal](38, 5) NOT NULL,
	[L_09] [decimal](38, 5) NOT NULL,
	[L_10] [decimal](38, 5) NOT NULL,
	[L_11] [decimal](38, 5) NOT NULL,
	[L_12] [decimal](38, 5) NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [P_AFC_EE_INT_GM_TARGET] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[SEGMENTCLIENT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_INTERV_ORA](
	[AN] [char](4) NOT NULL,
	[DATA_CONS] [nvarchar](255) NOT NULL,
	[ORA_CONS] [float] NOT NULL,
	[INTERVAL_CONS] [nvarchar](255) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_INTERV_ORA_1] PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[ORA_CONS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_INTERV_SEGM](
	[COD] [char](3) NOT NULL,
	[CANT_MIN] [float] NULL,
	[CANT_MAX] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_INTERV_SEGM] PRIMARY KEY CLUSTERED 
(
	[COD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_MAPARE_CURBA](
	[INSTALATIE] [char](10) NOT NULL,
	[COD] [char](50) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_MAPARE_CURBA] PRIMARY KEY CLUSTERED 
(
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[COD] [char](2) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_MAPARE_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_MM_CANT](
	[PERIOADA] [char](9) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[SUBPORTOFOLIU] [char](2) NOT NULL,
	[CURBA] [char](50) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[ID_INST] [char](10) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_MM_CANT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[ID_INST] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POR_CANT](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[ID] [decimal](18, 0) NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_POR_CANT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POR_CANT_MOD](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POR_CONTR](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](255) NULL,
	[PARTENERDEAFACERI] [varchar](255) NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[NUME_GROUP] [varchar](255) NULL,
	[IDMANAGER] [varchar](255) NULL,
	[CUI] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DIVIZIE] [varchar](255) NULL,
	[CAEN] [varchar](255) NULL,
	[CATEGORIETARIF] [varchar](255) NULL,
	[NIVELDETENSIUNE] [varchar](255) NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](255) NULL,
	[SEGM_COM] [varchar](255) NULL,
	[SUBSEGMENT] [varchar](255) NULL,
	[POD] [varchar](255) NULL,
	[DATAINCEPUTCONTRACT] [varchar](255) NULL,
	[DATASFARSITCONTRACT] [varchar](255) NULL,
	[ENERGOINTENSIV] [varchar](255) NULL,
	[DATA_REZ] [varchar](255) NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_POR_CONTR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POR_CONTR_MOD](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](255) NULL,
	[PARTENERDEAFACERI] [varchar](255) NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[NUME_GROUP] [varchar](255) NULL,
	[IDMANAGER] [varchar](255) NULL,
	[CUI] [varchar](255) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DIVIZIE] [varchar](255) NULL,
	[CAEN] [varchar](255) NULL,
	[CATEGORIETARIF] [varchar](255) NULL,
	[NIVELDETENSIUNE] [varchar](255) NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](255) NULL,
	[SEGM_COM] [varchar](255) NULL,
	[SUBSEGMENT] [varchar](255) NULL,
	[POD] [varchar](255) NULL,
	[DATAINCEPUTCONTRACT] [varchar](255) NULL,
	[DATASFARSITCONTRACT] [varchar](255) NULL,
	[ENERGOINTENSIV] [varchar](255) NULL,
	[DATA_REZ] [varchar](255) NULL,
 CONSTRAINT [PK_AFC_EE_INT_POR_CONTR_MOD] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POR_CONTR_REZ](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[DATA_REZ] [varchar](255) NULL,
 CONSTRAINT [PK_AFC_EE_INT_POR_CONTR_REZ] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POT_BM](
	[PERIOADA] [char](9) NOT NULL,
	[DIVIZIE] [varchar](255) NULL,
	[REGIUNE_PORTOFOLIU] [varchar](255) NULL,
	[TIPCLIENT] [varchar](255) NULL,
	[STARECLIENT] [varchar](255) NULL,
	[NIVELDETENSIUNE] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](255) NULL,
	[SEGM_COM] [varchar](255) NULL,
	[MOTIV_MOV_IN] [varchar](255) NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[ID_INST] [char](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_POT_KA](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](255) NULL,
	[DIVIZIE] [varchar](255) NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[CUI] [varchar](255) NULL,
	[TIPCLIENT] [varchar](255) NULL,
	[STARECLIENT] [varchar](255) NULL,
	[NIVELDETENSIUNE] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](255) NULL,
	[SEGM_COM] [varchar](255) NULL,
	[ENERGOINTENSIV] [varchar](255) NULL,
	[IDMANAGER] [varchar](255) NULL,
	[MOTIV_MOV_IN] [varchar](255) NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[ID_INST] [char](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_POT_KA] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[ID_INST] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_PRET_FURN](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[VALABIL_DELA] [char](10) NOT NULL,
	[PRET_FURN] [float] NULL,
	[ID] [decimal](18, 0) NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_PRET_FURN] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC,
	[VALABIL_DELA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_PRET_FURN_AD_HOC](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[ID] [decimal](18, 0) NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_PRET_FURN_AD_HOC] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_PRET_FURN_MOD](
	[PERIOADA] [char](9) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[VALABIL_DELA] [char](10) NOT NULL,
	[PRET_FURN] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_PRET_FURN_MOD] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[INSTALATIE] ASC,
	[VALABIL_DELA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_SEM_CANT](
	[PERIOADA] [char](9) NOT NULL,
	[REGIUNE_PORTOFOLIU] [varchar](255) NULL,
	[DIVIZIE] [varchar](255) NULL,
	[DENUMIREPARTENER] [varchar](255) NULL,
	[CUI] [varchar](255) NULL,
	[TIPCLIENT] [varchar](255) NULL,
	[STARECLIENT] [varchar](255) NULL,
	[NIVELDETENSIUNE] [varchar](255) NULL,
	[SEGMENTCLIENT] [varchar](255) NULL,
	[SEGM_COM] [varchar](255) NULL,
	[ENERGOINTENSIV] [varchar](255) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[MOTIV_MOV_IN] [varchar](255) NULL,
	[DATAINCEPUTCONTRACT] [varchar](255) NULL,
	[DATASFARSITCONTRACT] [varchar](255) NULL,
	[L_01] [float] NULL,
	[L_02] [float] NULL,
	[L_03] [float] NULL,
	[L_04] [float] NULL,
	[L_05] [float] NULL,
	[L_06] [float] NULL,
	[L_07] [float] NULL,
	[L_08] [float] NULL,
	[L_09] [float] NULL,
	[L_10] [float] NULL,
	[L_11] [float] NULL,
	[L_12] [float] NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[ID_INST] [char](10) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_SEM_CANT] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[ID_INST] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_TARIF_DISTR](
	[PERIOADA] [char](9) NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[TARIF_DISTR] [decimal](38, 5) NOT NULL,
	[ID] [decimal](18, 0) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_EE_INT_TARIF_DISTR] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[DENUMIREDISTRIBUITOR] ASC,
	[NIVELDETENSIUNE] ASC,
	[VALABIL_DELA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_TARIF_TRANS](
	[PERIOADA] [char](9) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[L_01] [float] NOT NULL,
	[L_02] [float] NOT NULL,
	[L_03] [float] NOT NULL,
	[L_04] [float] NOT NULL,
	[L_05] [float] NOT NULL,
	[L_06] [float] NOT NULL,
	[L_07] [float] NOT NULL,
	[L_08] [float] NOT NULL,
	[L_09] [float] NOT NULL,
	[L_10] [float] NOT NULL,
	[L_11] [float] NOT NULL,
	[L_12] [float] NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[ID] [decimal](18, 0) NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [P_AFC_INT_TARIF_TRANS] PRIMARY KEY CLUSTERED 
(
	[PERIOADA] ASC,
	[STARECLIENT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/

CREATE TABLE [dbo].[AFC_EE_INT_TBL_STATUS](
	[TABLE_CATALOG] [varchar](50) NOT NULL,
	[TABLE_SCHEMA] [varchar](5) NOT NULL,
	[TABLE_NAME] [varchar](255) NOT NULL,
	[TABLE_TYPE] [varchar](50) NOT NULL,
	[TBL_GROUP] [varchar](50) NOT NULL,
	[TRIGGER_NAME] [varchar](255) NOT NULL,
	[IS_DISABLED] [int] NOT NULL,
	[STATUS] [varchar](10) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NOT NULL,
 CONSTRAINT [PK_AFC_EE_INT_TBL_STATUS] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE UNIQUE NONCLUSTERED INDEX [AFC_EE_INT_ACH_SUBPOR_PZU_IND1] ON [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU]
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_CANT_OFERTA] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_CANT_OFERTA_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_POR] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_POR_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_POT] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_POT_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_POR_P2_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_SUBPOR_PZU_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU] ADD  CONSTRAINT [DF_AFC_EE_INT_ACH_SUBPOR_PZU_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] ADD  CONSTRAINT [DF_AFC_EE_INT_COEF_CURBA_MOD_TIMP_1]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] ADD  CONSTRAINT [DF_AFC_EE_INT_COEF_CURBA_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_COEF_CURBA_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_COST_MED_ACH] ADD  CONSTRAINT [DF_AFC_EE_INT_COST_MED_ACH_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_DEF_KPI] ADD  CONSTRAINT [DF_AFC_EE_INT_DEF_KPI_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_DEF_SCENARII] ADD  CONSTRAINT [DF_AFC_EE_INT_DEF_SCENARII_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_EXCL_DISTR] ADD  CONSTRAINT [DF_AFC_EE_INT_EXCL_DISTR_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_EXCL_DISTR_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_EXCL_DISTR] ADD  CONSTRAINT [DF_AFC_EE_INT_EXCL_DISTR_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_GM_TARGET] ADD  CONSTRAINT [DF_AFC_EE_INT_GM_TARGET_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_GM_TARGET_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_GM_TARGET] ADD  CONSTRAINT [DF_AFC_EE_INT_GM_TARGET_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_INTERV_ORA] ADD  CONSTRAINT [DF_AFC_EE_INT_INTERV_ORA_MOD_DE]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_INTERV_SEGM] ADD  CONSTRAINT [DF__AFC_EE_INT_INTERV_SEGM__MOD_T]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_CURBA] ADD  CONSTRAINT [DF_AFC_EE_INT_MAPARE_CURBA_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR] ADD  CONSTRAINT [DF_AFC_EE_INT_MAPARE_SUBPOR_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_MM_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_MM_CANT_ID_INST]  DEFAULT ('MM'+Trim(str(NEXT VALUE FOR [dbo].[AFC_EE_INT_MM_CANT_SQ1]))) FOR [ID_INST]
GO
ALTER TABLE [dbo].[AFC_EE_INT_MM_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_MM_CANT_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_POR_CANT_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_POR_CANT_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_POR_CANT_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR] ADD  CONSTRAINT [DF_AFC_EE_INT_POR_CONTR_SUBSEGMENT]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_POR_CONTR_SQ1]) FOR [SUBSEGMENT]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR] ADD  CONSTRAINT [DF_AFC_EE_INT_POR_CONTR_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_POR_CONTR_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR] ADD  CONSTRAINT [DF__AFC_EE_IN__MOD_T__750E476F]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_BM] ADD  CONSTRAINT [DF_AFC_EE_INT_POT_BM_ID_INST]  DEFAULT ('BM'+Trim(str(NEXT VALUE FOR [dbo].[AFC_EE_INT_POT_BM_SQ1]))) FOR [ID_INST]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_BM] ADD  CONSTRAINT [DF_AFC_EE_INT_POT_BM_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_KA] ADD  CONSTRAINT [DF_AFC_EE_INT_POT_KA_ID_INST]  DEFAULT ('KA'+Trim(str(NEXT VALUE FOR [dbo].[AFC_EE_INT_POT_KA_SQ1]))) FOR [ID_INST]
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_KA] ADD  CONSTRAINT [DF_AFC_EE_INT_POT_KA_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN] ADD  CONSTRAINT [DF_AFC_EE_INT_PRET_FURN_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_PRET_FURN_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN] ADD  CONSTRAINT [DF_AFC_EE_INT_PRET_FURN_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN_AD_HOC] ADD  CONSTRAINT [DF_AFC_EE_INT_PRET_FURN_AD_HOC_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_PRET_FURN_AD_HOC_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN_AD_HOC] ADD  CONSTRAINT [DF_AFC_EE_INT_PRET_FURN_AD_HOC_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_SEM_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_SEM_CANT_ID_INST]  DEFAULT ('CS'+Trim(str(NEXT VALUE FOR [dbo].[AFC_EE_INT_SEM_CANT_SQ1]))) FOR [ID_INST]
GO
ALTER TABLE [dbo].[AFC_EE_INT_SEM_CANT] ADD  CONSTRAINT [DF_AFC_EE_INT_SEM_CANT_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_TARIF_DISTR] ADD  CONSTRAINT [DF_AFC_EE_INT_TARIF_DISTR_ID]  DEFAULT (NEXT VALUE FOR [dbo].[AFC_EE_INT_TARIF_DISTR_SQ1]) FOR [ID]
GO
ALTER TABLE [dbo].[AFC_EE_INT_TARIF_DISTR] ADD  CONSTRAINT [DF_AFC_EE_INT_TARIF_DISTR_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+02:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_TARIF_TRANS] ADD  CONSTRAINT [DF_AFC_EE_INT_TARIF_TRANS_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
ALTER TABLE [dbo].[AFC_EE_INT_TBL_STATUS] ADD  CONSTRAINT [DF_AFC_EE_INT_TBL_STATUS_MOD_DE]  DEFAULT (user_name()) FOR [MOD_DE]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]  WITH NOCHECK ADD  CONSTRAINT [CK1_CANT_BANDA_ORA] CHECK  (([CANT_BANDA_ORA]<(0)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] CHECK CONSTRAINT [CK1_CANT_BANDA_ORA]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]  WITH NOCHECK ADD  CONSTRAINT [CK2_PRET_BANDA_ORA] CHECK  (([PRET_BANDA_ORA]<>(0)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] CHECK CONSTRAINT [CK2_PRET_BANDA_ORA]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]  WITH NOCHECK ADD  CONSTRAINT [CK3_DATA_OFERTA] CHECK  ((datepart(year,[DATA_OFERTA])<>(9999)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] CHECK CONSTRAINT [CK3_DATA_OFERTA]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]  WITH NOCHECK ADD  CONSTRAINT [CK4_VALABIL_DELA] CHECK  ((datepart(year,[VALABIL_DELA])<>(9999)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] CHECK CONSTRAINT [CK4_VALABIL_DELA]
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]  WITH NOCHECK ADD  CONSTRAINT [CK5_VALABIL_PANALA] CHECK  ((datepart(year,[VALABIL_PANALA])<>(9999)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] CHECK CONSTRAINT [CK5_VALABIL_PANALA]
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA]  WITH NOCHECK ADD  CONSTRAINT [CK1_DATA_CONS] CHECK  ((isdate([DATA_CONS])=(1)))
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] CHECK CONSTRAINT [CK1_DATA_CONS]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_ACH_POR_BLOCK] ON [dbo].[AFC_EE_INT_ACH_POR]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_POR] DISABLE TRIGGER [AFC_EE_INT_ACH_POR_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_ACH_POT_BLOCK] ON [dbo].[AFC_EE_INT_ACH_POT]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_POT] DISABLE TRIGGER [AFC_EE_INT_ACH_POT_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA_BLOCK] ON [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] DISABLE TRIGGER [AFC_EE_INT_ACH_SUBPOR_BANDA_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA_T1]  ON [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA]
AFTER INSERT, UPDATE
AS
BEGIN;

SET NOCOUNT ON;			

TRUNCATE TABLE AFC_EE_CALC_VALABILITATE ;

DECLARE @PARTENERDEAFACERI CHAR(10);
DECLARE @MOD_DE VARCHAR(20);
DECLARE @MOD_TIMP DATETIME;
DECLARE c1 CURSOR FOR
				SELECT DISTINCT PARTENERDEAFACERI , MOD_DE, MOD_TIMP
				FROM			AFC_EE_INT_ACH_SUBPOR_BANDA
				ORDER BY		PARTENERDEAFACERI , MOD_DE, MOD_TIMP ASC ;

OPEN c1 ;
FETCH NEXT FROM c1 INTO @PARTENERDEAFACERI, @MOD_DE, @MOD_TIMP ;
WHILE @@FETCH_STATUS=0
	BEGIN
					
		INSERT INTO dbo.AFC_EE_CALC_VALABILITATE ( PARTENERDEAFACERI, DATA_OFERTA, AN, LUNA, VALABIL_DELA, VALABIL_PANALA, MOD_DE, MOD_TIMP )
		SELECT   PARTENERDEAFACERI,DATA_OFERTA, AN, LUNA, DELADATA, PANALADATA, @MOD_DE, @MOD_TIMP
		FROM     dbo.fn_AFC_EE_VALABILITATE (@PARTENERDEAFACERI)
		GROUP BY PARTENERDEAFACERI,DATA_OFERTA, AN, LUNA, DELADATA, PANALADATA

		FETCH NEXT FROM c1 INTO @PARTENERDEAFACERI, @MOD_DE, @MOD_TIMP ;
	END;
CLOSE c1;
DEALLOCATE c1;

END


GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_BANDA] ENABLE TRIGGER [AFC_EE_INT_ACH_SUBPOR_BANDA_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU_T1]  ON [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		    INSERT INTO dbo.AFC_EE_INT_ACH_SUBPOR_PZU ( DATA_REF, ORA_CONS, DATA_OFERTA, PRET_PZU, MOD_DE, MOD_TIMP ,ID)
		    SELECT          DATA_REF, ORA_CONS, DATA_OFERTA, PRET_PZU, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP, next value for dbo.AFC_EE_INT_ACH_SUBPOR_PZU_SQ1 AS ID
		    FROM            INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET     DATA_REF=I.DATA_REF,
				     ORA_CONS=I.ORA_CONS,
				     DATA_OFERTA=I.DATA_OFERTA,
				     PRET_PZU=I.PRET_PZU,					    
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_EE_INT_ACH_SUBPOR_PZU a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU] ENABLE TRIGGER [AFC_EE_INT_ACH_SUBPOR_PZU_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU_T2] ON [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_ACH_SUBPOR_PZU] ENABLE TRIGGER [AFC_EE_INT_ACH_SUBPOR_PZU_T2]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_COEF_CURBA_BLOCK] ON [dbo].[AFC_EE_INT_COEF_CURBA]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] DISABLE TRIGGER [AFC_EE_INT_COEF_CURBA_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_COEF_CURBA_T1]  ON [dbo].[AFC_EE_INT_COEF_CURBA]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_COEF_CURBA ( DATA_CONS, ORA_CONS, INTERVAL_CONS, COD, COEF,MOD_DE,MOD_TIMP, ID)
		     SELECT          DATA_CONS, ORA_CONS, INTERVAL_CONS, COD, COEF, MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP, next value for dbo.AFC_EE_INT_COEF_CURBA_SQ1 AS ID
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET          DATA_CONS=I.DATA_CONS,
				     ORA_CONS=I.ORA_CONS,
				     INTERVAL_CONS=I.INTERVAL_CONS,
				     COD=I.COD,
				     COEF=I.COEF,					    
				     MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_EE_INT_COEF_CURBA a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] ENABLE TRIGGER [AFC_EE_INT_COEF_CURBA_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_COEF_CURBA_T2] ON [dbo].[AFC_EE_INT_COEF_CURBA]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_COEF_CURBA] DISABLE TRIGGER [AFC_EE_INT_COEF_CURBA_T2]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_COST_MED_ACH_BLOCK] ON [dbo].[AFC_EE_INT_COST_MED_ACH]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_COST_MED_ACH] ENABLE TRIGGER [AFC_EE_INT_COST_MED_ACH_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_COST_MED_ACH_T1]  ON [dbo].[AFC_EE_INT_COST_MED_ACH]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_COST_MED_ACH    ( 
								PERIOADA, STARECLIENT,
								L_01, L_02, L_03, L_04, L_05, L_06,
								L_07, L_08, L_09, L_10, L_11, L_12, 
							        ID, MOD_DE, MOD_TIMP 
								)
		     SELECT          PERIOADA, STARECLIENT,
				     L_01, L_02, L_03, L_04, L_05, L_06,
				     L_07, L_08, L_09, L_10, L_11, L_12,
		                     next value for dbo.AFC_EE_INT_COST_MED_ACH_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE            NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET  L_01=I.L_01,
				  L_02=I.L_02,
				  L_03=I.L_03,
				  L_04=I.L_04,
				  L_05=I.L_05,
				  L_06=I.L_06,
				  L_07=I.L_07,
				  L_08=I.L_08,
				  L_09=I.L_09,
				  L_10=I.L_10,
				  L_11=I.L_11,
				  L_12=I.L_12,
				  MOD_DE=I.MOD_DE,
				  MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_COST_MED_ACH a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_COST_MED_ACH] ENABLE TRIGGER [AFC_EE_INT_COST_MED_ACH_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_DEF_KPI_T1] ON [dbo].[AFC_EE_INT_DEF_KPI]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_DEF_KPI] ENABLE TRIGGER [AFC_EE_INT_DEF_KPI_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_DEF_SCENARII_T1] ON [dbo].[AFC_EE_INT_DEF_SCENARII]
INSTEAD OF DELETE,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_DEF_SCENARII] ENABLE TRIGGER [AFC_EE_INT_DEF_SCENARII_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_EXCL_DISTR_T1]  ON [dbo].[AFC_EE_INT_EXCL_DISTR]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_EXCL_DISTR ( PERIOADA, INSTALATIE, ID, MOD_DE, MOD_TIMP )
		     SELECT          PERIOADA, INSTALATIE, 
		                     next value for dbo.AFC_EE_INT_EXCL_DISTR_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE            NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET          PERIOADA=I.PERIOADA,
		                  INSTALATIE=I.INSTALATIE,
				  MOD_DE=I.MOD_DE,
				  MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_EE_INT_EXCL_DISTR a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_EXCL_DISTR] ENABLE TRIGGER [AFC_EE_INT_EXCL_DISTR_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_GM_TARGET_BLOCK] ON [dbo].[AFC_EE_INT_GM_TARGET]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_GM_TARGET] DISABLE TRIGGER [AFC_EE_INT_GM_TARGET_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_GM_TARGET_T1]  ON [dbo].[AFC_EE_INT_GM_TARGET]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_GM_TARGET ( 
							      PERIOADA, SEGMENTCLIENT, 
							      L_01, L_02, L_03, L_04, L_05, L_06,
							      L_07, L_08, L_09, L_10, L_11, L_12, 
							      ID, MOD_DE, MOD_TIMP 
							     )
		     SELECT          PERIOADA, SEGMENTCLIENT,  
				     L_01, L_02, L_03, L_04, L_05, L_06,
				     L_07, L_08, L_09, L_10, L_11, L_12,		                     
		                     next value for dbo.AFC_EE_INT_GM_TARGET_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE            NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET  L_01=I.L_01,
				  L_02=I.L_02,
				  L_03=I.L_03,
				  L_04=I.L_04,
				  L_05=I.L_05,
				  L_06=I.L_06,
				  L_07=I.L_07,
				  L_08=I.L_08,
				  L_09=I.L_09,
				  L_10=I.L_10,
				  L_11=I.L_11,
				  L_12=I.L_12,
				  MOD_DE=I.MOD_DE,
				  MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_GM_TARGET a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_GM_TARGET] ENABLE TRIGGER [AFC_EE_INT_GM_TARGET_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_INTERV_SEGM_T1]  ON [dbo].[AFC_EE_INT_INTERV_SEGM]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_INTERV_SEGM ( COD, CANT_MIN, CANT_MAX, MOD_DE,MOD_TIMP )
		     SELECT          UPPER(TRIM(COD)) AS COD, CANT_MIN, CANT_MAX , MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.COD=INSERTED.COD )

-- for update

		     UPDATE  a
		     SET     MOD_TIMP=I.MOD_TIMP
		FROM dbo.AFC_EE_INT_INTERV_SEGM a INNER JOIN INSERTED I ON a.COD=I.COD
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.COD=I.COD )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_INTERV_SEGM] ENABLE TRIGGER [AFC_EE_INT_INTERV_SEGM_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_INTERV_SEGM_T2] ON [dbo].[AFC_EE_INT_INTERV_SEGM]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_INTERV_SEGM] ENABLE TRIGGER [AFC_EE_INT_INTERV_SEGM_T2]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_MAPARE_CURBA_BLOCK] ON [dbo].[AFC_EE_INT_MAPARE_CURBA]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_CURBA] DISABLE TRIGGER [AFC_EE_INT_MAPARE_CURBA_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_MAPARE_CURBA_T1] ON [dbo].[AFC_EE_INT_MAPARE_CURBA]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_CURBA] DISABLE TRIGGER [AFC_EE_INT_MAPARE_CURBA_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_MAPARE_SUBPOR_BLOCK] ON [dbo].[AFC_EE_INT_MAPARE_SUBPOR]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR] DISABLE TRIGGER [AFC_EE_INT_MAPARE_SUBPOR_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_MAPARE_SUBPOR_T1]  ON [dbo].[AFC_EE_INT_MAPARE_SUBPOR]
INSTEAD OF INSERT
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_MAPARE_SUBPOR ( PARTENERDEAFACERI,  COD,MOD_DE,MOD_TIMP)
		     SELECT          UPPER(TRIM(PARTENERDEAFACERI)) AS PARTENERDEAFACERI,
							 UPPER(TRIM(COD)) AS COD,  MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.PARTENERDEAFACERI=INSERTED.PARTENERDEAFACERI )

-- for update

		--     UPDATE  a
		--     SET     MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		--FROM dbo.AFC_EE_INT_MAPARE_SUBPOR  a INNER JOIN INSERTED I ON a.PARTENERDEAFACERI=I.PARTENERDEAFACERI
		--WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.PARTENERDEAFACERI=I.PARTENERDEAFACERI )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR] ENABLE TRIGGER [AFC_EE_INT_MAPARE_SUBPOR_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_MAPARE_SUBPOR_T2] ON [dbo].[AFC_EE_INT_MAPARE_SUBPOR]
INSTEAD OF DELETE
AS
BEGIN;
SET NOCOUNT ON;

	THROW 50001,'INREGISTRARILE NU POT FII STERSE DIN TABEL!', 1; 

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR] DISABLE TRIGGER [AFC_EE_INT_MAPARE_SUBPOR_T2]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_MAPARE_SUBPOR_T3]  ON [dbo].[AFC_EE_INT_MAPARE_SUBPOR]
AFTER INSERT, UPDATE 
AS

BEGIN ;

	DECLARE @CHECK FLOAT;
	SELECT @CHECK = COUNT(*) FROM dbo.AFC_EE_INT_MAPARE_SUBPOR WHERE COD NOT IN ('P2','P3') ;

	IF ISNULL(@CHECK,0)>0
		BEGIN
			THROW 50002,'TABELUL POATE SA CONTINA DATE PENTRU CLIENTII P2 SI P3', 1; 
		END

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_MAPARE_SUBPOR] ENABLE TRIGGER [AFC_EE_INT_MAPARE_SUBPOR_T3]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_MM_CANT_BLOCK] ON [dbo].[AFC_EE_INT_MM_CANT]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MM_CANT] DISABLE TRIGGER [AFC_EE_INT_MM_CANT_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_MM_CANT_T1]  ON [dbo].[AFC_EE_INT_MM_CANT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_MM_CANT (	 PERIOADA, DIVIZIE, SUBPORTOFOLIU, CURBA, STARECLIENT, SEGMENTCLIENT,													
													 L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
													 ID_INST , MOD_DE , MOD_TIMP )
		     SELECT     PERIOADA, DIVIZIE, SUBPORTOFOLIU, CURBA, STARECLIENT, SEGMENTCLIENT, 
					    L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
					    'MM'+trim(str(next value for dbo.AFC_EE_INT_MM_CANT_SQ1)) as ID_INST, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID_INST=INSERTED.ID_INST )

-- for update

		     UPDATE  a
		     SET    PERIOADA=I.PERIOADA,
				    DIVIZIE=I.DIVIZIE,
				    SUBPORTOFOLIU=I.SUBPORTOFOLIU,
				    CURBA=I.CURBA,
				    STARECLIENT=I.STARECLIENT,
				    SEGMENTCLIENT=I.SEGMENTCLIENT,
				    L_01=I.L_01,
				    L_02=I.L_02,
				    L_03=I.L_03,
				    L_04=I.L_04,
				    L_05=I.L_05,
				    L_06=I.L_06,
				    L_07=I.L_07,
				    L_08=I.L_08,
				    L_09=I.L_09,
				    L_10=I.L_10,
				    L_11=I.L_11,
				    L_12=I.L_12,		    
				    MOD_DE=I.MOD_DE,
				    MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_MM_CANT  a INNER JOIN INSERTED I ON a.ID_INST=I.ID_INST
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID_INST=I.ID_INST )

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_MM_CANT] ENABLE TRIGGER [AFC_EE_INT_MM_CANT_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POR_CANT_BLOCK] ON [dbo].[AFC_EE_INT_POR_CANT]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CANT] ENABLE TRIGGER [AFC_EE_INT_POR_CANT_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_POR_CANT_T1]  ON [dbo].[AFC_EE_INT_POR_CANT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

				INSERT INTO dbo.AFC_EE_INT_POR_CANT ( PERIOADA, INSTALATIE,L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
												ID , MOD_DE , MOD_TIMP )
				SELECT          PERIOADA, INSTALATIE, L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
						next value for dbo.AFC_EE_INT_POR_CANT_SQ1 AS ID, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
			FROM             INSERTED 
			WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

				UPDATE  a
				SET L_01=I.L_01,
					L_02=I.L_02,
					L_03=I.L_03,
					L_04=I.L_04,
					L_05=I.L_05,
					L_06=I.L_06,
					L_07=I.L_07,
					L_08=I.L_08,
					L_09=I.L_09,
					L_10=I.L_10,
					L_11=I.L_11,
					L_12=I.L_12,		    
					MOD_DE=I.MOD_DE,
					MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_POR_CANT a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;

GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CANT] ENABLE TRIGGER [AFC_EE_INT_POR_CANT_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POR_CANT_MOD_BLOCK] ON [dbo].[AFC_EE_INT_POR_CANT_MOD]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CANT_MOD] ENABLE TRIGGER [AFC_EE_INT_POR_CANT_MOD_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POR_CONTR_BLOCK] ON [dbo].[AFC_EE_INT_POR_CONTR]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR] ENABLE TRIGGER [AFC_EE_INT_POR_CONTR_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_POR_CONTR_T1]  ON [dbo].[AFC_EE_INT_POR_CONTR]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

				INSERT INTO dbo.AFC_EE_INT_POR_CONTR   (	
															PERIOADA, REGIUNE_PORTOFOLIU, PARTENERDEAFACERI, DENUMIREPARTENER, NUME_GROUP, IDMANAGER, CUI, INSTALATIE, DIVIZIE,
															CAEN, CATEGORIETARIF, NIVELDETENSIUNE, DENUMIREDISTRIBUITOR, SEGMENTCLIENT, SEGM_COM, SUBSEGMENT, POD, DATAINCEPUTCONTRACT,
															DATASFARSITCONTRACT, ENERGOINTENSIV, DATA_REZ, 
															ID, MOD_DE, MOD_TIMP
														)
				SELECT  PERIOADA, REGIUNE_PORTOFOLIU, PARTENERDEAFACERI, DENUMIREPARTENER, NUME_GROUP, IDMANAGER, CUI, INSTALATIE, DIVIZIE,
						CAEN, CATEGORIETARIF, NIVELDETENSIUNE, DENUMIREDISTRIBUITOR, SEGMENTCLIENT, SEGM_COM, SUBSEGMENT, POD, DATAINCEPUTCONTRACT,
						DATASFARSITCONTRACT, ENERGOINTENSIV, DATA_REZ, 
						next value for dbo.AFC_EE_INT_POR_CONTR_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIM
				FROM    INSERTED 
				WHERE   NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

				UPDATE  a
				SET	 REGIUNE_PORTOFOLIU=I.REGIUNE_PORTOFOLIU,
					 PARTENERDEAFACERI=I.PARTENERDEAFACERI,
					 DENUMIREPARTENER=I.DENUMIREPARTENER,
					 NUME_GROUP=I.NUME_GROUP,
					 IDMANAGER=I.IDMANAGER,
					 CUI=I.CUI,
					 DIVIZIE=I.DIVIZIE,
					 CAEN=I.CAEN,
					 CATEGORIETARIF=I.CATEGORIETARIF,
					 NIVELDETENSIUNE=I.NIVELDETENSIUNE,
					 DENUMIREDISTRIBUITOR=I.DENUMIREDISTRIBUITOR,
					 SEGMENTCLIENT=I.SEGMENTCLIENT,
					 SEGM_COM=I.SEGM_COM,
					 SUBSEGMENT=I.SUBSEGMENT,
					 POD=I.POD,
					 DATAINCEPUTCONTRACT=I.DATAINCEPUTCONTRACT,
					 DATASFARSITCONTRACT=I.DATASFARSITCONTRACT,
					 ENERGOINTENSIV=I.ENERGOINTENSIV,
					 DATA_REZ=I.DATA_REZ,							
					 MOD_DE=I.MOD_DE,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
				FROM dbo.AFC_EE_INT_POR_CONTR  a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR] DISABLE TRIGGER [AFC_EE_INT_POR_CONTR_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POR_CONTR_MOD_BLOCK] ON [dbo].[AFC_EE_INT_POR_CONTR_MOD]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR_MOD] ENABLE TRIGGER [AFC_EE_INT_POR_CONTR_MOD_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POR_CONTR_REZ_BLOCK] ON [dbo].[AFC_EE_INT_POR_CONTR_REZ]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POR_CONTR_REZ] ENABLE TRIGGER [AFC_EE_INT_POR_CONTR_REZ_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POT_BM_BLOCK] ON [dbo].[AFC_EE_INT_POT_BM]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_BM] ENABLE TRIGGER [AFC_EE_INT_POT_BM_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_POT_BM_T1]  ON [dbo].[AFC_EE_INT_POT_BM]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

				INSERT INTO dbo.AFC_EE_INT_POT_BM ( PERIOADA, DIVIZIE, REGIUNE_PORTOFOLIU, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT, SEGM_COM, MOTIV_MOV_IN,
													L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
													ID_INST , MOD_DE , MOD_TIMP )
				SELECT          PERIOADA, DIVIZIE, REGIUNE_PORTOFOLIU, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT, SEGM_COM, MOTIV_MOV_IN,
						L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
						'BM'+trim(str(next value for dbo.AFC_EE_INT_POT_BM_SQ1 )) as ID_INST, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
			FROM             INSERTED 
			WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID_INST=INSERTED.ID_INST )

-- for update

				UPDATE  a
				SET PERIOADA=I.PERIOADA,
					DIVIZIE=I.DIVIZIE,
					REGIUNE_PORTOFOLIU=I.REGIUNE_PORTOFOLIU,
					TIPCLIENT=I.TIPCLIENT,
					STARECLIENT=I.STARECLIENT,
					NIVELDETENSIUNE=I.NIVELDETENSIUNE,
					SEGMENTCLIENT=I.SEGMENTCLIENT,
					SEGM_COM=I.SEGM_COM,
					MOTIV_MOV_IN=I.MOTIV_MOV_IN,
					L_01=I.L_01,
					L_02=I.L_02,
					L_03=I.L_03,
					L_04=I.L_04,
					L_05=I.L_05,
					L_06=I.L_06,
					L_07=I.L_07,
					L_08=I.L_08,
					L_09=I.L_09,
					L_10=I.L_10,
					L_11=I.L_11,
					L_12=I.L_12,		    
					MOD_DE=I.MOD_DE,
					MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_POT_BM  a INNER JOIN INSERTED I ON a.ID_INST=I.ID_INST
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID_INST=I.ID_INST )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_BM] ENABLE TRIGGER [AFC_EE_INT_POT_BM_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_POT_KA_BLOCK] ON [dbo].[AFC_EE_INT_POT_KA]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_KA] ENABLE TRIGGER [AFC_EE_INT_POT_KA_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_POT_KA_T1]  ON [dbo].[AFC_EE_INT_POT_KA]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_POT_KA ( PERIOADA, DIVIZIE,REGIUNE_PORTOFOLIU, DENUMIREPARTENER, CUI, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT, SEGM_COM, ENERGOINTENSIV, IDMANAGER, MOTIV_MOV_IN,
												    L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
												    ID_INST , MOD_DE , MOD_TIMP )
		     SELECT          PERIOADA, DIVIZIE, REGIUNE_PORTOFOLIU, DENUMIREPARTENER, CUI, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT, SEGM_COM, ENERGOINTENSIV, IDMANAGER, MOTIV_MOV_IN,
					    L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
					    'KA'+trim(str(next value for dbo.AFC_EE_INT_POT_KA_SQ1 )) as ID_INST, CURRENT_USER AS MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID_INST=INSERTED.ID_INST )

-- for update

		     UPDATE  a
		     SET    PERIOADA=I.PERIOADA,
			        DIVIZIE=I.DIVIZIE,
				    REGIUNE_PORTOFOLIU=I.REGIUNE_PORTOFOLIU,
				    DENUMIREPARTENER=I.DENUMIREPARTENER,
				    CUI=I.CUI,
				    TIPCLIENT=I.TIPCLIENT,
				    STARECLIENT=I.STARECLIENT,
				    NIVELDETENSIUNE=I.NIVELDETENSIUNE,
				    SEGMENTCLIENT=I.SEGMENTCLIENT,
				    SEGM_COM=I.SEGM_COM,
				    ENERGOINTENSIV=I.ENERGOINTENSIV,
				    IDMANAGER=I.IDMANAGER,
				    MOTIV_MOV_IN=I.MOTIV_MOV_IN,
				    L_01=I.L_01,
				    L_02=I.L_02,
				    L_03=I.L_03,
				    L_04=I.L_04,
				    L_05=I.L_05,
				    L_06=I.L_06,
				    L_07=I.L_07,
				    L_08=I.L_08,
				    L_09=I.L_09,
				    L_10=I.L_10,
				    L_11=I.L_11,
				    L_12=I.L_12,		    
				    MOD_DE=I.MOD_DE,
				    MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_POT_KA  a INNER JOIN INSERTED I ON a.ID_INST=I.ID_INST
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID_INST=I.ID_INST )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_POT_KA] ENABLE TRIGGER [AFC_EE_INT_POT_KA_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_PRET_FURN_BLOCK] ON [dbo].[AFC_EE_INT_PRET_FURN]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN] ENABLE TRIGGER [AFC_EE_INT_PRET_FURN_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_PRET_FURN_T1]  ON [dbo].[AFC_EE_INT_PRET_FURN]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_PRET_FURN ( PERIOADA, INSTALATIE, VALABIL_DELA, PRET_FURN, ID , MOD_DE , MOD_TIMP )
		     SELECT          PERIOADA, INSTALATIE, VALABIL_DELA, PRET_FURN,
			             next value for dbo.AFC_EE_INT_PRET_FURN_SQ1 AS ID, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET PRET_FURN=I.PRET_FURN,		    
				 MOD_DE=I.MOD_DE,
				 MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_PRET_FURN a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN] ENABLE TRIGGER [AFC_EE_INT_PRET_FURN_T1]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_PRET_FURN_MOD_BLOCK] ON [dbo].[AFC_EE_INT_PRET_FURN_MOD]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_PRET_FURN_MOD] ENABLE TRIGGER [AFC_EE_INT_PRET_FURN_MOD_BLOCK]
GO
/

CREATE  TRIGGER  [dbo].[AFC_EE_INT_SEM_CANT_BLOCK] ON [dbo].[AFC_EE_INT_SEM_CANT]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_EE_INT_SEM_CANT] ENABLE TRIGGER [AFC_EE_INT_SEM_CANT_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_SEM_CANT_T1]  ON [dbo].[AFC_EE_INT_SEM_CANT]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

				INSERT INTO dbo.AFC_EE_INT_SEM_CANT (	 PERIOADA, REGIUNE_PORTOFOLIU, DIVIZIE, DENUMIREPARTENER, CUI, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT,
														SEGM_COM, ENERGOINTENSIV, IDMANAGER, MOTIV_MOV_IN, DATAINCEPUTCONTRACT, DATASFARSITCONTRACT, 
														L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
														ID_INST , MOD_DE , MOD_TIMP )
				SELECT          PERIOADA, DIVIZIE, REGIUNE_PORTOFOLIU, DENUMIREPARTENER, CUI, TIPCLIENT, STARECLIENT, NIVELDETENSIUNE, SEGMENTCLIENT, 
						SEGM_COM, ENERGOINTENSIV, TRIM(IDMANAGER), MOTIV_MOV_IN, DATAINCEPUTCONTRACT, DATASFARSITCONTRACT, 
						L_01, L_02, L_03, L_04, L_05, L_06, L_07, L_08, L_09, L_10, L_11, L_12,
						'CS'+trim(str(next value for dbo.AFC_EE_INT_SEM_CANT_SQ1 )) as ID_INST, MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
			FROM             INSERTED 
			WHERE           NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID_INST=INSERTED.ID_INST )

-- for update

				UPDATE  a
				SET PERIOADA=I.PERIOADA,
					MOD_DE=I.MOD_DE,
					MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
		FROM dbo.AFC_EE_INT_SEM_CANT  a INNER JOIN INSERTED I ON a.ID_INST=I.ID_INST
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID_INST=I.ID_INST )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_SEM_CANT] ENABLE TRIGGER [AFC_EE_INT_SEM_CANT_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_TARIF_DISTR_T1]  ON [dbo].[AFC_EE_INT_TARIF_DISTR]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_TARIF_DISTR ( PERIOADA, DENUMIREDISTRIBUITOR, NIVELDETENSIUNE, VALABIL_DELA, TARIF_DISTR, ID, MOD_DE, MOD_TIMP )
		     SELECT          PERIOADA, DENUMIREDISTRIBUITOR, NIVELDETENSIUNE, VALABIL_DELA, TARIF_DISTR , 
		                     next value for dbo.AFC_EE_INT_TARIF_DISTR_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+02:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE            NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET          PERIOADA=I.PERIOADA,
		                  DENUMIREDISTRIBUITOR=I.DENUMIREDISTRIBUITOR,
				  NIVELDETENSIUNE=I.NIVELDETENSIUNE,
				  VALABIL_DELA=I.VALABIL_DELA,
				  TARIF_DISTR=I.TARIF_DISTR,
				  MOD_DE=I.MOD_DE,
				  MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_EE_INT_TARIF_DISTR a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_TARIF_DISTR] ENABLE TRIGGER [AFC_EE_INT_TARIF_DISTR_T1]
GO
/

CREATE TRIGGER  [dbo].[AFC_EE_INT_TARIF_TRANS_T1]  ON [dbo].[AFC_EE_INT_TARIF_TRANS]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

		     INSERT INTO dbo.AFC_EE_INT_TARIF_TRANS ( 
							      PERIOADA, STARECLIENT, 
							      L_01, L_02, L_03, L_04, L_05, L_06,
							      L_07, L_08, L_09, L_10, L_11, L_12, 
							      ID, MOD_DE, MOD_TIMP 
							     )
		     SELECT          PERIOADA, STARECLIENT,  
				     L_01, L_02, L_03, L_04, L_05, L_06,
				     L_07, L_08, L_09, L_10, L_11, L_12,		                     
		                     next value for dbo.AFC_EE_INT_TARIF_TRANS_SQ1 AS ID,MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		    FROM             INSERTED 
		    WHERE            NOT EXISTS ( SELECT * FROM DELETED  WHERE DELETED.ID=INSERTED.ID )

-- for update

		     UPDATE  a
		     SET          PERIOADA=I.PERIOADA,
		                  STARECLIENT=I.STARECLIENT,
				  L_01=I.L_01,
				  L_02=I.L_02,
				  L_03=I.L_03,
				  L_04=I.L_04,
				  L_05=I.L_05,
				  L_06=I.L_06,
				  L_07=I.L_07,
				  L_08=I.L_08,
				  L_09=I.L_09,
				  L_10=I.L_10,
				  L_11=I.L_11,
				  L_12=I.L_12,
				  MOD_DE=I.MOD_DE,
				  MOD_TIMP= SWITCHOFFSET(getdate(), '+02:00')
		FROM dbo.AFC_EE_INT_TARIF_TRANS a INNER JOIN INSERTED I ON a.ID=I.ID
		WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ID=I.ID )

END;
GO
ALTER TABLE [dbo].[AFC_EE_INT_TARIF_TRANS] ENABLE TRIGGER [AFC_EE_INT_TARIF_TRANS_T1]
GO
