CREATE TABLE [dbo].[AFC_ROLURI](
	[DIVIZIE] [char](2) NOT NULL,
	[ROL] [varchar](50) NOT NULL,
	[KID] [varchar](10) NOT NULL,
	[ACTIV] [char](2) NOT NULL,
	[NUME] [varchar](50) NOT NULL,
	[PRENUME] [varchar](50) NOT NULL,
	[TIP] [varchar](10) NOT NULL,
	[ADRESA_MAIL] [nvarchar](255) NOT NULL,
	[DEPARTAMENT] [nvarchar](255) NOT NULL,
	[DREPTURI] [varchar](20) NOT NULL,
	[PAROLA] [varchar](32) NOT NULL,
	[MENIU] [nvarchar](255) NOT NULL,
	[MOD_DE] [varchar](20) NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_AFC_ROLURI_1] PRIMARY KEY CLUSTERED 
(
	[DIVIZIE] ASC,
	[ROL] ASC,
	[KID] ASC,
	[ACTIV] ASC,
	[MENIU] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFC_ROLURI] ADD  CONSTRAINT [DF_AFC_ROLURI_MOD_DE]  DEFAULT (user_name()) FOR [MOD_DE]
GO
ALTER TABLE [dbo].[AFC_ROLURI] ADD  CONSTRAINT [DF_AFC_ROLURI_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
/

CREATE  TRIGGER  [dbo].[AFC_ROLURI_BLOCK] ON [dbo].[AFC_ROLURI]
AFTER DELETE,INSERT,UPDATE
AS
BEGIN;
SET NOCOUNT ON;

			RAISERROR ('TABELUL ESTE BLOCAT !', 16, 1);
			ROLLBACK TRANSACTION;

END
GO
ALTER TABLE [dbo].[AFC_ROLURI] ENABLE TRIGGER [AFC_ROLURI_BLOCK]
GO
/

CREATE TRIGGER  [dbo].[AFC_ROLURI_T1]  ON [dbo].[AFC_ROLURI]
INSTEAD OF UPDATE 
AS

BEGIN ;

---- for insert 

		     --INSERT INTO dbo.AFC_ROLURI ( DIVIZIE, ROL, KID, ACTIV, NUME, PRENUME, TIP, ADRESA_MAIL, DEPARTAMENT, DREPTURI, PAROLA, MENIU ,MOD_DE,MOD_TIMP)
		     --SELECT      DIVIZIE, ROL, KID, ACTIV, NUME, PRENUME, TIP, ADRESA_MAIL, DEPARTAMENT, DREPTURI, PAROLA, MENIU , CURRENT_USER AS MOD_DE, SWITCHOFFSET(getdate(), '+03:00')  AS MOD_TIMP
		     --FROM         INSERTED 
		     --WHERE        NOT EXISTS ( 
							--			SELECT * FROM DELETED  WHERE	DELETED.DIVIZIE=INSERTED.DIVIZIE AND
							--											DELETED.ROL=INSERTED.ROL	     	AND
							--											DELETED.KID=INSERTED.KID			AND
							--											DELETED.ACTIV=INSERTED.ACTIV		AND
							--											DELETED.MENIU=INSERTED.MENIU  
							--		 )

-- for update

		     UPDATE  a
		     SET     NUME=I.NUME,
				     PRENUME=I.PRENUME,
				     TIP=I.TIP,
				     ADRESA_MAIL=I.ADRESA_MAIL,
				     DEPARTAMENT=I.DEPARTAMENT,		
				     DREPTURI=I.DREPTURI,
				     PAROLA=I.PAROLA,
					 ACTIV=I.ACTIV,
				     MOD_DE=CURRENT_USER,
				     MOD_TIMP= SWITCHOFFSET(getdate(), '+03:00')
			 FROM dbo.AFC_ROLURI a INNER JOIN INSERTED I 
			 ON			a.DIVIZIE=I.DIVIZIE  AND
						a.ROL=I.ROL  		 AND
						a.KID=I.KID			 AND
						a.MENIU=I.MENIU
			WHERE EXISTS ( 
						   SELECT * 
						   FROM		DELETED 
						   WHERE	DELETED.DIVIZIE=I.DIVIZIE AND
									DELETED.ROL=I.ROL		  AND
									DELETED.KID=I.KID		  AND
									DELETED.MENIU=I.MENIU 
						)

END;
GO
ALTER TABLE [dbo].[AFC_ROLURI] ENABLE TRIGGER [AFC_ROLURI_T1]
GO
