
CREATE FUNCTION [dbo].[fn_AFC_EE_BANDA_DATA_OFERTA] ()
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10),  DATA_OFERTA DATE, VALABIL_DELA DATE, VALABIL_PANALA DATE, ZI_NUME_OFERTA VARCHAR(20), ZI_SAPT_OFERTA INT, DATA_ANTERIOR DATE, ZI_NUME_ANTERIOR VARCHAR(20), ZI_SAPT_ANTERIOR INT,
							 CANT_BANDA_ORA FLOAT, PRET_BANDA_ORA FLOAT) 
AS
BEGIN

--set datefirst=1 - run function with start day ( to be 1 - monday ) for the week

WITH src AS (		SELECT  PARTENERDEAFACERI,  
				    CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE) AS DATA_OFERTA,
					CAST(CONVERT(CHAR(10),VALABIL_DELA,101)AS DATE) AS VALABIL_DELA,
				    CAST(CONVERT(CHAR(10),VALABIL_PANALA,101)AS DATE) AS VALABIL_PANALA,
				    DATENAME( WEEKDAY , CONVERT(CHAR(10),DATA_OFERTA,101)) AS ZI_NUME_OFERTA ,
				    IIF(DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))=1,7,DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1) AS ZI_SAPT_OFERTA,
				    CASE WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=0 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
					     WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=1 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1 BETWEEN 2 AND 4 THEN DATEADD(DAY,-1, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=5 THEN DATEADD(DAY,-1, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=6 THEN DATEADD(DAY,-2, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=7 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 END
					 "DATA_ANTERIOR",
					 CANT_BANDA_ORA, PRET_BANDA_ORA
			FROM     dbo.AFC_EE_INT_ACH_SUBPOR_BANDA 
			GROUP BY PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, CANT_BANDA_ORA, PRET_BANDA_ORA
			)

			INSERT INTO @RETURNTABLE
			SELECT PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, ZI_NUME_OFERTA, ZI_SAPT_OFERTA, DATA_ANTERIOR, 
				   DATENAME( WEEKDAY , CONVERT(CHAR(10),DATA_ANTERIOR,101)) AS ZI_NUME_ANTERIOR,
				   DATEPART( DW , CONVERT(CHAR(10),DATA_ANTERIOR,101))-1 AS ZI_SAPT_ANTERIOR,
				   CANT_BANDA_ORA, PRET_BANDA_ORA
			FROM src
			GROUP BY PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, ZI_NUME_OFERTA, ZI_SAPT_OFERTA,  DATA_ANTERIOR, CANT_BANDA_ORA, PRET_BANDA_ORA

RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_CANT_ALOC_CHECK] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), CANT_LUNA DECIMAL(10,3), CANT_ALOC DECIMAL(10,3), CANT_DIF DECIMAL(10,3) )

AS
BEGIN


	WITH cant_luna AS (
						SELECT   PERIOADA,AN, LUNA, PARTENERDEAFACERI, SUM(ISNULL(CANT_TOTAL,0)) AS CANT_LUNA
						FROM	 dbo.AFC_MD_FACT
						WHERE	 PERIOADA=@PERIOADA AND LUNA IN ( SELECT LUNA FROM fn_AFC_PER_ESTIMAT (@PERIOADA) GROUP BY LUNA )  
						GROUP BY PERIOADA, AN,LUNA,PARTENERDEAFACERI
							UNION ALL
						SELECT PERIOADA, AN, LUNA, PARTENERDEAFACERI, SUM(ISNULL(CANT_LUNA,0)) AS CANT_LUNA
						FROM   dbo.fn_AFC_EE_CANT_MM (@PERIOADA)
						GROUP BY PERIOADA, AN, LUNA, PARTENERDEAFACERI
					  ),
		 cant_aloc AS (
						SELECT   PERIOADA, AN, LUNA, PARTENERDEAFACERI, SUM(CANT_ALOC) AS CANT_ALOC
						FROM	 dbo.AFC_MD_ALOC
						WHERE	 PERIOADA=@PERIOADA
						GROUP BY PERIOADA, AN,LUNA,PARTENERDEAFACERI
					   )

		INSERT INTO @RETURNTABLE
		SELECT   cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI, 
				 CAST(SUM(cant_luna.CANT_LUNA) AS DECIMAL(10,3)) CANT_LUNA, 
				 CAST(SUM(cant_aloc.CANT_ALOC) AS DECIMAL(10,3)) CANT_ALOC, 
				 CAST(SUM(ISNULL(cant_luna.CANT_LUNA,0))-SUM(ISNULL(cant_aloc.CANT_ALOC,0)) AS DECIMAL(10,0)) CANT_DIF
		FROM	 cant_luna
		LEFT JOIN cant_aloc
		ON	 cant_aloc.PERIOADA=cant_luna.PERIOADA AND cant_aloc.AN=cant_luna.AN AND cant_aloc.LUNA=cant_luna.LUNA AND cant_aloc.PARTENERDEAFACERI=cant_luna.PARTENERDEAFACERI 
		GROUP BY cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI
		ORDER BY cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI

RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_CANT_LUNA] ( @PARTENERDEAFACERI CHAR(10), @DATA_OFERTA DATE)
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10), AN SMALLINT, LUNA SMALLINT, DELADATA DATE, PANALADATA DATE, DATA_OFERTA DATE ) 
AS
BEGIN

		DECLARE @VALABIL_DELA DATE ;
		DECLARE @VALABIL_PANALA DATE ;
		DECLARE @MOD_ID INT = 1;

		SELECT  @VALABIL_DELA= VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID  GROUP BY VALABIL_DELA ;
		SELECT  @VALABIL_PANALA= VALABIL_PANALA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID  GROUP BY VALABIL_PANALA ;
		
		INSERT INTO @RETURNTABLE
		SELECT @PARTENERDEAFACERI,YEAR(DELADATA) AS AN,MONTH(DELADATA) AS LUNA ,@VALABIL_DELA DELADATA, @VALABIL_PANALA PANALADATA, @DATA_OFERTA
		FROM 
			(
				SELECT TOP ( CASE WHEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA  WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA))=12
									   THEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA  WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA ))
									   ELSE DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA  WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA ))+1
									   END )
							 DELADATA = DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER) -1, ( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA )),
							 PANALADATA = DATEADD(DAY,-1,DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER), ( SELECT DISTINCT VALABIL_PANALA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=@MOD_ID AND DATA_OFERTA=@DATA_OFERTA )))
				FROM MASTER.dbo.spt_values
				ORDER BY DELADATA
			) src
		GROUP BY DELADATA, PANALADATA 

RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_CANT_MM] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), CANT_LUNA DECIMAL(10,3) )
AS
BEGIN

		WITH cant AS (  
						SELECT PERIOADA, LUNA, PARTENERDEAFACERI, CANT_TOTAL  
						FROM   (
								SELECT  PERIOADA, ID_INST AS PARTENERDEAFACERI,
										SUM(L_01) AS [1], SUM(L_02) AS [2], SUM(L_03) AS [3], SUM(L_04) AS [4], SUM(L_05) AS [5], SUM(L_06) AS [6], 
										SUM(L_07) AS [7], SUM(L_08) AS [8], SUM(L_09) AS [9], SUM(L_10) AS [10], SUM(L_11) AS [11], SUM(L_12) AS [12]
								FROM     dbo.AFC_EE_INT_MM_CANT 
								where    PERIOADA=@PERIOADA AND STARECLIENT='ELIGIBIL' 
								GROUP BY PERIOADA, ID_INST
									) AS t
						UNPIVOT ( CANT_TOTAL FOR LUNA IN ( [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12] )) AS CANT_TOTAL
						),
				per AS (
						SELECT   PERIOADA, AN, LUNA
						FROM     dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)
						GROUP BY PERIOADA, AN, LUNA
						)
			INSERT INTO @RETURNTABLE
			SELECT cant.PERIOADA, per.AN, cant.LUNA, cant.PARTENERDEAFACERI, cant.CANT_TOTAL
			FROM   cant, per
			WHERE  cant.PERIOADA=per.PERIOADA AND cant.LUNA=per.LUNA
			GROUP BY cant.PERIOADA, per.AN, cant.LUNA, cant.PARTENERDEAFACERI, cant.CANT_TOTAL

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CANT_OFERTA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_CANT_OFERTA] ()
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), DATA_OFERTA DATE, CURBA VARCHAR(50), VALABIL_OFERTA_DELA DATE, VALABIL_OFERTA_PANALA DATE, 
							 CANT_OFERTA FLOAT, DATA_ACTULA DATE , VALABIL BIT ) 
AS
BEGIN

WITH cant AS (
				SELECT  LUNA, PARTENERDEAFACERI, CURBA, CANT_OFERTA, DATA_OFERTA
				FROM 
					(
					SELECT   PARTENERDEAFACERI, CURBA, DATA_OFERTA,
							 SUM(L_01) AS [1], SUM(L_02) AS [2], SUM(L_03) AS [3], SUM(L_04) AS [4], SUM(L_05) AS [5], SUM(L_06) AS [6], 
							 SUM(L_07) AS [7], SUM(L_08) AS [8], SUM(L_09) AS [9], SUM(L_10) AS [10], SUM(L_11) AS [11], SUM(L_12) AS [12]
					FROM     dbo.AFC_EE_INT_ACH_CANT_OFERTA	
					GROUP BY PARTENERDEAFACERI, CURBA, DATA_OFERTA
						) AS t
				UNPIVOT ( CANT_OFERTA FOR LUNA IN ( [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12] )) AS CANT_OFERTA
			  ),
	 ofer AS (
				SELECT AN, LUNA, PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA VALABIL_OFERTA_DELA, VALABIL_PANALA VALABIL_OFERTA_PANALA
				FROM AFC_EE_CALC_VALABILITATE
				GROUP BY AN, LUNA, PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA
			 )

INSERT INTO @RETURNTABLE
SELECT		ofer.AN, cant.LUNA, ofer.PARTENERDEAFACERI, ofer.DATA_OFERTA, cant.CURBA, ofer.VALABIL_OFERTA_DELA, ofer.VALABIL_OFERTA_PANALA,
		    cant.CANT_OFERTA,
			DATEFROMPARTS(ofer.AN, cant.LUNA,1) AS DATA_ACTUAL,
			CASE WHEN  MIN(DATEFROMPARTS(ofer.AN, cant.LUNA, 1)) BETWEEN  DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_DELA),MONTH(ofer.VALABIL_OFERTA_DELA),1) 
																								AND 
																		  DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_PANALA),MONTH(ofer.VALABIL_OFERTA_PANALA),1) 						
					  AND
					  MAX(DATEFROMPARTS(ofer.AN, cant.LUNA, 1)) BETWEEN   DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_DELA),MONTH(ofer.VALABIL_OFERTA_DELA),1) 
																								AND 
																		  DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_PANALA),MONTH(ofer.VALABIL_OFERTA_PANALA),1)  
				 THEN 1 
				 ELSE 0 
				 END "VALABIL"
FROM		ofer
LEFT JOIN   cant
ON   		ofer.LUNA=cant.LUNA AND ofer.PARTENERDEAFACERI=cant.PARTENERDEAFACERI AND ofer.DATA_OFERTA=cant.DATA_OFERTA 
GROUP BY	ofer.AN, cant.LUNA, ofer.PARTENERDEAFACERI, ofer.DATA_OFERTA, cant.CURBA, ofer.VALABIL_OFERTA_DELA, ofer.VALABIL_OFERTA_PANALA, cant.CANT_OFERTA
ORDER BY	ofer.AN, cant.LUNA

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_FW]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_FW]
(

) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @CHECK INT;
			DECLARE  @COUNT FLOAT;

			SELECT @COUNT = ISNULL(COUNT(*),0) FROM AFC_EE_CALC_SIM_PRET_FURN WHERE FW IS NULL AND FINAL_CONTR=1;

			IF @COUNT=0 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_ID_SUBPOR]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_ID_SUBPOR]
(
@PERIOADA CHAR(9) 
) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @CHECK INT;
			DECLARE  @COUNT INT;

			SELECT   @COUNT= ISNULL(COUNT(*),0) 
							 FROM dbo.AFC_MD_DIM_PA_ISTORIC 
							 WHERE PERIOADA=@PERIOADA														AND 
								   SUBPOR_ACTUAL IS NULL													AND
								   LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA));
							 ;

			IF @COUNT=0 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_KPI_EVO]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_KPI_EVO]
(
@PERIOADA VARCHAR(9),
@COD VARCHAR(2)
) 
RETURNS BIT
AS 
BEGIN

	DECLARE  @CHECK INT;
	DECLARE  @VAL_TABEL_FACT_1 FLOAT;
	--DECLARE  @VAL_TABEL_FACT_2 FLOAT;
	--DECLARE  @VAL_TABEL_FACT_3 FLOAT;
	DECLARE  @VAL_TABEL_KPI_EVO FLOAT;
	DECLARE  @DIF_1 FLOAT ; 
	--DECLARE  @DIF_2 FLOAT ; 
	--DECLARE  @DIF_3 FLOAT ; 

	SELECT   @VAL_TABEL_FACT_1= SUM(ISNULL(CANT_TOTAL,0)+ISNULL(VENIT_FURN,0)+ISNULL(COST_ACH,0)+ISNULL(GROSS_MARGIN,0)) 
			 FROM AFC_MD_FACT 
			 WHERE PERIOADA=@PERIOADA ;
	--SELECT   @VAL_TABEL_FACT_2= SUM(ISNULL(CANT_TOTAL,0)+ISNULL(VENIT_FURN_SIM_ACT,0)+ISNULL(COST_ACH,0)+ISNULL(GROSS_MARGIN_SIM_ACT,0)) 
	--		 FROM AFC_MD_FACT 
	--		 WHERE PERIOADA=@PERIOADA ;
	--SELECT   @VAL_TABEL_FACT_3= SUM(ISNULL(CANT_TOTAL,0)+ISNULL(VENIT_FURN_SIM_PRICE,0)+ISNULL(COST_ACH,0)+ISNULL(GROSS_MARGIN_SIM_PRICE,0)) 
	--		 FROM AFC_MD_FACT 
	--		 WHERE PERIOADA=@PERIOADA ;

	SELECT   @VAL_TABEL_KPI_EVO= SUM(ISNULL(CANT_TOTAL,0)+ISNULL(VENIT_FURN_TOTAL,0)+ISNULL(COST_ACH_TOTAL,0)+ISNULL(GM_TOTAL,0)) 
			 FROM AFC_MD_KPI_EVO 
			 WHERE PERIOADA=@PERIOADA AND SCENARIU=@COD ;

	SELECT   @DIF_1= @VAL_TABEL_FACT_1 - @VAL_TABEL_KPI_EVO ;
	--SELECT   @DIF_2= @VAL_TABEL_FACT_2 - @VAL_TABEL_KPI_EVO ;
	--SELECT   @DIF_3= @VAL_TABEL_FACT_3 - @VAL_TABEL_KPI_EVO ;

	IF @DIF_1=0 SET @CHECK=1 ;
	--ELSE IF @DIF_2=0 SET @CHECK=1 ;
	--ELSE IF @DIF_3=0 SET @CHECK=1 ;
	ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_MARJA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_MARJA]
(
@PERIOADA CHAR(9) 
) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @CHECK INT;
			DECLARE  @MARJA FLOAT;

			SELECT   @MARJA= SUM(ISNULL(VENIT_FURN,0)-ISNULL(COST_ACH,0)-ISNULL(GROSS_MARGIN,0))
							 FROM   AFC_MD_FACT
							 WHERE PERIOADA=@PERIOADA AND LUNA IN ( SELECT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)) ;

			IF @MARJA=0 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_MATURITATE]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_MATURITATE]
(
@PERIOADA VARCHAR(9)
) 
RETURNS BIT
AS 
BEGIN

	DECLARE  @CHECK INT ;
	DECLARE  @COUNT INT ; 

	SELECT   @COUNT = ISNULL(COUNT(*),0) FROM AFC_MD_MATURITATE WHERE ( FINAL_CONTR IS NULL OR SFARSIT_CONTRACT IS NULL ) AND PERIOADA=@PERIOADA;


	IF @COUNT>0 SET @CHECK=1 ;
	ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_MRJ_TARGET]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_MRJ_TARGET]
(

) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @CHECK INT;
			DECLARE  @COUNT_ACTUAL FLOAT;
			DECLARE  @COUNT_PRICE FLOAT;

			SELECT @COUNT_ACTUAL = ISNULL(COUNT(*),0) FROM AFC_EE_CALC_SIM_PRET_FURN WHERE MRJ_AVG_SEGM_ACTUAL IS NULL ;
			SELECT @COUNT_PRICE = ISNULL(COUNT(*),0) FROM AFC_EE_CALC_SIM_PRET_FURN WHERE MRJ_AVG_SEGM_PRICE IS NULL ;

			IF @COUNT_ACTUAL=0 AND @COUNT_PRICE=0 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_CHECK_PF_SIM]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_CHECK_PF_SIM]
(

) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @CHECK INT;
			DECLARE  @COUNT FLOAT;

			SELECT @COUNT = ISNULL(COUNT(*),0) FROM AFC_EE_CALC_SIM_PRET_FURN WHERE FINAL_CONTR=1 AND  PF_SIM_SEGM_ACTUAL IS NULL;

			IF @COUNT=0 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_COST_ALOC_CHECK]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_COST_ALOC_CHECK] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), CANT_LUNA DECIMAL(10,3), CANT_ALOC DECIMAL(10,3), CANT_DIF DECIMAL(10,3) )

AS
BEGIN


	WITH cant_luna AS (
						SELECT   PERIOADA,AN, LUNA, PARTENERDEAFACERI, SUM(ISNULL(CANT_TOTAL,0)) AS CANT_LUNA
						FROM	 dbo.AFC_MD_FACT
						WHERE	 PERIOADA=@PERIOADA AND STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU')
						GROUP BY PERIOADA, AN,LUNA,PARTENERDEAFACERI
							UNION ALL
						SELECT PERIOADA, AN, LUNA, PARTENERDEAFACERI, SUM(ISNULL(CANT_LUNA,0)) AS CANT_LUNA
						FROM   dbo.fn_AFC_EE_CANT_MM (@PERIOADA)
						GROUP BY PERIOADA, AN, LUNA, PARTENERDEAFACERI
					  ),
		 cant_aloc AS (
						SELECT   PERIOADA, AN, LUNA, PARTENERDEAFACERI, SUM(CANT_ALOC) AS CANT_ALOC
						FROM	 dbo.AFC_MD_ALOC
						WHERE	 PERIOADA=@PERIOADA
						GROUP BY PERIOADA, AN,LUNA,PARTENERDEAFACERI
					   )

		INSERT INTO @RETURNTABLE
		SELECT   cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI, 
				 CAST(SUM(cant_luna.CANT_LUNA) AS DECIMAL(10,3)) CANT_LUNA, 
				 CAST(SUM(cant_aloc.CANT_ALOC) AS DECIMAL(10,3)) CANT_ALOC, 
				 CAST(SUM(cant_luna.CANT_LUNA)-SUM(cant_aloc.CANT_ALOC) AS DECIMAL(10,0)) CANT_DIF
		FROM	 cant_luna, cant_aloc
		WHERE	 cant_aloc.PERIOADA=cant_luna.PERIOADA AND cant_aloc.AN=cant_luna.AN AND cant_aloc.LUNA=cant_luna.LUNA AND cant_aloc.PARTENERDEAFACERI=cant_luna.PARTENERDEAFACERI 
		GROUP BY cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI
		ORDER BY cant_luna.PERIOADA, cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_COST_LUNA_CHECK]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_COST_LUNA_CHECK] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), COST_ACH_LUNA FLOAT, COST_ACH_ORA FLOAT, COST_DIF FLOAT )

AS
BEGIN


	WITH cost_luna AS (
						SELECT   PERIOADA,SUM(ISNULL(COST_ACH,0)) AS COST_ACH_LUNA
						FROM	 dbo.AFC_MD_FACT
						WHERE	 PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA) )
						GROUP BY PERIOADA
					  ),
		 cost_ora AS (
						SELECT   PERIOADA, SUM(ISNULL(COST_ACH,0)) AS COST_ACH_ORA
						FROM	 dbo.AFC_MD_ALOC
						WHERE	 PERIOADA=@PERIOADA AND PARTENERDEAFACERI NOT LIKE 'MM%'  AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT (@PERIOADA) )
						GROUP BY PERIOADA
					   )

		INSERT INTO @RETURNTABLE
		SELECT   cost_luna.PERIOADA, 
				 SUM(cost_luna.COST_ACH_LUNA) COST_ACH_LUNA, 
				 SUM(cost_ora.COST_ACH_ORA)  COST_ACH_ORA, 
				 SUM(cost_ora.COST_ACH_ORA-cost_luna.COST_ACH_LUNA) COST_DIF
		FROM	 cost_luna, cost_ora
		WHERE	 cost_luna.PERIOADA=cost_ora.PERIOADA 
		GROUP BY cost_luna.PERIOADA
		ORDER BY cost_luna.PERIOADA

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_EFECT_SUBPOR_CHECK]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_EFECT_SUBPOR_CHECK] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), COST_ACH_CAL FLOAT, COST_ACH_SIM FLOAT, EFECT_SUBPOR FLOAT, DIF FLOAT )

AS
BEGIN


	WITH sim AS (
						SELECT   PERIOADA,
								 SUM(COST_BANDA+COST_ACH_PZU) COST_ACH_CAL, 
								 SUM(COST_ACH_CONTR_SIM+COST_ACH_PZU_SIM) COST_ACH_SIM, 
								 SUM(COST_BANDA+COST_ACH_PZU-COST_ACH_CONTR_SIM-COST_ACH_PZU_SIM) EFECT_SUBPOR
						FROM	 dbo.AFC_MD_EFECT_SUBPOR
						WHERE	 PERIOADA=@PERIOADA
						GROUP BY PERIOADA
					   )

		INSERT INTO @RETURNTABLE
		SELECT   @PERIOADA, 
				 SUM(COST_ACH_CAL) COST_ACH_CAL,
				 SUM(COST_ACH_SIM) COST_ACH_SIM,
				 SUM(EFECT_SUBPOR) EFECT_SUBPOR,
				 SUM(COST_ACH_CAL-COST_ACH_SIM-EFECT_SUBPOR) DIF
		FROM	 sim

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_ERORI_BANDA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_ERORI_BANDA] ( @PARTENERDEAFACERI CHAR(10) )
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10), VALABIL_DELA DATE, VALABIL_PANALA DATE , MOD_ID INT, ACTUAL INT, ANTERIOR INT, ID_EROARE FLOAT ) 
AS
BEGIN

/*
 ID_EROARE 1 - MULTIPLE OFERTE DEFINITE PENTRU ACELAS INTERVAL ! 
 ID_EROARE 0 - NU SUNT ERORI

*/

DECLARE @START INT;
DECLARE @FINISH INT;
SELECT  @START = MIN(MOD_ID) FROM dbo.AFC_EE_CALC_CHECK_INTERV_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI ;
SELECT  @FINISH = MAX(MOD_ID) FROM dbo.AFC_EE_CALC_CHECK_INTERV_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI ;

WHILE @START<=@FINISH

	BEGIN	
		DECLARE @i INT;
		SET		@i = 1 ;

		WHILE  @i<@START

			BEGIN
				WITH src AS (
							SELECT	 t2.PARTENERDEAFACERI , t2.VALABIL_DELA, t2.VALABIL_PANALA, t2.MOD_ID ,
										CASE WHEN t2.VALABIL_DELA BETWEEN t1.VALABIL_DELA AND t1.VALABIL_PANALA THEN 1 ELSE 0 END "MESAJ"
							FROM	(
										SELECT	  PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_TIMP, MOD_ID
										FROM	  AFC_EE_CALC_CHECK_INTERV_BANDA
										WHERE	  MOD_ID=@i 
										GROUP BY  PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_TIMP, MOD_ID
									) t1,
									(
										SELECT	  PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_TIMP, MOD_ID
										FROM	  AFC_EE_CALC_CHECK_INTERV_BANDA
										WHERE	  MOD_ID=@START 
										GROUP BY  PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_TIMP, MOD_ID
									) t2
							WHERE    t1.PARTENERDEAFACERI=t2.PARTENERDEAFACERI
							GROUP BY t2.PARTENERDEAFACERI , t2.VALABIL_DELA, t2.VALABIL_PANALA, t1.VALABIL_DELA, t1.VALABIL_PANALA ,  t2.MOD_ID 
							)

				INSERT INTO @RETURNTABLE
				SELECT  PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_ID, @START, @i, MESAJ
				FROM    src
				GROUP BY PARTENERDEAFACERI, VALABIL_DELA, VALABIL_PANALA, MOD_ID, MESAJ

				SET @i = @i + 1;
			END
		SET @START = @START +1 ;
	END

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_FINAL_CONTR_ID_MAX]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_FINAL_CONTR_ID_MAX] ()
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, DATA_ACTUAL DATE, INSTALATIE CHAR(10), FINAL_CONTR INT, ID INT) 
AS
BEGIN

INSERT INTO @RETURNTABLE
SELECT AN,LUNA,DATA_ACTUAL, INSTALATIE,FINAL_CONTR, 
	   ROW_NUMBER() OVER(PARTITION BY INSTALATIE  ORDER BY INSTALATIE DESC,  DATA_ACTUAL DESC) AS ID
FROM   AFC_EE_CALC_SIM_PRET_FURN
WHERE  FINAL_CONTR=1
GROUP BY AN,LUNA, DATA_ACTUAL, INSTALATIE,FINAL_CONTR

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_FINAL_CONTR_ID_MIN]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_FINAL_CONTR_ID_MIN] ()
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, DATA_ACTUAL DATE, INSTALATIE CHAR(10), FINAL_CONTR INT, ID INT) 
AS
BEGIN

INSERT INTO @RETURNTABLE
SELECT AN,LUNA,DATA_ACTUAL, INSTALATIE,FINAL_CONTR, 
	   ROW_NUMBER() OVER(PARTITION BY INSTALATIE  ORDER BY INSTALATIE ASC,  DATA_ACTUAL ASC) AS ID
FROM   AFC_EE_CALC_SIM_PRET_FURN
WHERE  FINAL_CONTR=1
GROUP BY AN,LUNA, DATA_ACTUAL, INSTALATIE,FINAL_CONTR

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_ID_SUBPOR]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_ID_SUBPOR] ( @AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), SUBPOR CHAR(2) ) 
AS
BEGIN
	    
			INSERT INTO @RETURNTABLE
			SELECT	 AN, LUNA, PARTENERDEAFACERI, SUBPOR
			FROM	 AFC_MD_ACH_SUBPOR_NOU
			WHERE	 AN=@AN AND LUNA=@LUNA AND SUBPOR IN ('P2','P3') 
			GROUP BY AN, LUNA, PARTENERDEAFACERI, SUBPOR

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_PZU_DATA_OFERTA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_PZU_DATA_OFERTA] ()
RETURNS @RETURNTABLE TABLE ( DATA_OFERTA DATE, VALABIL_DELA DATE, VALABIL_PANALA DATE ) 
AS
BEGIN



WITH md AS (
				SELECT	 CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE) AS DATA_OFERTA,
						 CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATE) AS DATA_REF
				FROM	 dbo.AFC_MD_HFC
				WHERE    MOD_ID=1
				GROUP BY DATA_OFERTA, DATA_REF
			 )  ,
	 src AS (
				SELECT	 CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE) AS DATA_OFERTA,
						 CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATE) AS DATA_REF
				FROM	 dbo.AFC_EE_INT_ACH_SUBPOR_PZU
				GROUP BY DATA_OFERTA, DATA_REF
			 )  
	    
			INSERT INTO @RETURNTABLE
			SELECT DATA_OFERTA, MIN(DATA_REF) AS VALABIL_DELA, MAX(DATA_REF) AS VALABIL_PANALA
			FROM md
			GROUP BY DATA_OFERTA
				UNION
			SELECT DATA_OFERTA, MIN(DATA_REF) AS VALABIL_DELA, MAX(DATA_REF) AS VALABIL_PANALA
			FROM src
			--WHERE DATA_OFERTA NOT IN ( SELECT DISTINCT DATA_OFERTA FROM md) 
			GROUP BY DATA_OFERTA

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_ROW_TO_COLUMN]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_ROW_TO_COLUMN] 
( 
@PERIOADA CHAR(9), 
@INST CHAR(10) 
)
RETURNS NVARCHAR(MAX)
AS
BEGIN

DECLARE @SIR_CONT NVARCHAR(MAX);

WITH src AS (
				SELECT   LUNA
				FROM     AFC_EE_CALC_PRET_FURN_AD_HOC
				WHERE    PERIOADA=@PERIOADA AND PRET_FURN_AD_HOC IS NULL  AND INSTALATIE=@INST
				GROUP BY LUNA
			)
				
SELECT @SIR_CONT = CONCAT_WS(', ',@SIR_CONT, src.LUNA) FROM src;

RETURN @SIR_CONT

END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_STARECLIENT]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_STARECLIENT] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), STARECLIENT CHAR(20) ) 
AS
BEGIN
	    
			INSERT INTO @RETURNTABLE
			SELECT  PERIOADA, STARECLIENT 
			FROM dbo.AFC_MD_FACT 
			WHERE PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM fn_AFC_PER_ESTIMAT (@PERIOADA) )
			GROUP BY PERIOADA, STARECLIENT

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VALABILITATE]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VALABILITATE] ( @PARTENERDEAFACERI CHAR(10), @DATA_OFERTA DATE )
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10), AN SMALLINT, LUNA SMALLINT, DELADATA DATE, PANALADATA DATE, DATA_OFERTA DATE ) 
AS
BEGIN

		DECLARE @VALABIL_DELA DATE ;
		DECLARE @VALABIL_PANALA DATE ;

		SELECT  @VALABIL_DELA= VALABIL_DELA FROM AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA GROUP BY VALABIL_DELA ;
		SELECT  @VALABIL_PANALA= VALABIL_PANALA FROM AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA  GROUP BY VALABIL_PANALA ;
		
		INSERT INTO @RETURNTABLE
		SELECT @PARTENERDEAFACERI,YEAR(DELADATA) AS AN,MONTH(DELADATA) AS LUNA ,@VALABIL_DELA DELADATA, @VALABIL_PANALA PANALADATA, @DATA_OFERTA
		FROM 
			(
				SELECT TOP ( CASE WHEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA ))=12
									   THEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA ),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA ))
									   ELSE DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA ),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA ))+1
									   END )
							 DELADATA = DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER) -1, ( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA  )),
							 PANALADATA = DATEADD(DAY,-1,DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER), ( SELECT DISTINCT VALABIL_PANALA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND DATA_OFERTA=@DATA_OFERTA )))
				FROM MASTER.dbo.spt_values
				ORDER BY DELADATA
			) src
		GROUP BY DELADATA, PANALADATA 

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VALABILITATE_BANDA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VALABILITATE_BANDA] ( @PARTENERDEAFACERI CHAR(10), @DATA_OFERTA DATE )
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10), AN SMALLINT, LUNA SMALLINT, DELADATA DATE, PANALADATA DATE, DATA_OFERTA DATE ) 
AS
BEGIN

		DECLARE @VALABIL_DELA DATE ;
		DECLARE @VALABIL_PANALA DATE ;

		SELECT  @VALABIL_DELA= VALABIL_DELA FROM AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA GROUP BY VALABIL_DELA ;
		SELECT  @VALABIL_PANALA= VALABIL_PANALA FROM AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA  GROUP BY VALABIL_PANALA ;
		
		INSERT INTO @RETURNTABLE
		SELECT @PARTENERDEAFACERI,YEAR(DELADATA) AS AN,MONTH(DELADATA) AS LUNA ,@VALABIL_DELA DELADATA, @VALABIL_PANALA PANALADATA, @DATA_OFERTA
		FROM 
			(
				SELECT TOP ( CASE WHEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1  AND DATA_OFERTA=@DATA_OFERTA),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND  DATA_OFERTA=@DATA_OFERTA ))=12
									   THEN DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA ),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA ))
									   ELSE DATEDIFF(MONTH,( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA ),( SELECT DISTINCT VALABIL_PANALA from dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA ))+1
									   END )
							 DELADATA = DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER) -1, ( SELECT DISTINCT VALABIL_DELA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA  )),
							 PANALADATA = DATEADD(DAY,-1,DATEADD(MONTH, ROW_NUMBER() OVER (ORDER BY NUMBER), ( SELECT DISTINCT VALABIL_PANALA FROM dbo.AFC_MD_BANDA WHERE PARTENERDEAFACERI=@PARTENERDEAFACERI AND MOD_ID=1 AND DATA_OFERTA=@DATA_OFERTA )))
				FROM MASTER.dbo.spt_values
				ORDER BY DELADATA
			) src
		GROUP BY DELADATA, PANALADATA 

RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VF_COST_ACH_DIF]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VF_COST_ACH_DIF]  
( 
@PERIOADA CHAR(9)
)
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), DATA_CONS DATETIME, CANT_TOTAL FLOAT, COST_TOTAL FLOAT, CANT_ALOC FLOAT, COST_ALOC FLOAT,
							 CANT_DIF FLOAT, COST_DIF FLOAT, MESAJ_EROARE VARCHAR(MAX) )
AS
BEGIN

DECLARE @ALOC TABLE ( DATA_CONS DATETIME, CANT_ALOC FLOAT, COST_ALOC FLOAT ) ;
DECLARE @ACH TABLE ( DATA_CONS DATETIME, CANT_TOTAL FLOAT, COST_TOTAL FLOAT ) ;


WITH src AS ( 
				SELECT	 PERIOADA, DATA_CONS, 
						 SUM(ISNULL(CANT_ACH_CONTR,0)) CANT_ACH_CONTR, SUM(ISNULL(COST_ACH_CONTR,0)) COST_ACH_CONTR,
						 SUM(ISNULL(CANT_ACH_PZU,0)) CANT_ACH_PZU, SUM(ISNULL(COST_ACH_PZU,0)) COST_ACH_PZU, 
						 SUM(ISNULL(COST_ACH_ECH,0)) COST_ACH_ECH, SUM(ISNULL(COST_ACH,0)) COST_ACH
				FROM	 AFC_MD_ACH_ORA 
				WHERE	 PERIOADA=@PERIOADA
				GROUP BY PERIOADA, DATA_CONS
		    )

INSERT INTO @ACH ( DATA_CONS, CANT_TOTAL, COST_TOTAL )
SELECT	 DATA_CONS, SUM(CANT_ACH_CONTR+CANT_ACH_PZU), SUM(COST_ACH) COST_ACH
FROM	 src
GROUP BY DATA_CONS

INSERT INTO @ALOC ( DATA_CONS, CANT_ALOC, COST_ALOC )
SELECT	 DATA_CONS, SUM(ISNULL(CANT_ALOC,0)) ,  SUM(ISNULL(COST_ACH,0)) COST_ACH
FROM	 dbo.AFC_MD_ALOC 
WHERE	 PERIOADA=@PERIOADA
GROUP BY DATA_CONS


INSERT @RETURNTABLE
SELECT @PERIOADA,ach.DATA_CONS, SUM(ach.CANT_TOTAL) , SUM(ach.COST_TOTAL) , 
				      SUM(aloc.CANT_ALOC) , SUM(aloc.COST_ALOC)  ,
					  SUM(aloc.CANT_ALOC-ach.CANT_TOTAL) ,
					  SUM(aloc.COST_ALOC-ach.COST_TOTAL) ,
					  'CANTITATEA / COSTUL DE ACHIZITIE NU A FOST CORECT ALOCATA'
FROM @ACH ach, @ALOC aloc
WHERE ach.DATA_CONS=aloc.DATA_CONS
GROUP BY ach.DATA_CONS
HAVING SIGN(SUM(aloc.CANT_ALOC-ach.CANT_TOTAL))!=0 OR SIGN(SUM(aloc.COST_ALOC-ach.COST_TOTAL))!=0


RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VF_COST_ACH_TRANS]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VF_COST_ACH_TRANS]  
( 
@PERIOADA CHAR(9)
)
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), MESAJ_EROARE VARCHAR(MAX) )
AS
BEGIN

		
-- CHECK MAPARE INTERVAL  AFC_MD_ALOC VS ( AFC_EE_INT_ACH_POR SI AFC_EE_INT_ACH_POT )

DECLARE @EROR_1 NVARCHAR(100)='LIPSA INTERVAL DIN FISIERUL DE ACHIZITIE'
DECLARE @SIR_CONT_1 NVARCHAR(MAX);

WITH a AS (
			SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_DATA_CONS WHERE PERIOADA=@PERIOADA) tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_ACH_POR_DATA_CONS WHERE PERIOADA=@PERIOADA) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
				UNION ALL
		    SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_DATA_CONS WHERE PERIOADA=@PERIOADA) tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_ACH_POT_DATA_CONS WHERE PERIOADA=@PERIOADA) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
			)

	SELECT @SIR_CONT_1=CONCAT_WS(',',@SIR_CONT_1,a.LIPSA) FROM a ;

	INSERT INTO @RETURNTABLE 
	SELECT @PERIOADA , @EROR_1+' : '+@SIR_CONT_1 

-- CHECK MAPARE INTERVAL ( AFC_EE_INT_ACH_POR SI AFC_EE_INT_ACH_POT ) vs AFC_MD_ALOC

DECLARE @EROR_2 NVARCHAR(100)='PLUS INTERVAL IN FISIERUL DE ACHIZITIE';
DECLARE @SIR_CONT_2 NVARCHAR(MAX);

WITH b AS (
			SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_ACH_POR_DATA_CONS WHERE PERIOADA=@PERIOADA)tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_DATA_CONS WHERE PERIOADA=@PERIOADA) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
				UNION ALL
		    SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_ACH_POT_DATA_CONS WHERE PERIOADA=@PERIOADA) tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_AFC_EE_DATA_CONS WHERE PERIOADA=@PERIOADA) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
			)

	SELECT @SIR_CONT_2=CONCAT_WS(',',@SIR_CONT_2,b.LIPSA) FROM b ;

		INSERT INTO @RETURNTABLE 
	    SELECT @PERIOADA , @EROR_2+' : '+@SIR_CONT_2 

---- CHECK STARECLIENT IN TABELUL AFC_EE_INT_COST_MED_ACH -- incepand cu 2020 cleintii fui si su au tarife de eligibili

--DECLARE @EROR_3 NVARCHAR(100)='NU ESTE DEFINITA COSTUL MEDIU DE ACHIZITIE PENTRU STARECLIENT';
--DECLARE @SIR_CONT_3 NVARCHAR(MAX);

--WITH c AS (
--			SELECT tgt.STARECLIENT AS LIPSA
--			FROM ( SELECT DISTINCT STARECLIENT FROM fn_AFC_EE_STARECLIENT (@PERIOADA) WHERE STARECLIENT!='ELIGIBIL' ) tgt
--			FULL OUTER JOIN ( SELECT DISTINCT STARECLIENT FROM dbo.vw_AFC_EE_COST_MED_ACH_STARECLIENT WHERE PERIOADA=@PERIOADA ) src
--			ON tgt.STARECLIENT=src.STARECLIENT 
--			WHERE src.STARECLIENT IS NULL 
--			)

--	SELECT @SIR_CONT_3=CONCAT_WS(',',@SIR_CONT_3,c.LIPSA) FROM c ;

--	INSERT INTO @RETURNTABLE 
--	SELECT @PERIOADA , @EROR_3+' : '+@SIR_CONT_3 

-- CHECK DIFERENTA INTRE CANTITATEA VANDUTA ALOCATA SI CANTITATEA DE ACHIZITIE

DECLARE @ALOC TABLE ( DATA_CONS DATETIME, CANT_ALOC FLOAT ) ;
DECLARE @ACH TABLE ( DATA_CONS DATETIME, CANT_TOTAL FLOAT ) ;

INSERT INTO @ALOC ( DATA_CONS, CANT_ALOC )
SELECT	 DATA_CONS, SUM(CANT_ALOC) 
FROM	 AFC_MD_ALOC
WHERE	 PERIOADA=@PERIOADA
GROUP BY DATA_CONS
ORDER BY DATA_CONS ASC ;
			
WITH por AS (
				SELECT   PERIOADA, IIF( ORA_CONS='3.5' ,
							(CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATETIME)+ CAST(TIMEFROMPARTS(ORA_CONS,30,0,0,0) AS DATETIME)), (CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATETIME)+ CAST(TIMEFROMPARTS(ORA_CONS,0,0,0,0) AS DATETIME))) DATA_CONS,		
							SUM(ISNULL(CANT_ACH_CONTR,0)+ISNULL(CANT_ACH_PZU,0)) CANT_POR
				FROM     dbo.AFC_EE_INT_ACH_POR
				WHERE	 PERIOADA=@PERIOADA
				GROUP BY PERIOADA, DATA_REF, ORA_CONS
			),
	pot AS (
				SELECT   PERIOADA, IIF( ORA_CONS='3.5' ,
							(CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATETIME)+ CAST(TIMEFROMPARTS(ORA_CONS,30,0,0,0) AS DATETIME)), (CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATETIME)+ CAST(TIMEFROMPARTS(ORA_CONS,0,0,0,0) AS DATETIME))) DATA_CONS,		
							SUM(ISNULL(CANT_ACH_CONTR,0)+ISNULL(CANT_ACH_PZU,0)) CANT_POT
				FROM     dbo.AFC_EE_INT_ACH_POT
				WHERE	 PERIOADA=@PERIOADA
				GROUP BY PERIOADA, DATA_REF, ORA_CONS
			)

INSERT INTO @ACH ( DATA_CONS, CANT_TOTAL) 
SELECT		por.DATA_CONS, SUM(ISNULL(por.CANT_POR,0)+ISNULL(pot.CANT_POT,0)) 
FROM		por
LEFT JOIN	pot
ON			por.DATA_CONS=pot.DATA_CONS
GROUP BY	por.PERIOADA, por.DATA_CONS;


INSERT INTO @RETURNTABLE 
SELECT	 @PERIOADA, 'PENTRU INTERVALUL ' +TRIM(CONVERT(VARCHAR(19),CONVERT(DATETIME,aloc.DATA_CONS,101),120))+'   |'+
		 'CANTITATEA VANDUTA DE : '+TRIM(CONVERT(VARCHAR(10),SUM(aloc.CANT_ALOC)))+' MWH   |'+
         'ESTE DIFERITA DE CANTITATEA ACHIZITIONATA DE : '+TRIM(CONVERT(VARCHAR(10),SUM(ach.CANT_TOTAL)))+' MWH   |'+'CU   '+
		 CASE WHEN SIGN(SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))=-1 THEN '-'+TRIM(CONVERT(VARCHAR(20),-(SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))))
			  WHEN SIGN(SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))!=-1 THEN TRIM(CONVERT(VARCHAR(20),SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))) 
			  END+' MWH   ' 
FROM	 @ALOC aloc, @ACH ach
WHERE	 aloc.DATA_CONS=ach.DATA_CONS 
GROUP BY aloc.DATA_CONS
HAVING ( SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))>0.2 OR ( SUM(ISNULL(aloc.CANT_ALOC,0)-ISNULL(ach.CANT_TOTAL,0)))<-0.2 



RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VF_DATE_CURBA]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VF_DATE_CURBA]  
( 

)
RETURNS @RETURNTABLE TABLE ( MESAJ_EROARE VARCHAR(MAX) )
AS
BEGIN

		
-- CURBA NU ARE COEFICIENT

DECLARE @EROR_1 NVARCHAR(100)='CURBA NU ARE COEFICIENT DEFINIT'
DECLARE @SIR_CONT_1 NVARCHAR(MAX);

WITH a AS (
			SELECT COD FROM AFC_EE_INT_MAPARE_CURBA GROUP BY COD
			EXCEPT
			SELECT COD FROM AFC_EE_INT_COEF_CURBA GROUP BY COD
			)

	SELECT @SIR_CONT_1=CONCAT_WS(',',@SIR_CONT_1,a.COD) FROM a ;

	INSERT INTO @RETURNTABLE 
	SELECT @EROR_1+' : '+@SIR_CONT_1 

-- CURBA NU ESTE ALOCATA LA INSTALATIE

DECLARE @EROR_2 NVARCHAR(100)='CURBA NU ESTE ALOCATA LA INSTALATIE'
DECLARE @SIR_CONT_2 NVARCHAR(MAX);

WITH b AS (
			SELECT COD FROM AFC_EE_INT_COEF_CURBA GROUP BY COD
			EXCEPT
			SELECT COD FROM AFC_EE_INT_MAPARE_CURBA GROUP BY COD
			)

	SELECT @SIR_CONT_2=CONCAT_WS(',',@SIR_CONT_2,b.COD) FROM b ;

	INSERT INTO @RETURNTABLE 
	SELECT @EROR_2+' : '+@SIR_CONT_2 

-- SUM VALOARE COEFICIENT PE LUNA TREBUIE SA FIE 1 !

DECLARE @EROR_3 NVARCHAR(100)='SUM VALOARE COEFICIENT PE LUNA TREBUIE SA FIE 1 !'
DECLARE @SIR_CONT_3 NVARCHAR(MAX);

WITH c AS (
			SELECT AN, LUNA, COD, SUM(COEF) COEF 
			FROM vw_AFC_EE_VAL_COEF 
			GROUP BY AN, LUNA, COD
			HAVING SUM(COEF)!=0 AND SUM(COEF)<0.95
			)

	SELECT @SIR_CONT_3=CONCAT_WS(',',@SIR_CONT_3,c.COD) FROM c ;

	INSERT INTO @RETURNTABLE 
	SELECT @EROR_3+' : '+@SIR_CONT_3


RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AFC_EE_VF_GM_TARGET]    Script Date: 28/09/2020 12:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AFC_EE_VF_GM_TARGET]  
( 
@PERIOADA CHAR(9)
)
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), MESAJ_EROARE VARCHAR(MAX) )
AS
BEGIN

-- CHECK SEGMENTCLIENT IN TABELUL AFC_EE_INT_GM_TARGET

DECLARE @EROR NVARCHAR(100)='NU ESTE DEFINITA MARJA TARGET PENTRU SEGMENTUL';
DECLARE @SIR_CONT NVARCHAR(MAX);

WITH d AS (
			SELECT tgt.SEGMENTCLIENT AS LIPSA
			FROM (
			       SELECT DISTINCT SEGMENTCLIENT FROM dbo.AFC_MD_FACT WHERE PERIOADA=@PERIOADA 
						UNION ALL
					SELECT 'MMN' SEGMENTCLIENT 
				 ) tgt
			FULL OUTER JOIN 
				 ( 
				   SELECT DISTINCT SEGMENTCLIENT FROM dbo.AFC_EE_INT_GM_TARGET WHERE PERIOADA=@PERIOADA 
				 ) src
			ON tgt.SEGMENTCLIENT=src.SEGMENTCLIENT 
			WHERE src.SEGMENTCLIENT IS NULL 
			)

	SELECT @SIR_CONT=CONCAT_WS(',',@SIR_CONT,d.LIPSA) FROM d ;

	IF @SIR_CONT IS NOT NULL
		BEGIN
			INSERT INTO @RETURNTABLE 
			SELECT @PERIOADA , @EROR+' : '+@SIR_CONT 
		END

RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_PER_ESTIMAT] ( @PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), AN SMALLINT, LUNA SMALLINT, DELADATA DATE, PANALADATA DATE ) 
AS
BEGIN
	DECLARE @CHECK BIT;
	SELECT    @CHECK = CASE WHEN DATA_START_ESTIMAT IS NULL AND DATA_SFARSIT_ESTIMAT IS NULL THEN 0  
						       WHEN DATA_START_ESTIMAT IS NULL OR DATA_SFARSIT_ESTIMAT IS NULL   THEN 0
						       WHEN DATA_START_ESTIMAT IS NOT  NULL AND DATA_SFARSIT_ESTIMAT IS NOT NULL THEN 1 
					     END 
					    FROM  AFC_INT_PER_CALC WHERE PER=@PERIOADA;

	IF @CHECK= 1
				BEGIN

					DECLARE @START DATE ;
					DECLARE @FINISH DATE ;

					SELECT @START = DATA_START_ESTIMAT FROM AFC_INT_PER_CALC WHERE PER=@PERIOADA GROUP BY DATA_START_ESTIMAT;
					SELECT @FINISH = DATA_SFARSIT_ESTIMAT FROM AFC_INT_PER_CALC WHERE PER=@PERIOADA GROUP BY DATA_SFARSIT_ESTIMAT;

					WITH src (DATE) AS
					(
						SELECT @START
							UNION ALL
						SELECT DATEADD(MONTH, 1, date)
						FROM   src
						WHERE  DATEADD(MONTH, 1, date) < @FINISH
					)
					INSERT INTO @RETURNTABLE
					SELECT     @PERIOADA PERIOADA, 
							   DATEPART(yy, DATE) AN, 
							   DATEPART(mm, DATE) LUNA,
							   DATEFROMPARTS(DATEPART(yy, DATE), DATEPART(mm, DATE),1 ) DELADATA,
							   EOMONTH( DATEFROMPARTS(DATEPART(yy, DATE), DATEPART(mm, DATE),1 )) PANALADATA           
					FROM src

				END
RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_PER_REALIZ] (@PERIOADA CHAR(9) )
RETURNS @RETURNTABLE TABLE ( PERIOADA CHAR(9), AN SMALLINT, LUNA SMALLINT, DELADATA DATE, PANALADATA DATE ) 
AS
BEGIN

	DECLARE @CHECK BIT;
	SELECT    @CHECK = CASE    WHEN DATA_START_REALIZ IS NULL AND DATA_SFARSIT_REALIZ IS NULL THEN 0  
						       WHEN DATA_START_REALIZ IS NULL OR DATA_SFARSIT_REALIZ IS NULL   THEN 0
						       WHEN DATA_START_REALIZ IS NOT  NULL AND DATA_SFARSIT_REALIZ IS NOT NULL THEN 1 
					     END 
					    FROM  AFC_INT_PER_CALC WHERE PER=@PERIOADA;

	IF @CHECK= 1
				BEGIN

					DECLARE @START DATE ;
					DECLARE @FINISH DATE ;

					SELECT @START = DATA_START_REALIZ FROM AFC_INT_PER_CALC WHERE PER=@PERIOADA GROUP BY DATA_START_REALIZ;
					SELECT @FINISH = DATA_SFARSIT_REALIZ FROM AFC_INT_PER_CALC WHERE PER=@PERIOADA GROUP BY DATA_SFARSIT_REALIZ;

					WITH src (DATE) AS
					(
						SELECT @START
							UNION ALL
						SELECT DATEADD(MONTH, 1, date)
						FROM   src
						WHERE  DATEADD(MONTH, 1, date) < @FINISH
					)
					INSERT INTO @RETURNTABLE
					SELECT     @PERIOADA PERIOADA, 
							   DATEPART(yy, DATE) AN, 
							   DATEPART(mm, DATE) LUNA,
							   DATEFROMPARTS(DATEPART(yy, DATE), DATEPART(mm, DATE),1 ) DELADATA,
							   EOMONTH( DATEFROMPARTS(DATEPART(yy, DATE), DATEPART(mm, DATE),1 )) PANALADATA           
					FROM src

				END
RETURN
END
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CANT_PA]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN



SELECT [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT], 
	   SUM([1]) AS IAN, SUM([2]) AS FEBR, SUM([3]) AS MART, SUM([4]) AS APR, SUM([5]) AS MAI, SUM([6]) AS IUN, 
	   SUM([7]) AS IUL, SUM([8]) AS AUG, SUM([9]) AS SEPT, SUM([10]) AS OCT, SUM([11]) AS NOV, SUM([12]) AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
      FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.PARTENERDEAFACERI AS [CODCLIENT] , 
						 f.SEGMENTCLIENT AS [SEGMENT],  i.DIVIZIE, p.NUME_ISTORIC AS [NUMECLIENT], 
						 CAST(ROUND(SUM(f.CANT_TOTAL),3) AS DECIMAL(18,3)) AS CANT_TOTAL 
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PA_ISTORIC p, dbo.AFC_MD_DIM_PER pr
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PA=p.PK_PA AND f.FK_PER=pr.PK_PER AND
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01' 
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.PARTENERDEAFACERI,
				         f.SEGMENTCLIENT, i.DIVIZIE,p.NUME_ISTORIC
			) src
	PIVOT ( 
			SUM(CANT_TOTAL) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
GROUP BY [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT]
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CANT_POR]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN

SELECT [NUMEPERIOADA], AN, [CODCLIENT], INSTALATIE, [NIVELTENSIUNE], [SEGMENT], [NUMEDISTRIBUITOR], [TARIF],  [STARECLIENT], DIVIZIE,
	   [CAEN], [DATAINCEPERECONTRACT], [DATASFARSITCONTRACT], [NUMECLIENT], CUI, [KIDMANAGER], [REGIUNEPORTOFOLIU],
	   [NUMEMANAGER], 
	   SUM([1]) AS IAN, SUM([2]) AS FEBR, SUM([3]) AS MART, SUM([4]) AS APR, SUM([5]) AS MAI, SUM([6]) AS IUN, 
	   SUM([7]) AS IUL, SUM([8]) AS AUG, SUM([9]) AS SEPT, SUM([10]) AS OCT, SUM([11]) AS NOV, SUM([12]) AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
	FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.PARTENERDEAFACERI AS [CODCLIENT] , f.INSTALATIE, 
						 f.NIVELDETENSIUNE AS [NIVELTENSIUNE] , f.SEGMENTCLIENT AS [SEGMENT], f.DENUMIREDISTRIBUITOR AS [NUMEDISTRIBUITOR], 
						 f.CATEGORIETARIF AS [TARIF], UPPER(f.STARECLIENT) AS [STARECLIENT], i.DIVIZIE, i.CODINDUSTRIE AS [CAEN],
						 i.DATAINCEPUTCONTRACT AS [DATAINCEPERECONTRACT], i.DATASFARSITCONTRACT AS [DATASFARSITCONTRACT],
						 p.NUME_ISTORIC AS [NUMECLIENT], p.CUI, p.IDMANAGER AS [KIDMANAGER], p.REGIUNE_PORTOFOLIU AS [REGIUNEPORTOFOLIU], m.DENUMIREMANAGER AS [NUMEMANAGER],
						  CAST(ROUND(SUM(f.CANT_TOTAL),3) AS DECIMAL(18,3)) AS CANT_TOTAL
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PA_ISTORIC p, dbo.AFC_MD_DIM_MANAGER m, dbo.AFC_MD_DIM_PER pr
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PA=p.PK_PA AND p.IDMANAGER=m.IDMANAGER AND f.FK_PER=pr.PK_PER AND
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01' AND ( f.INSTALATIE NOT LIKE 'BM%' OR f.INSTALATIE NOT LIKE 'KA%' )
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.PARTENERDEAFACERI, f.INSTALATIE, f.NIVELDETENSIUNE, f.SEGMENTCLIENT, f.DENUMIREDISTRIBUITOR, 
						 f.CATEGORIETARIF, f.STARECLIENT, i.DIVIZIE, i.CODINDUSTRIE, i.SURSA_DATE,i.DATAINCEPUTCONTRACT, i.DATASFARSITCONTRACT,
						 p.NUME_ISTORIC, p.CUI, p.IDMANAGER, p.REGIUNE_PORTOFOLIU, m.DENUMIREMANAGER
			) src
	PIVOT ( 
			SUM(CANT_TOTAL) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
GROUP BY [NUMEPERIOADA], AN, [CODCLIENT], INSTALATIE, [NIVELTENSIUNE], [SEGMENT], [NUMEDISTRIBUITOR], [TARIF],  [STARECLIENT], DIVIZIE,
		 [CAEN], [DATAINCEPERECONTRACT], [DATASFARSITCONTRACT], [NUMECLIENT], CUI, [KIDMANAGER], [REGIUNEPORTOFOLIU],
		 [NUMEMANAGER]
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CANT_POT]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN

SELECT [NUMEPERIOADA], AN, [CODCLIENT], INSTALATIE, [NIVELTENSIUNE], [SEGMENT], [NUMEDISTRIBUITOR], [TARIF],  [STARECLIENT], DIVIZIE,
	   [CAEN], [DATAINCEPERECONTRACT], [DATASFARSITCONTRACT], [NUMECLIENT], CUI, [KIDMANAGER], [REGIUNEPORTOFOLIU],
	   [NUMEMANAGER], 
	   SUM([1]) AS IAN, SUM([2]) AS FEBR, SUM([3]) AS MART, SUM([4]) AS APR, SUM([5]) AS MAI, SUM([6]) AS IUN, 
	   SUM([7]) AS IUL, SUM([8]) AS AUG, SUM([9]) AS SEPT, SUM([10]) AS OCT, SUM([11]) AS NOV, SUM([12]) AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
	FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.PARTENERDEAFACERI AS [CODCLIENT] , f.INSTALATIE, 
						 f.NIVELDETENSIUNE AS [NIVELTENSIUNE] , f.SEGMENTCLIENT AS [SEGMENT], f.DENUMIREDISTRIBUITOR AS [NUMEDISTRIBUITOR], 
						 f.CATEGORIETARIF AS [TARIF], UPPER(f.STARECLIENT) AS [STARECLIENT], i.DIVIZIE, i.CODINDUSTRIE AS [CAEN],
						 i.DATAINCEPUTCONTRACT AS [DATAINCEPERECONTRACT], i.DATASFARSITCONTRACT AS [DATASFARSITCONTRACT],
						 p.NUME_ISTORIC AS [NUMECLIENT], p.CUI, p.IDMANAGER AS [KIDMANAGER], p.REGIUNE_PORTOFOLIU AS [REGIUNEPORTOFOLIU], m.DENUMIREMANAGER AS [NUMEMANAGER],
						  CAST(ROUND(SUM(f.CANT_TOTAL),3) AS DECIMAL(18,3)) AS CANT_TOTAL
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PA_ISTORIC p, dbo.AFC_MD_DIM_MANAGER m, dbo.AFC_MD_DIM_PER pr
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PA=p.PK_PA AND p.IDMANAGER=m.IDMANAGER AND f.FK_PER=pr.PK_PER AND
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01' AND ( f.INSTALATIE LIKE 'BM%' OR f.INSTALATIE LIKE 'KA%' )
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.PARTENERDEAFACERI, f.INSTALATIE, f.NIVELDETENSIUNE, f.SEGMENTCLIENT, f.DENUMIREDISTRIBUITOR, 
						 f.CATEGORIETARIF, f.STARECLIENT, i.DIVIZIE, i.CODINDUSTRIE, i.SURSA_DATE,i.DATAINCEPUTCONTRACT, i.DATASFARSITCONTRACT,
						 p.NUME_ISTORIC, p.CUI, p.IDMANAGER, p.REGIUNE_PORTOFOLIU, m.DENUMIREMANAGER
			) src
	PIVOT ( 
			SUM(CANT_TOTAL) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
GROUP BY [NUMEPERIOADA], AN, [CODCLIENT], INSTALATIE, [NIVELTENSIUNE], [SEGMENT], [NUMEDISTRIBUITOR], [TARIF],  [STARECLIENT], DIVIZIE,
		 [CAEN], [DATAINCEPERECONTRACT], [DATASFARSITCONTRACT], [NUMECLIENT], CUI, [KIDMANAGER], [REGIUNEPORTOFOLIU],
		 [NUMEMANAGER]
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CANT_SUMRZ]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN


SELECT [NUMEPERIOADA], AN, [SEGMENT], [STARECLIENT], DIVIZIE,
	   SUM([1]) AS IAN, SUM([2]) AS FEBR, SUM([3]) AS MART, SUM([4]) AS APR, SUM([5]) AS MAI, SUM([6]) AS IUN, 
	   SUM([7]) AS IUL, SUM([8]) AS AUG, SUM([9]) AS SEPT, SUM([10]) AS OCT, SUM([11]) AS NOV, SUM([12]) AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
	FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.SEGMENTCLIENT AS [SEGMENT], UPPER(f.STARECLIENT) AS [STARECLIENT], 
				         i.DIVIZIE,
						  CAST(ROUND(SUM(f.CANT_TOTAL),3) AS DECIMAL(18,3)) AS CANT_TOTAL
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PER pr
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PER=pr.PK_PER AND
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01' 
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.SEGMENTCLIENT, f.STARECLIENT, i.DIVIZIE, i.SURSA_DATE
			) src
	PIVOT ( 
			SUM(CANT_TOTAL) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
GROUP BY [NUMEPERIOADA], AN, [SEGMENT], [STARECLIENT], DIVIZIE
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CANT_TOP]
 ( 
  @PERIOADA CHAR(9),
  @TOP INT
  )
RETURNS TABLE
AS
RETURN

SELECT [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT], [TOP],
	   SUM([1]) AS IAN, SUM([2]) AS FEBR, SUM([3]) AS MART, SUM([4]) AS APR, SUM([5]) AS MAI, SUM([6]) AS IUN, 
	   SUM([7]) AS IUL, SUM([8]) AS AUG, SUM([9]) AS SEPT, SUM([10]) AS OCT, SUM([11]) AS NOV, SUM([12]) AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
      FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.PARTENERDEAFACERI AS [CODCLIENT] , 
						 f.SEGMENTCLIENT AS [SEGMENT],  i.DIVIZIE, p.NUME_ISTORIC AS [NUMECLIENT], 
						 CAST(ROUND(SUM(f.CANT_TOTAL),3) AS DECIMAL(18,3)) AS CANT_TOTAL , rk.[TOP]
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PA_ISTORIC p, dbo.AFC_MD_DIM_PER pr ,
						 (
							SELECT   f.PERIOADA, f.PARTENERDEAFACERI,  SUM(f.CANT_TOTAL) AS CANT_TOTAL , RANK() OVER ( PARTITION BY f.PERIOADA  ORDER BY SUM(f.CANT_TOTAL) DESC  ) [TOP]
							FROM	 AFC_MD_FACT f, dbo.AFC_MD_DIM_INST i
							WHERE	 f.FK_INST=i.PK_INST AND f.PERIOADA=@PERIOADA AND i.DIVIZIE='01'
							GROUP BY f.PERIOADA, f.PARTENERDEAFACERI
						 ) rk
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PA=p.PK_PA AND f.FK_PER=pr.PK_PER AND f.PERIOADA=rk.PERIOADA AND f.PARTENERDEAFACERI=rk.PARTENERDEAFACERI AND 
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01'
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.PARTENERDEAFACERI,
				         f.SEGMENTCLIENT, i.DIVIZIE,p.NUME_ISTORIC, rk.[TOP]
			) src
	PIVOT ( 
			SUM(CANT_TOTAL) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
WHERE [TOP]<=@TOP
GROUP BY [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT],  [TOP]
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_CURBA]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN

		SELECT		a.PERIOADA, a.INSTALATIE, b.NUME_ISTORIC, c.SURSA_DATE
		FROM		dbo.AFC_MD_FACT a , dbo.AFC_MD_DIM_PA_ISTORIC b , dbo.AFC_MD_DIM_INST c , dbo.fn_AFC_PER_ESTIMAT ('PER100001')  d
		WHERE		 a.PERIOADA=b.PERIOADA AND a.PARTENERDEAFACERI=b.PARTENERDEAFACERI AND a.LUNA=b.LUNA AND
					 a.PERIOADA=c.PERIOADA AND a.INSTALATIE=c.INSTALATIE AND a.LUNA=c.LUNA  AND
					a.PERIOADA=d.PERIOADA AND a.LUNA=d.LUNA 
		GROUP BY	a.PERIOADA, a.INSTALATIE, b.NUME_ISTORIC, c.SURSA_DATE
	      
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_PRET_FURN]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN

SELECT [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT], INSTALATIE, [TARIF], [STARECLIENT],
	   [1] AS IAN, [2] AS FEBR, [3] AS MART, [4] AS APR, [5] AS MAI, [6] AS IUN, 
	   [7] AS IUL, [8] AS AUG, [9] AS SEPT, [10] AS OCT, [11] AS NOV, [12] AS [DEC],
	   SUM(ISNULL([1],0)+ISNULL([2],0)+ISNULL([3],0)+ISNULL([4],0)+ISNULL([5],0)+ISNULL([6],0)+ISNULL([7],0)+ISNULL([8],0)+ISNULL([9],0)+ISNULL([10],0)+ISNULL([11],0)+ISNULL([12],0)) AS TOTAL
      FROM 
			(
				SELECT   pr.PERIOADA+'_'+pr.DESCRIERE AS [NUMEPERIOADA], f.AN, f.LUNA , f.PARTENERDEAFACERI AS [CODCLIENT] ,
						 f.SEGMENTCLIENT AS [SEGMENT],  i.DIVIZIE, p.NUME_ISTORIC AS [NUMECLIENT], f.INSTALATIE,  f.CATEGORIETARIF AS [TARIF], UPPER(f.STARECLIENT) AS [STARECLIENT],
						 CAST(ROUND(f.PRET_FURN,3) AS DECIMAL(18,3)) AS PRET_FURN 
				FROM     dbo.AFC_MD_FACT f , dbo.AFC_MD_DIM_INST i, dbo.AFC_MD_DIM_PA_ISTORIC p, dbo.AFC_MD_DIM_PER pr
				WHERE	 f.FK_INST=i.PK_INST AND f.FK_PA=p.PK_PA AND f.FK_PER=pr.PK_PER AND
						 f.PERIOADA=@PERIOADA AND i.DIVIZIE='01' AND f.LUNA IN ( SELECT DISTINCT LUNA FROM fn_AFC_PER_ESTIMAT (@PERIOADA) )
				GROUP BY pr.PERIOADA, pr.DESCRIERE, f.AN, f.LUNA, f.PARTENERDEAFACERI,
				         f.SEGMENTCLIENT, i.DIVIZIE,p.NUME_ISTORIC, f.INSTALATIE,  f.CATEGORIETARIF, f.STARECLIENT, f.PRET_FURN
			) src
	PIVOT ( 
			SUM(PRET_FURN) FOR LUNA IN ( [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12] )
		  ) p
GROUP BY [NUMEPERIOADA] , AN, [CODCLIENT], [SEGMENT], DIVIZIE, [NUMECLIENT], INSTALATIE, [TARIF], [STARECLIENT], 
         [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12]
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_R_SUBPOR]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN

		SELECT		a.PERIOADA, a.PARTENERDEAFACERI, b.NUME_ISTORIC, c.SURSA_DATE
		FROM		dbo.AFC_MD_FACT a , dbo.AFC_MD_DIM_PA_ISTORIC b , dbo.AFC_MD_DIM_INST c , dbo.fn_AFC_PER_ESTIMAT (@PERIOADA)  d
		WHERE		a.PERIOADA=b.PERIOADA AND a.PARTENERDEAFACERI=b.PARTENERDEAFACERI AND a.LUNA=b.LUNA AND
					a.PERIOADA=c.PERIOADA AND a.INSTALATIE=c.INSTALATIE AND a.LUNA=c.LUNA  AND
					a.PERIOADA=d.PERIOADA AND a.LUNA=d.LUNA AND
					a.STARECLIENT='ELIGIBIL'
		GROUP BY	a.PERIOADA, a.PARTENERDEAFACERI, b.NUME_ISTORIC, c.SURSA_DATE
	      
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_DATE_SUBPOR]  
( 
)
RETURNS TABLE
AS
RETURN

		SELECT       'PARTENERDEAFACERI : NU ARE ALOCAT CANTITATE BANDA SI PRET BANDA !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_MAPARE_SUBPOR WHERE COD IN ('P2','P3') GROUP BY PARTENERDEAFACERI
					EXCEPT
				SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA GROUP BY PARTENERDEAFACERI
				) src
			UNION ALL
		SELECT       'PARTENERDEAFACERI : NU ARE ALOCAT HFC !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT PARTENERDEAFACERI
				FROM fn_AFC_EE_BANDA_DATA_OFERTA () 
				WHERE DATA_ANTERIOR NOT IN ( SELECT DISTINCT DATA_OFERTA FROM fn_AFC_EE_PZU_DATA_OFERTA () )
				GROUP BY PARTENERDEAFACERI
				) src
			UNION ALL
		SELECT       'VALABILITATE OFERTA : VALABILITATEA OFERTEI DE LA BANDA NU ESTE LA FEL CU HFC !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT b.PARTENERDEAFACERI
				FROM ( SELECT DISTINCT PARTENERDEAFACERI, DATA_ANTERIOR, VALABIL_DELA, VALABIL_PANALA FROM fn_AFC_EE_BANDA_DATA_OFERTA ()) b, 
					 ( SELECT DISTINCT DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA FROM fn_AFC_EE_PZU_DATA_OFERTA ()) p
				WHERE b.DATA_ANTERIOR=p.DATA_OFERTA                                       AND
					  b.VALABIL_DELA NOT BETWEEN p.VALABIL_DELA AND p.VALABIL_PANALA    AND 
					  b.VALABIL_PANALA NOT BETWEEN p.VALABIL_DELA AND p.VALABIL_PANALA
				GROUP BY b.PARTENERDEAFACERI
				) src

			UNION ALL
				SELECT  'CURBA DEFINITA IN TABELA CANTITATE OFERTA: NU ARE COEFICIENT ALOCAT !' AS MESAJ_EROARE, PARTENERDEAFACERI , CURBA AS COD , MOD_DE , MOD_TIMP
				FROM    dbo.AFC_EE_INT_ACH_CANT_OFERTA 
				WHERE	CURBA IN 
						(	
						SELECT CURBA AS COD FROM dbo.AFC_EE_INT_ACH_CANT_OFERTA GROUP BY CURBA
							EXCEPT
						SELECT COD FROM dbo.AFC_EE_INT_COEF_CURBA GROUP BY COD
						)
		   UNION ALL
		SELECT       'PARTENERDEAFACERI : ARE BANDA, DAR NU ARE CANTITATE OFERTA !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT PARTENERDEAFACERI, DATA_OFERTA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA GROUP BY PARTENERDEAFACERI, DATA_OFERTA
					EXCEPT
				SELECT PARTENERDEAFACERI, DATA_OFERTA FROM dbo.AFC_EE_INT_ACH_CANT_OFERTA GROUP BY PARTENERDEAFACERI, DATA_OFERTA
				) src
		  UNION ALL
		SELECT       'PARTENERDEAFACERI : ARE CANTITATE OFERTA , DAR NU ARE BANDA ALOCATA!' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT PARTENERDEAFACERI, DATA_OFERTA FROM dbo.AFC_EE_INT_ACH_CANT_OFERTA GROUP BY PARTENERDEAFACERI, DATA_OFERTA
					EXCEPT
				SELECT PARTENERDEAFACERI, DATA_OFERTA FROM dbo.AFC_EE_INT_ACH_SUBPOR_BANDA GROUP BY PARTENERDEAFACERI, DATA_OFERTA
				) src
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_ID_SUBPOR]  
( 
@PERIOADA CHAR(9)
)
RETURNS TABLE
AS
RETURN
		SELECT       'PARTENERDEAFACERI : NU ESTE ALOCAT IN SUBPORTOFOLIU !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT PARTENERDEAFACERI FROM dbo.AFC_MD_FACT WHERE STARECLIENT='ELIGIBIL' AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT ( @PERIOADA )) GROUP BY PARTENERDEAFACERI
					EXCEPT
				SELECT PARTENERDEAFACERI FROM dbo.AFC_EE_INT_MAPARE_SUBPOR GROUP BY PARTENERDEAFACERI
				) src
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_MAPARE_CURBA]  
( 
@PERIOADA CHAR(9)
)
RETURNS TABLE
AS
RETURN
		SELECT       'INSTALATIE : NU ARE CURBA ALOCATA !' AS MESAJ_EROARE, src.INSTALATIE , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
		FROM           
				(	
				SELECT INSTALATIE FROM dbo.AFC_MD_FACT WHERE STARECLIENT='ELIGIBIL' AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM dbo.fn_AFC_PER_ESTIMAT ( @PERIOADA )) GROUP BY INSTALATIE
					EXCEPT
				SELECT INSTALATIE FROM dbo.AFC_EE_INT_MAPARE_CURBA GROUP BY INSTALATIE
				) src

			UNION ALL
		SELECT       'CURBA : NU ARE COEFICIENT ALOCAT !' AS MESAJ_EROARE, INSTALATIE , COD , MOD_DE , MOD_TIMP
		FROM          dbo.AFC_EE_INT_MAPARE_CURBA 
		WHERE	      COD IN 
				(	
				SELECT COD FROM dbo.AFC_EE_INT_MAPARE_CURBA GROUP BY COD
					EXCEPT
				SELECT COD FROM dbo.AFC_EE_INT_COEF_CURBA GROUP BY COD
				)
			UNION ALL
		SELECT       'CURBA : NU ARE COEFICIENT ALOCAT !' AS MESAJ_EROARE, ID_INST AS INSTALATIE , CURBA AS COD , MOD_DE , MOD_TIMP
		FROM          dbo.AFC_EE_INT_MM_CANT 
		WHERE	      CURBA IN 
				(	
				SELECT CURBA FROM dbo.AFC_EE_INT_MM_CANT GROUP BY CURBA
					EXCEPT
				SELECT COD FROM dbo.AFC_EE_INT_COEF_CURBA GROUP BY COD
				)
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_POR_CANT]  
( 
@PERIOADA CHAR(9)
)
RETURNS TABLE
AS
RETURN
		SELECT  'INSTALATIE : EXISTA IN STOCUL DE CONTRACTE , DAR NU ARE CANTITATE!' AS MESAJ_EROARE,src.PERIOADA, src.INSTALATIE,
				0 AS L_01,0 AS L_02,0 AS L_03,0 AS L_04,0 AS L_05,0 AS L_06,
				0 AS L_07,0 AS L_08,0 AS L_09,0 AS L_10,0 AS L_11,0 AS L_12,
				src.ID, src.MOD_DE,src.MOD_TIMP
		FROM
					     (	
						SELECT c.INSTALATIE,c.ID,c.MOD_DE,c.MOD_TIMP,c.PERIOADA
						FROM
						(  SELECT INSTALATIE,ID,MOD_DE,MOD_TIMP,PERIOADA FROM dbo.AFC_EE_INT_POR_CONTR WHERE PERIOADA=@PERIOADA GROUP BY INSTALATIE,ID,MOD_DE,MOD_TIMP,PERIOADA  ) c
						LEFT JOIN
						( SELECT INSTALATIE FROM dbo.AFC_EE_INT_POR_CANT  WHERE PERIOADA=@PERIOADA GROUP BY INSTALATIE ) p
						ON c.INSTALATIE=p.INSTALATIE
						WHERE p.INSTALATIE IS NULL
						GROUP BY c.INSTALATIE,c.ID,c.MOD_DE,c.MOD_TIMP,c.PERIOADA
					     ) src
			UNION ALL
		SELECT        'INSTALATIE : NU EXISTA IN STOCUL DE CONTRACTE !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CANT tgt
		WHERE        PERIOADA=@PERIOADA AND INSTALATIE NOT IN
					     (	SELECT DISTINCT INSTALATIE
						FROM            dbo.AFC_EE_INT_POR_CONTR WHERE PERIOADA=@PERIOADA ) 
			UNION ALL
		SELECT        'CANTITATE : TREBUIE SA FIE >=0 !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CANT tgt
		WHERE		PERIOADA=@PERIOADA AND (
					L_01<0 OR 
					L_02<0 OR 
					L_03<0 OR 
					L_04<0 OR 
					L_05<0 OR 
					L_06<0 OR 
					L_07<0 OR 
					L_08<0 OR 
					L_09<0 OR 
					L_10<0 OR 
					L_11<0 OR 
					L_12<0 
					)
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_POR_CONTR]  
(
@PERIOADA CHAR(9)
 )
RETURNS TABLE
AS
RETURN
		SELECT        'REGIUNE_PORTOFOLIU : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE         PERIOADA=@PERIOADA AND ( REGIUNE_PORTOFOLIU NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_REG_PORTOF src )
												OR REGIUNE_PORTOFOLIU=' '
												OR REGIUNE_PORTOFOLIU IS NULL )
													
			UNION ALL
		SELECT        'PARTENERDEAFACERI: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA  AND LEN(PARTENERDEAFACERI) <> 10 OR PARTENERDEAFACERI IS NULL
			UNION ALL
		SELECT        'DENUMIREPARTENER: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA  AND DENUMIREPARTENER IS NULL OR  DENUMIREPARTENER = ''
			UNION ALL
		SELECT        'IDMANAGER:  NU ESTE DEFINITA IN TABELA DE INPUT  !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA  AND IDMANAGER IS NULL OR IDMANAGER NOT IN (	SELECT DISTINCT IDMANAGER FROM dbo.AFC_INT_MANAGER src )
			UNION ALL
		SELECT        'CUI: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND CUI IS NULL OR CUI = ''
			UNION ALL
		SELECT        'INSTALATIE: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 DE TIP 4XXXXXXXXX!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND  ( LEN(INSTALATIE) <> 10 OR INSTALATIE IS NULL OR INSTALATIE NOT LIKE '4%')
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE	       PERIOADA=@PERIOADA AND CONCAT(0,DIVIZIE) NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT src ) 
			UNION ALL
		SELECT        'CAEN : CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 4 !' AS MESAJ_EROARE, *
		FROM            dbo.AFC_EE_INT_POR_CONTR
		WHERE        PERIOADA=@PERIOADA AND ( LEN(CAEN) NOT BETWEEN 3 AND 4 OR CAEN IS NULL )
			UNION ALL
		SELECT        'CATEGORIETARIF : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, *
		FROM            dbo.AFC_EE_INT_POR_CONTR
		WHERE        PERIOADA=@PERIOADA AND CATEGORIETARIF NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_STARE )
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE       PERIOADA=@PERIOADA AND SEGMENTCLIENT NOT IN (	SELECT DISTINCT COD	FROM dbo.AFC_INT_SEGMENT src )
			UNION ALL
		SELECT        'SEGMENT COMERCIAL : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE       PERIOADA=@PERIOADA AND (SEGM_COM IS NULL OR SEGM_COM NOT IN (	SELECT COD FROM dbo.AFC_INT_SEGMENT_COM WHERE COD!='999' GROUP BY COD ))
			UNION ALL
		SELECT        'SUBSEGMENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND SUBSEGMENT IS NULL OR SUBSEGMENT NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_SUBSEGMENT src )
			UNION ALL
		SELECT        'POD: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND POD IS NULL OR POD = ''
			UNION ALL
		SELECT        'DATAINCEPUTCONTRACT: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE          PERIOADA=@PERIOADA AND ISDATE(CONVERT(CHAR(10),DATAINCEPUTCONTRACT,101)) != 1
					UNION ALL
		SELECT        'DATAINCEPUTCONTRACT: NU POATE SA FIE DE TIP 9999' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE          PERIOADA=@PERIOADA AND DATAINCEPUTCONTRACT LIKE '%9999%'
			UNION ALL
		SELECT        'DATASFARSITCONTRACT: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE           PERIOADA=@PERIOADA AND  ( ISDATE(CONVERT(CHAR(10),DATASFARSITCONTRACT,101))!= 1 OR DATASFARSITCONTRACT IS NULL )
			UNION ALL
		SELECT        'DATASFARSITCONTRACT: NU POATE SA FIE DE TIP 9999' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE           PERIOADA=@PERIOADA AND  DATASFARSITCONTRACT LIKE '%9999%'
			UNION ALL
		SELECT        'DATA_REZ: CAMPUL TREBUIE SA AIBA FORMAT LL/ZZ/AAAA' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE        PERIOADA=@PERIOADA AND DATA_REZ IS NOT NULL AND ISDATE(DATA_REZ) != 1 AND DATA_REZ!=' '
					UNION ALL
		SELECT        'DENUMIREDISTRIBUITOR : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR tgt
		WHERE         PERIOADA=@PERIOADA AND DENUMIREDISTRIBUITOR NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_TIP )
					UNION ALL
		SELECT        'ENERGOINTENSIV : CAMP OBLIGATORIU, POATE SA AIBA VALOAREA DA SAU NU !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POR_CONTR  tgt
		WHERE        PERIOADA=@PERIOADA AND  ENERGOINTENSIV NOT IN  ('DA','NU')
					UNION ALL
		SELECT      'SEGMENT CLIENT DUBLAT : PARTENERDEAFACERI POATE SA AIBA UN SINGUR SEGMENT !' AS MESAJ_EROARE, tgt.*
		FROM        dbo.AFC_EE_INT_POR_CONTR  tgt , 
					(
						SELECT src.PARTENERDEAFACERI, COUNT(*) NR
						FROM   (	
									SELECT PARTENERDEAFACERI, SEGMENTCLIENT
									FROM   AFC_EE_INT_POR_CONTR
									WHERE PERIOADA=@PERIOADA
									GROUP BY  PARTENERDEAFACERI, SEGMENTCLIENT
							   ) src
						GROUP BY src.PARTENERDEAFACERI
						HAVING COUNT(*)>1
					) db
		WHERE       tgt.PERIOADA=@PERIOADA AND  tgt.PARTENERDEAFACERI=db.PARTENERDEAFACERI
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_POT_BM]
 ( 
  @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN
		SELECT        'REGIUNE_PORTOFOLIU : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM tgt
		WHERE         PERIOADA=@PERIOADA AND  TRIM(REGIUNE_PORTOFOLIU) NOT IN  (	SELECT DISTINCT COD 	FROM  dbo.AFC_INT_REG_PORTOF )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_POT_BM tgt
		WHERE	       PERIOADA=@PERIOADA AND CONCAT(0,DIVIZIE) NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_POT_BM tgt
		WHERE         PERIOADA=@PERIOADA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT ) 
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM tgt
		WHERE         PERIOADA=@PERIOADA AND SEGMENTCLIENT NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_SEGMENT )
			UNION ALL
		SELECT        'SEGMENT COMERCIAL : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM tgt
		WHERE       PERIOADA=@PERIOADA AND (SEGM_COM IS NULL OR SEGM_COM NOT IN (	SELECT COD	FROM dbo.AFC_INT_SEGMENT_COM WHERE COD!='999' GROUP BY COD ))
			UNION ALL
		SELECT        'TIPCLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM  tgt
		WHERE         PERIOADA=@PERIOADA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP )
					UNION ALL
		SELECT        'STARECLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM  tgt
		WHERE         PERIOADA=@PERIOADA AND STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE )
							UNION ALL
		SELECT        'MOTIV_MOV_IN NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM  tgt
		WHERE         PERIOADA=@PERIOADA AND MOTIV_MOV_IN NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_MOTIVMOVIN )
					UNION ALL
		SELECT        'CANTITATE : NU POATE SA FIE NEGATIVA !' AS EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_BM tgt
		WHERE		PERIOADA=@PERIOADA AND ( L_01<0 OR L_02<0 OR L_03<0 OR L_04<0 OR L_05<0 	OR L_06<0 OR L_07<0 OR L_08<0 OR L_09<0 OR L_10<0 OR L_11<0 OR L_12<0 )


GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_POT_KA] 
 (
 @PERIOADA CHAR(9)
  )
RETURNS TABLE
AS
RETURN
		SELECT        'REGIUNE_PORTOFOLIU : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA tgt
		WHERE        PERIOADA=@PERIOADA AND REGIUNE_PORTOFOLIU NOT IN  (	SELECT DISTINCT COD	FROM  dbo.AFC_INT_REG_PORTOF )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_POT_KA tgt
		WHERE	       PERIOADA=@PERIOADA AND CONCAT(0,DIVIZIE) NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_POT_KA tgt
		WHERE         PERIOADA=@PERIOADA AND NIVELDETENSIUNE NOT IN    (	SELECT DISTINCT COD FROM  dbo.AFC_INT_NT ) 
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA tgt
		WHERE        PERIOADA=@PERIOADA AND SEGMENTCLIENT NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_SEGMENT )
			UNION ALL
		SELECT        'SEGMENT COMERCIAL : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA tgt
		WHERE       PERIOADA=@PERIOADA AND (SEGM_COM IS NULL OR SEGM_COM NOT IN (	SELECT COD FROM dbo.AFC_INT_SEGMENT_COM WHERE COD!='999' GROUP BY COD ))
			UNION ALL
		SELECT        'TIPCLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA  tgt
		WHERE         PERIOADA=@PERIOADA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP )
					UNION ALL
		SELECT        'STARECLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA  tgt
		WHERE         PERIOADA=@PERIOADA AND STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE )
							UNION ALL
		SELECT        'MOTIV_MOV_IN NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA  tgt
		WHERE         PERIOADA=@PERIOADA AND MOTIV_MOV_IN NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_MOTIVMOVIN )
							UNION ALL
		SELECT        'ENERGOINTENSIV: CAMP OBLIGATORIU, POATE SA AIBA VALOAREA DA SAU NU !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA  tgt
		WHERE         PERIOADA=@PERIOADA AND ENERGOINTENSIV NOT IN  ('DA','NU')
							UNION ALL
		SELECT        'IDMANAGER:  NU ESTE DEFINITA IN TABELA DE INPUT  !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA tgt
		WHERE        PERIOADA=@PERIOADA AND ( IDMANAGER IS NULL OR IDMANAGER NOT IN  (	SELECT DISTINCT IDMANAGER FROM  dbo.AFC_INT_MANAGER  ))
					UNION ALL
		SELECT        'CANTITATE : NU POATE SA FIE NEGATIVA !' AS EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_POT_KA tgt
		WHERE		PERIOADA=@PERIOADA AND ( L_01<0 OR L_02<0 OR L_03<0 OR L_04<0 OR L_05<0 	OR L_06<0 OR L_07<0 OR L_08<0 OR L_09<0 OR L_10<0 OR L_11<0 OR L_12<0 )
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_PRET_FURN]  
(
@PERIOADA CHAR(9) 
)
RETURNS TABLE
AS
RETURN
		SELECT      'PERIOADA : NU A FOST CREATA !' AS EROARE, tgt.*
		FROM         dbo.AFC_EE_INT_PRET_FURN tgt
		WHERE        PERIOADA=@PERIOADA AND PERIOADA NOT IN (	SELECT DISTINCT PER FROM dbo.AFC_INT_PER_CALC src )
			UNION ALL
		SELECT  'INSTALATIE : EXISTA IN STOCUL DE CONTRACTE , DAR NU ARE PRET DE FURNIZARE!' AS EROARE,src.PERIOADA, src.INSTALATIE,
			 'NULL' AS VALABIL_DELA, NULL AS PRET_FURN, NULL AS ID, 'NULL' AS MOD_DE, NULL AS MOD_TIMP
		FROM
			(	
				SELECT c.INSTALATIE,c.PERIOADA
				FROM
						(	
							SELECT PERIOADA, INSTALATIE 
							FROM dbo.AFC_MD_FACT 
							WHERE   ( STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM fn_AFC_PER_ESTIMAT (@PERIOADA)) AND INSTALATIE NOT LIKE '%BM%' )
										AND
									( STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND PERIOADA=@PERIOADA AND LUNA IN ( SELECT DISTINCT LUNA FROM fn_AFC_PER_ESTIMAT (@PERIOADA)) AND INSTALATIE NOT LIKE '%KA%' )
							GROUP BY PERIOADA,INSTALATIE 
						) c
				LEFT JOIN
						( 
						SELECT PERIOADA, INSTALATIE 
						FROM dbo.AFC_EE_INT_PRET_FURN 
						WHERE PERIOADA=@PERIOADA
						GROUP BY PERIOADA, INSTALATIE 
						) p
				ON c.PERIOADA=p.PERIOADA AND c.INSTALATIE=p.INSTALATIE
				WHERE p.INSTALATIE IS NULL
				GROUP BY c.INSTALATIE,c.PERIOADA
			 ) src
			UNION ALL
		SELECT  'INSTALATIE :NU EXISTA IN STOCUL DE CONTRACTE !' AS EROARE, tgt.*
		FROM     dbo.AFC_EE_INT_PRET_FURN tgt
		WHERE    tgt.INSTALATIE IN 
					(	
					SELECT c.INSTALATIE
					FROM
						(  SELECT PERIOADA, INSTALATIE FROM dbo.AFC_EE_INT_PRET_FURN WHERE PERIOADA=@PERIOADA  AND INSTALATIE NOT LIKE 'CS%' GROUP BY PERIOADA,INSTALATIE ) c
					LEFT JOIN
						( SELECT PERIOADA,INSTALATIE FROM dbo.AFC_EE_INT_POR_CONTR WHERE PERIOADA=@PERIOADA  GROUP BY PERIOADA,INSTALATIE ) p
					ON c.PERIOADA=p.PERIOADA AND c.INSTALATIE=p.INSTALATIE
					WHERE p.INSTALATIE IS NULL
					GROUP BY c.INSTALATIE
					) 
			UNION ALL
		SELECT  'INSTALATIE :NU EXISTA IN STOCUL DE CONTRACTE !' AS EROARE, tgt.*
		FROM     dbo.AFC_EE_INT_PRET_FURN tgt
		WHERE    tgt.INSTALATIE IN 
					(	
					SELECT s.INSTALATIE
					FROM
						(  SELECT PERIOADA, INSTALATIE FROM dbo.AFC_EE_INT_PRET_FURN WHERE PERIOADA=@PERIOADA  AND INSTALATIE LIKE 'CS%' GROUP BY PERIOADA,INSTALATIE ) c
					LEFT JOIN
						( SELECT PERIOADA,ID_INST AS INSTALATIE FROM dbo.AFC_EE_INT_SEM_CANT WHERE PERIOADA=@PERIOADA  GROUP BY PERIOADA,ID_INST ) s
					ON c.PERIOADA=s.PERIOADA AND c.INSTALATIE=s.INSTALATIE
					WHERE s.INSTALATIE IS NULL
					GROUP BY s.INSTALATIE
					) 
			UNION ALL
		SELECT    'PRET FURNIZARE : TREBUIE SA FIE >0 !' AS EROARE, tgt.*
		FROM      dbo.AFC_EE_INT_PRET_FURN tgt
		WHERE	  PERIOADA=@PERIOADA AND (PRET_FURN<=0 OR PRET_FURN IS NULL )
			UNION ALL
		SELECT        'VALABIL_DELA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_PRET_FURN tgt
		WHERE          PERIOADA=@PERIOADA AND ISDATE(CONVERT(CHAR(10),VALABIL_DELA,101)) != 1
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_SEM_CANT]  
( 
@PERIOADA CHAR(9)
)
RETURNS TABLE
AS
RETURN
		SELECT        'REGIUNE_PORTOFOLIU : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE        PERIOADA=@PERIOADA AND REGIUNE_PORTOFOLIU NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_REG_PORTOF )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE	      PERIOADA=@PERIOADA AND DIVIZIE NOT IN   (  SELECT DISTINCT COD  FROM  dbo.AFC_INT_DIVIZIE )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE         PERIOADA=@PERIOADA AND NIVELDETENSIUNE NOT IN  (	SELECT DISTINCT COD  FROM  dbo.AFC_INT_NT ) 
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE         PERIOADA=@PERIOADA AND SEGMENTCLIENT NOT IN  ( SELECT DISTINCT COD FROM  dbo.AFC_INT_SEGMENT )
			UNION ALL
		SELECT        'SEGMENT COMERCIAL : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE       PERIOADA=@PERIOADA AND (SEGM_COM IS NULL OR SEGM_COM NOT IN (	SELECT COD	FROM dbo.AFC_INT_SEGMENT_COM WHERE COD!='999' GROUP BY COD ))
			UNION ALL
		SELECT        'TIPCLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT  tgt
		WHERE          PERIOADA=@PERIOADA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP )
					UNION ALL
		SELECT        'STARECLIENT: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT  tgt
		WHERE         PERIOADA=@PERIOADA AND  STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE )
							UNION ALL
		SELECT        'MOTIV_MOV_IN NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT  tgt
		WHERE          PERIOADA=@PERIOADA AND MOTIV_MOV_IN NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_MOTIVMOVIN )
							UNION ALL
		SELECT        'ENERGOINTENSIV: CAMP OBLIGATORIU, POATE SA AIBA VALOAREA DA SAU NU !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT  tgt
		WHERE         PERIOADA=@PERIOADA AND  ENERGOINTENSIV NOT IN  ('DA','NU')
							UNION ALL
		SELECT        'IDMANAGER:  NU ESTE DEFINITA IN TABELA DE INPUT  !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE         PERIOADA=@PERIOADA AND ( IDMANAGER IS NULL OR TRIM(IDMANAGER) NOT IN  (	SELECT DISTINCT IDMANAGER FROM dbo.AFC_INT_MANAGER  ) )
							UNION ALL
		SELECT        'DATAINCEPUTCONTRACT: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE         PERIOADA=@PERIOADA AND ISDATE(CONVERT(CHAR(10),DATAINCEPUTCONTRACT,101)) != 1
							UNION ALL
		SELECT        'DATAINCEPUTCONTRACT: NU POATE SA FIE DE TIP 9999' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE          PERIOADA=@PERIOADA AND DATAINCEPUTCONTRACT LIKE '9999%'
					UNION ALL
		SELECT        'DATASFARSITCONTRACT: NU POATE SA FIE DE TIP 9999' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE           PERIOADA=@PERIOADA AND  DATASFARSITCONTRACT LIKE '9999%'
							UNION ALL
		SELECT        'DATASFARSITCONTRACT: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE        PERIOADA=@PERIOADA AND ISDATE(CONVERT(CHAR(10),DATASFARSITCONTRACT,101)) != 1
							UNION ALL
		SELECT        'CANTITATE : NU POATE SA FIE NEGATIVA !' AS EROARE, tgt.*
		FROM            dbo.AFC_EE_INT_SEM_CANT tgt
		WHERE	       PERIOADA=@PERIOADA AND ( L_01<0 OR L_02<0 OR L_03<0 OR L_04<0 OR L_05<0 	OR L_06<0 OR L_07<0 OR L_08<0 OR L_09<0 OR L_10<0 OR L_11<0 OR L_12<0 )
GO
/

CREATE FUNCTION [dbo].[fn_AFC_EE_VF_TARIF_DISTR]  
(
@PERIOADA CHAR(9) 
)
RETURNS TABLE
AS
RETURN
		
	SELECT 'LIPSA TARIF DE DISTRIBUTIE' AS MESAJ_EROARE,
		src.PERIOADA, src.DENUMIREDISTRIBUITOR, src.NIVELDETENSIUNE, NULL AS VALABIL_DELA,
		NULL AS TARIF_DISTR, NULL AS ID, NULL AS MOD_DE, NULL AS MOD_TIMP
	FROM    (
		SELECT PERIOADA, DENUMIREDISTRIBUITOR , NIVELDETENSIUNE 
		from AFC_MD_FACT
		WHERE PERIOADA=@PERIOADA
		GROUP BY PERIOADA, DENUMIREDISTRIBUITOR , NIVELDETENSIUNE 
		EXCEPT
		SELECT PERIOADA, DENUMIREDISTRIBUITOR , NIVELDETENSIUNE  
		FROM AFC_EE_INT_TARIF_DISTR
		WHERE PERIOADA=@PERIOADA
		GROUP BY PERIOADA, DENUMIREDISTRIBUITOR , NIVELDETENSIUNE
		) src
		UNION ALL 
	SELECT  'TARIF DISTRIBUTIE : TREBUIE SA FIE >=0 !' AS MESAJ_EROARE, tgt.*
	FROM     dbo.AFC_EE_INT_TARIF_DISTR tgt
	WHERE	PERIOADA=@PERIOADA AND (TARIF_DISTR<0 OR TARIF_DISTR IS NULL )
		UNION ALL
	SELECT  'VALABIL_DELA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
	FROM     dbo.AFC_EE_INT_TARIF_DISTR tgt
	WHERE    PERIOADA=@PERIOADA AND ISDATE(CONVERT(CHAR(10),VALABIL_DELA,101)) != 1
GO
/

CREATE FUNCTION [dbo].[fn_AFC_LOG] 
( 
@PERIOADA CHAR(9) ,
@SP_NUME CHAR(100)
)
RETURNS TABLE 
AS
RETURN

	
	SELECT PERIOADA,[OBJECT_NAME], DATA_RUN,USER_RUN,MESAGE_TYPE,MESAGE_TEXT, ORDINE
	FROM AFC_LOG
	WHERE PERIOADA=@PERIOADA AND [OBJECT_NAME] IN 
							( 
							  SELECT DISTINCT referenced_entity_name 
							  FROM sys.dm_sql_referenced_entities ( @SP_NUME , 'OBJECT')
								UNION ALL
							  SELECT REPLACE(@SP_NUME,'dbo.','')
							)                                                                                  
	GROUP BY PERIOADA,[OBJECT_NAME], DATA_RUN,USER_RUN,MESAGE_TYPE,MESAGE_TEXT, ORDINE
GO
